[data-component="display-options-editor"] {
  width: 280px;
  padding: var(--lookbook-spacing-medium);
  padding-top: var(--lookbook-spacing-small);
  background: #fff;

  .title {
    font-size: var(--lookbook-font-size-medium);
    margin-bottom: var(--lookbook-spacing-medium);
  }

  .display-option + .display-option {
    margin-top: var(--lookbook-spacing-medium);
  }

  .display-option {
    label {
      font-weight: var(--lookbook-font-weight-semibold);
      display: block;
      margin-bottom: var(--lookbook-spacing-x-small);
    }
    select {
      font-size: var(--lookbook-font-size-small);
    }
  }
}
