<div id="landing-content">
  <div class="container">
    <h1>Lookbook test app</h1>

    <div>
      <%= link_to lookbook.root_path, role: "button" do %>
        Go to the Lookbook UI &rarr;
      <% end %>
    </div>
  </div>
</div>
