.surface {
  /*background-color: var(--lookbook-surface-bg);
  color: var(--lookbook-surface-fg);
  position: relative;
  border: 1px solid var(--lookbook-surface-border);*/

  /*&::before {
    content: "";
    position: absolute;
    inset: 0px;
    pointer-events: none;
    border: 1px solid var(--lookbook-surface-border);
  }*/
}

mark,
.mark {
  --marker-bg: var(--lookbook-marker-bg-yellow);
  --marker-fg: color-mix(in oklab, var(--marker-bg), black 60%);

  margin: 0 -0.5em 0 -0.4em;
  padding: 0.1em 0.5em 0.1em 0.4em;
  border-radius: 0.6em 0.3em;
  color: var(--marker-fg);

  background-color: transparent;
  background-image: linear-gradient(
    to right,
    var(--marker-bg) 50%,
    color-mix(in oklab, var(--marker-bg) 40%, transparent) 100%
  );

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.mark.green,
mark.green {
  --marker-bg: var(--lookbook-marker-bg-green);
}

.mark.pink,
mark.pink {
  --marker-bg: var(--lookbook-marker-bg-pink);
}

.highlight {
  position: relative;

  span {
    position: relative;
    display: inline-flex;
    z-index: 2;
  }

  &::before {
    content: "";
    display: block;
    background-color: var(--lookbook-marker-bg);
    position: absolute;
    z-index: 1;
    inset: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }
}

.vh {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
