[data-component="preview-inspector"] {
  height: 100%;
  width: 100%;

  .inspector-layout {
    --divider-width: 1px;
    --max: calc(100% - 200px);

    height: 100%;
    width: 100%;

    &::part(divider) {
      background-color: var(--lookbook-divider-color);
    }
  }

  &.drawer-closed .inspector-layout {
    &::part(end) {
      pointer-events: none;
    }

    &::part(divider) {
      display: none;
    }
  }
}
