[data-component="preview-inspector"] {
  height: 100%;
  width: 100%;

  .inspector-layout {
    height: 100%;
    width: 100%;
  }

  &.drawer-closed {
    #inspector-panes {
      grid-template-rows: 1fr !important;

      > .pane-group-gutter,
      > .pane-group-pane:not(:first-child) {
        display: none;
      }
    }
  }
}
