<%= render component_tag(key: id, x: {data: "previewInspector", ":class": "{'drawer-closed':drawerClosed}"}) do %> 
  <% if drawer? %> 
    <sl-split-panel
      x-ref="splitter"
      class="inspector-layout"
      primary="end"
      :position="drawerPosition"
      @sl-reposition="drawerPosition = $el.position"
      vertical>
      <section slot="start">
        <%= render preview_pane %>
      </section>
      <section slot="end">
        <%= render drawer_pane %>
      </section>
    </sl-split-panel>
  <% else %>
    <%= render preview_pane %>
  <% end %>
<% end %>
