[data-component="toolbar-button"] {
  display: inline-block;
  width: fit-content;
  line-height: 1;
  color: var(--lb-toolbar-button-color);

  .icon {
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: var(--lb-toolbar-button-color-hover);
  }

  &:active,
  &.active {
    color: var(--lb-toolbar-button-color-active);
  }

  .toolbar-button-content {
    line-height: 1;
  }

  &[data-size="md"] {
    padding: 0.75rem;
    height: var(--lb-size-3xl);
    width: var(--lb-size-3xl);
  }
}
