
<%= lb_inspector_panel(id: dom_id(target, :metadata_panel), padded: true) do %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>UUID</td>
        <td><%= target.uuid %></td>
      </tr>
      <tr>
        <td>Preview file path</td>
        <td><%= preview.preview_app_file_path %></td>
      </tr>
      <tr>
        <td>Display options</td>
        <td><%= @display_options.to_json %></td>
      </tr>
    </tbody>
  </table>
<% end %>
