<style>
  .panel {
    padding: var(--lb-panel-padding);
  }
</style>

<div class="panel">
  <%=
    lb_metadata_table do |data|
      data.with_entry("UUID", target.uuid)
      data.with_entry("Permalink", link_to(permalink_path(target.uuid), permalink_path(target.uuid)))
      data.with_entry("Preview file path", path_relative_to_app(preview.file_path))
    end
  %>
</div>
