<style>
  .panel {
    padding: var(--lb-panel-padding);
  }
</style>

<div class="panel">
  <%= lb_table do |table| %>
    <% table.with_header do |header| %>
      <% header.with_cell("Name", collapse: true) %>
      <% header.with_cell("Value") %>
    <% end %>

    <% table.with_row do |row| %>
      <% row.with_cell(collapse: true) do %>
        <strong>UUID</strong>
      <% end %>
      <% row.with_cell do %>
        <code><%= target.uuid %></code>
      <% end %>
    <% end %>

    <% table.with_row do |row| %>
      <% row.with_cell(collapse: true) do %>
        <strong>Permalink</strong>
      <% end %>
      <% row.with_cell do %>
        <code><%= link_to permalink_path(target.uuid), permalink_path(target.uuid) %></code>
      <% end %>
    <% end %>

    <% table.with_row do |row| %>
      <% row.with_cell(collapse: true) do %>
        <strong>Preview file path</strong>
      <% end %>
      <% row.with_cell do %>
        <code><%= preview.preview_app_file_path %></code>
      <% end %>
    <% end %>
  <% end %>
</div>
