<style>
  .panel {
    padding: var(--lb-panel-padding);
    background: var(--lb-color-surface-2);
    height: 100%;
  }

  section {
    padding-block: var(--lb-spacing-md);
  }

  section:first-child {
    padding-top: 0;
  }

  section + section {
    border-top: 1px dashed var(--lb-color-surface-divider);
  }

  .label {
    color: var(--lb-color-content-1);
    margin-bottom: var(--lb-spacing-sm);
    font-weight: 500;
  }

  .placeholder {
    color: var(--lb-color-content-3);
    font-style: italic;
  }
</style>

<div class="panel">
  <% if target.scenarios_with_notes.any? %>
  <% target.scenarios_with_notes do |scenario, notes| %>
  <section>
    <% if target.scenarios.many? %>
      <h3 class="label"><%= scenario.label %></h3>
    <% end %>
    <div class="notes">
      <%= lb_prose { notes } %>
    </div>
  </section>
  <% end %>
  <% else %>
  <div class="placeholder">
    <p>No notes available.</p>
  </div>
  <% end %>
</div>
