<style>
  .panel {
    padding: var(--lookbook-panel-padding);
  }

  section {
    padding-block: var(--lookbook-spacing-medium);
  }

  section:first-child {
    padding-top: 0;
  }

  section + section {
    border-top: 1px dashed var(--lookbook-color-base-400);
  }

  .label {
    color: var(--lookbook-color-base-800);
    margin-bottom: var(--lookbook-spacing-small);
    font-weight: 500;
  }

  .placeholder {
    color: var(--lookbook-color-base-400);
    font-style: italic;
  }
</style>

<div class="panel">
  <% if target.scenarios_with_notes.any? %>
  <% target.scenarios_with_notes do |scenario, notes| %>
  <section>
    <% if target.scenarios.many? %>
      <h3 class="label"><%= scenario.label %></h3>
    <% end %>
    <div class="notes">
      <%= lb_prose { notes } %>
    </div>
  </section>
  <% end %>
  <% else %>
  <div class="placeholder">
    <p>No notes available.</p>
  </div>
  <% end %>
</div>
