<style>
  .panel {
    padding: var(--lookbook-panel-padding);
  }
</style>

<div class="panel">
  <table>
    <thead>
      <tr>
        <th class="label">Name</th>
        <th class="name">Param</th>
        <th class="description">Info</th>
        <th class="editor">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% target.params.each do |param| %>
        <tr @keydown.stop>
          <td class="label">
            <%= param.label %>
          </td>
          <td class="name">
            <code><%= param.name %></code>
          </td>
          <td class="description">
            <%= param.description || raw("&mdash;") %>  
          </td>
          <td class="editor">
            <%= render Lookbook::UI::ParamEditor.new(param: param, value: request.query_parameters[param.name]) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>