<% if @params.none? %>
  <div class="p-4 w-full h-full bg-lookbook-prose-bg">
    <%= lookbook_render :prose do %>
      <em class='opacity-50'>No params configured.</em>
    <% end %>
  </div>
<% else %>
  <div class="h-full overflow-x-hidden">
    <%= lookbook_render "params/editor" do |editor| %>
      <% @params.each do |param| %>
        <% editor.field param: param %>
      <% end %>
    <% end %>
  </div>
<% end %>
