[data-component="code"] {
  display: block;

  .code-raw {
    display: none;
  }

  .code-highlighted {
    height: 100%;

    code,
    pre {
      display: block;
      color: var(--sl-color-neutral-800);
      font-family: var(--sl-font-mono);
      direction: ltr;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      font-size: var(--sl-font-size-small);
      line-height: 1.5;

      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;

      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;

      &:focus-visible {
        outline: 0;
      }
    }

    pre {
      padding-inline: var(--sl-spacing-small) !important;
      padding-block: var(--sl-spacing-small) !important;
    }

    pre > code {
      font-size: var(--sl-font-size-small);
      line-height: 1.5;
    }
  }

  &.wrap-lines .code-highlighted code {
    white-space: pre-wrap;
  }
}
