<%= render component_tag(x: {data: "code({lang: #{language.to_json}})"}) do %>
  <div class="code-highlighted" x-ref="output"></div>
  <code class="code-raw" x-ref="source"><%= source %></code>
<% end %>