[data-component="status-bar-item"] {
  position: relative;
  height: 100%;

  .status-bar-item-summary {
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--lookbook-spacing-2x-small);
    user-select: none;

    .icon {
      flex: none;
      height: 100%;
    }
  }

  .status-bar-item-panel {
    position: absolute;
    right: 0;
    top: calc(-1 * var(--lookbook-spacing-small));
    transform: translateY(-100%);
    width: fit-content;
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  &.with-panel .status-bar-item-summary {
    cursor: pointer;
  }

  &[data-theme="success"] {
    .status-bar-item-summary .icon {
      color: var(--lookbook-color-success-700);
    }
  }

  &[data-theme="error"] {
    .status-bar-item-summary {
      color: var(--lookbook-color-danger-600);

      .icon {
        color: var(--lookbook-color-danger-600);
      }
    }
  }

  &[data-theme="warning"] {
    .status-bar-item-summary {
      color: var(--lookbook-color-warning-600);

      .icon {
        color: var(--lookbook-color-warning-600);
      }
    }
  }
}
