[data-component="status-bar-item"] {
  .status-bar-item-summary {
    height: var(--lookbook-status-bar-height);
    display: flex;
    align-items: center;
    gap: var(--lookbook-spacing-2x-small);

    sl-icon {
      flex: none;
      font-size: var(--lookbook-font-size-medium);
    }
  }

  &.with-panel .status-bar-item-summary {
    cursor: pointer;
  }

  sl-dropdown {
    &::part(panel) {
      border-radius: 0;
    }
  }

  &[data-theme="success"] {
    .status-bar-item-summary sl-icon {
      color: var(--lookbook-color-success-700);
    }
  }

  &[data-theme="error"] {
    .status-bar-item-summary {
      color: var(--lookbook-color-danger-600);

      sl-icon {
        color: var(--lookbook-color-danger-600);
      }
    }
  }

  &[data-theme="warning"] {
    .status-bar-item-summary {
      color: var(--lookbook-color-warning-600);

      sl-icon {
        color: var(--lookbook-color-warning-600);
      }
    }
  }
}
