<%= render component_tag(x: {
  data: "statusBarItem",
  "@page-load:start.document": "hidePanel",
  "@page-update:start.document": "hidePanel",
  }, data: {theme: theme}, class: {"with-panel": panel?}) do %>
  <div class="status-bar-item-summary">
    <%= lb_icon icon %>
    <% if label.present? %>
      <span><%= label %></span>
    <% end %>
  </div>
  <% if panel? %>
    <template x-teleport="body">
      <div x-ref="dropdown">
        <%= panel %>
      </div>
    </template>
  <% end %>
<% end %>
