<%= render component_tag(x: {data: "statusBarItem"}, data: {theme: theme}, class: {"with-panel": panel?}) do %>
  <div class="status-bar-item-summary" @click="expanded = !expanded">
    <%= lb_icon icon %>
    <% if label.present? %>
      <span><%= label %></span>
    <% end %>
  </div>
  <% if panel? %>
    <div class="status-bar-item-panel" x-show="expanded" @click.outside="expanded = false" x-cloak>
      <%= panel %>
    </div>
  <% end %>
<% end %>
