[data-component="panel"] {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .panel-toolbar {
    position: absolute;
    z-index: 2;
    background: #fff;
    border-radius: 8px;
    right: var(--sl-spacing-2x-small);
    top: var(--sl-spacing-x-small);
    display: flex;
    width: fit-content;
    align-items: center;
    border: 1px solid var(--lookbook-divider-color);

    sl-button-group {
      font-size: var(--lookbook-toolbar-icon-button-size);
    }

    sl-copy-button,
    sl-icon-button {
      color: var(--lookbook-toolbar-icon-button-color);
    }
  }

  .panel-content {
    z-index: 1;
    height: 100%;
    overflow: hidden;
  }

  &[data-padded="true"] {
    .panel-content {
      padding-inline: var(--sl-spacing-medium);
    }
  }

  &[data-scrollable="true"] {
    .panel-content {
      overflow: auto;
    }
  }
}
