[data-component="toolbar"] {
  background-color: white;
  height: var(--lookbook-toolbar-height);
  display: flex;
  align-items: center;
  padding-left: var(--lookbook-spacing-medium);
  border-bottom: 1px solid var(--lookbook-divider-color);

  .toolbar-section {
    display: flex;
    align-items: center;
  }

  .toolbar-section:last-child {
    margin-left: auto;
  }

  .toolbar-label {
    display: flex;
    align-items: center;
    font-size: var(--lookbook-font-size-small);
    margin-right: var(--lookbook-spacing-medium);
  }

  [data-component="button-group"] {
    & + [data-component="button-group"] {
      border-left: 1px solid var(--lookbook-divider-color);
    }

    .button {
      color: var(--lookbook-color-base-500);

      &:hover {
        color: var(--lookbook-color-base-700);
      }

      &:active {
        color: var(--lookbook-color-accent-700);
      }
    }
  }

  /* 

  .toolbar-actions {
    margin-left: auto;

    .button {
      margin-inline: 3px;
      color: var(--lookbook-color-base-500);

      &:hover {
        color: var(--lookbook-color-base-700);
      }

      &:active {
        color: var(--lookbook-color-accent-700);
      }
    }

    [data-component="button"] {
      padding: 0.5rem;
      height: 2rem;
      width: 2rem;
    } 
  }*/
}
