<%= render component_tag(x: {"data": "toolbar"}) do %>
  <% if title? %>
    <h3 class="toolbar-title">
      <%= title %>
    </h3>
  <% end %>

    <% if tabs? %>
    <nav role="tablist" class="toolbar-tabs" x-ref="tabs">
      <%= safe_join(tabs) %>
    </nav>
  <% end %>
  
  <% if actions? %>
    <%= render Lookbook::UI::ButtonGroup.new(class: "toolbar-actions") do |group| %>
      <% actions.reverse.each do |action| %>
        <% group.with_button { action } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
