[data-component="toolbar"] {
  color: var(--lookbook-toolbar-color);
  background-color: var(--lookbook-toolbar-background-color);
  height: var(--lookbook-toolbar-height);
  display: flex;
  align-items: center;
  padding-left: var(--lookbook-spacing-medium);
  border-bottom: 1px solid var(--lookbook-app-divider-color);

  .toolbar-section {
    display: flex;
    align-items: center;
  }

  .toolbar-section:last-child {
    margin-left: auto;
  }

  .toolbar-label {
    display: flex;
    align-items: center;
    font-size: var(--lookbook-font-size-small);
    margin-right: var(--lookbook-spacing-medium);
  }

  .toolbar-button-groups {
    display: flex;
    align-items: center;
  }

  [data-component="button-group"] {
    & + [data-component="button-group"] {
      border-left: 1px solid var(--lookbook-app-divider-color);
    }
  }
}
