<%= render component_tag(button_tag,
  x: {
    data: "button",
    "@click": (click if click.present?),
  },
  data: {
    size: size,
    tooltip: tooltip
  },
  class: ["button", {"icon-only": content.blank?}]
) do %>
  <div class="button-content" x-ref="content">
    <% if icon? && icon_position == :start %>
      <%= icon %>
    <% end %>
    
    <% if content.present? %>
      <span class="button-label"><%= content %></span>      
    <% end %>

    <% if icon? && icon_position == :end %>
      <%= icon %>
    <% end %>
  </div>
<% end %>
