[data-component="button"] {
  display: inline-block;
  width: fit-content;
  line-height: 0;
  color: var(--lookbook-color-base-500);

  .button-icon {
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: var(--lookbook-color-base-700);
  }

  &:active,
  &.active {
    color: var(--lookbook-color-accent-700);
  }

  &[data-size="md"] {
    padding: 0.75rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
