<%= render component_tag(button_tag,
  x: {
    data: "button",
    "@click": (click if click.present?),
    "@page-load:start.document": "hidePopovers",
    "show": (show if show.present?),
    ":class": "{active: dropdownOpen}"
  },
  data: {
    size: size,
    tooltip: tooltip
  },
  class: "button"
) do %>
  <div class="button-content" x-ref="content">
    <%= render Lookbook::UI::Icon.new(name: icon, class: "button-icon") %>
  </div>
  <% if dropdown %>
    <template x-teleport="body">
      <div x-ref="dropdown">
        <%= dropdown %>
      </div>
    </template>
  <% end %>
<% end %>
