<div class="prose bg-pink-50 border-2 border-dashed border-pink-400 rounded-lg p-8 text-center mx-auto">
  <h3 class="font-bold text-xl mb-4">View template example <%= emoji %></h3>
  <p>This is a regular Rails view template being rendered by Lookbook.</p>
</div>