/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [x-cloak] {
    display: none !important;
  }

  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply transition-colors rounded-full	bg-clip-content bg-gray-200;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }
}

@layer components {
  /* Layout */

  .layout-container {
    @apply grid grid-cols-[220px_1fr] lg:grid-cols-[280px_1fr] xl:grid-cols-[calc(((100vw_-_1280px)_/_2)_+_280px)_1fr] grid-flow-row overflow-hidden;
  }

  .layout-container .layout-content {
    @apply px-6 lg:px-8;
  }

  .layout-container .layout-column:first-child {
    @apply border-r border-transparent flex;
  }

  .layout-container .layout-column:first-child .layout-content {
    @apply w-full xl:w-[280px] ml-auto;
  }

  .layout-container .layout-column:last-child .layout-content {
    @apply max-w-[1000px] w-full;
  }

  /* Code highlighting */

  #content pre.highlight {
    @apply bg-white text-gray-800 border border-gray-200 rounded;
  }
  #content pre.highlight .hll {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 3px;
  }
  #content pre.highlight .c {
    color: #999988;
    font-style: italic;
  }
  #content pre.highlight .err {
    /* color: #a61717;
        background-color: #e3d2d2; */
  }
  #content pre.highlight .k {
    font-weight: bold;
  }
  #content pre.highlight .o {
    font-weight: bold;
  }
  #content pre.highlight .cm {
    color: #999988;
    font-style: italic;
  }
  #content pre.highlight .cp {
    color: #999999;
    font-weight: bold;
  }
  #content pre.highlight .c1 {
    color: #999988;
    font-style: italic;
  }
  #content pre.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
  }
  #content pre.highlight .gd {
    color: #000000;
    background-color: #ffdddd;
  }
  #content pre.highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa;
  }
  #content pre.highlight .ge {
    font-style: italic;
  }
  #content pre.highlight .gr {
    color: #aa0000;
  }
  #content pre.highlight .gh {
    color: #999999;
  }
  #content pre.highlight .gi {
    color: #000000;
    background-color: #ddffdd;
  }
  #content pre.highlight .gi .x {
    color: #000000;
    background-color: #aaffaa;
  }
  #content pre.highlight .go {
    color: #888888;
  }
  #content pre.highlight .gp {
    color: #555555;
  }
  #content pre.highlight .gs {
    font-weight: bold;
  }
  #content pre.highlight .gu {
    color: #800080;
    font-weight: bold;
  }
  #content pre.highlight .gt {
    color: #aa0000;
  }
  #content pre.highlight .kc {
    font-weight: bold;
  }
  #content pre.highlight .kd {
    font-weight: bold;
  }
  #content pre.highlight .kn {
    font-weight: bold;
  }
  #content pre.highlight .kp {
    font-weight: bold;
  }
  #content pre.highlight .kr {
    font-weight: bold;
  }
  #content pre.highlight .kt {
    color: #445588;
    font-weight: bold;
  }
  #content pre.highlight .m {
    color: #009999;
  }
  #content pre.highlight .s {
    color: #dd1144;
  }
  #content pre.highlight .n {
    color: #333333;
  }
  #content pre.highlight .na {
    color: teal;
  }
  #content pre.highlight .nb {
    color: #0086b3;
  }
  #content pre.highlight .nc {
    color: #445588;
    font-weight: bold;
  }
  #content pre.highlight .no {
    color: teal;
  }
  #content pre.highlight .ni {
    color: purple;
  }
  #content pre.highlight .ne {
    color: #990000;
    font-weight: bold;
  }
  #content pre.highlight .nf {
    color: #990000;
    font-weight: bold;
  }
  #content pre.highlight .nn {
    color: #555555;
  }
  #content pre.highlight .nt {
    color: navy;
  }
  #content pre.highlight .nv {
    color: teal;
  }
  #content pre.highlight .ow {
    font-weight: bold;
  }
  #content pre.highlight .w {
    color: #bbbbbb;
  }
  #content pre.highlight .mf {
    color: #009999;
  }
  #content pre.highlight .mh {
    color: #009999;
  }
  #content pre.highlight .mi {
    color: #009999;
  }
  #content pre.highlight .mo {
    color: #009999;
  }
  #content pre.highlight .sb {
    color: #dd1144;
  }
  #content pre.highlight .sc {
    color: #dd1144;
  }
  #content pre.highlight .sd {
    color: #dd1144;
  }
  #content pre.highlight .s2 {
    color: #dd1144;
  }
  #content pre.highlight .se {
    color: #dd1144;
  }
  #content pre.highlight .sh {
    color: #dd1144;
  }
  #content pre.highlight .si {
    color: #dd1144;
  }
  #content pre.highlight .sx {
    color: #dd1144;
  }
  #content pre.highlight .sr {
    color: #009926;
  }
  #content pre.highlight .s1 {
    color: #dd1144;
  }
  #content pre.highlight .ss {
    color: #990073;
  }
  #content pre.highlight .bp {
    color: #999999;
  }
  #content pre.highlight .vc {
    color: teal;
  }
  #content pre.highlight .vg {
    color: teal;
  }
  #content pre.highlight .vi {
    color: teal;
  }
  #content pre.highlight .il {
    color: #009999;
  }
  #content pre.highlight .gc {
    color: #999;
    background-color: #eaf2f5;
  }
}
