/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [x-cloak] {
    display: none !important;
  }

  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply transition-colors rounded-full	bg-clip-content bg-gray-200;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }
}

@layer components {
  /* Layout */

  .layout-container {
    @apply grid grid-cols-[220px_1fr] lg:grid-cols-[280px_1fr] xl:grid-cols-[calc(((100vw_-_1280px)_/_2)_+_280px)_1fr] grid-flow-row overflow-hidden;
  }

  .layout-container .layout-content {
    @apply px-6 lg:px-8;
  }

  .layout-container .layout-column:first-child {
    @apply border-r border-transparent flex;
  }

  .layout-container .layout-column:first-child .layout-content {
    @apply w-full xl:w-[280px] ml-auto;
  }

  .layout-container .layout-column:last-child .layout-content {
    @apply max-w-[1000px] w-full;
  }

  #markdown-toc {
    &:before {
      @apply font-black mb-3 ml-1.5 mt-3 block uppercase tracking-wide text-xs;
      content: "On this page...";
    }
  }

  #page-main {
    /* Table of contents */

    * + #markdown-toc {
      @apply mt-8;
    }

    #markdown-toc {
      @apply list-none px-4 py-2 border border-gray-300 rounded bg-gray-50 xl:hidden;

      li {
        @apply mt-1 mb-1;
      }

      a {
        @apply no-underline hover:underline;
      }
    }

    .prose h2 {
      @apply scroll-mt-6;
    }

    /* Code highlighting */

    pre.highlight {
      @apply bg-white text-gray-800 border border-gray-200 rounded;
    }
    pre.highlight .hll {
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      padding: 6px 10px;
      border-radius: 3px;
    }
    pre.highlight .c {
      color: #999988;
      font-style: italic;
    }
    pre.highlight .err {
      /* color: #a61717;
          background-color: #e3d2d2; */
    }
    pre.highlight .k {
      font-weight: bold;
    }
    pre.highlight .o {
      font-weight: bold;
    }
    pre.highlight .cm {
      color: #999988;
      font-style: italic;
    }
    pre.highlight .cp {
      color: #999999;
      font-weight: bold;
    }
    pre.highlight .c1 {
      color: #999988;
      font-style: italic;
    }
    pre.highlight .cs {
      color: #999999;
      font-weight: bold;
      font-style: italic;
    }
    pre.highlight .gd {
      color: #000000;
      background-color: #ffdddd;
    }
    pre.highlight .gd .x {
      color: #000000;
      background-color: #ffaaaa;
    }
    pre.highlight .ge {
      font-style: italic;
    }
    pre.highlight .gr {
      color: #aa0000;
    }
    pre.highlight .gh {
      color: #999999;
    }
    pre.highlight .gi {
      color: #000000;
      background-color: #ddffdd;
    }
    pre.highlight .gi .x {
      color: #000000;
      background-color: #aaffaa;
    }
    pre.highlight .go {
      color: #888888;
    }
    pre.highlight .gp {
      color: #555555;
    }
    pre.highlight .gs {
      font-weight: bold;
    }
    pre.highlight .gu {
      color: #800080;
      font-weight: bold;
    }
    pre.highlight .gt {
      color: #aa0000;
    }
    pre.highlight .kc {
      font-weight: bold;
    }
    pre.highlight .kd {
      font-weight: bold;
    }
    pre.highlight .kn {
      font-weight: bold;
    }
    pre.highlight .kp {
      font-weight: bold;
    }
    pre.highlight .kr {
      font-weight: bold;
    }
    pre.highlight .kt {
      color: #445588;
      font-weight: bold;
    }
    pre.highlight .m {
      color: #009999;
    }
    pre.highlight .s {
      color: #dd1144;
    }
    pre.highlight .n {
      color: #333333;
    }
    pre.highlight .na {
      color: teal;
    }
    pre.highlight .nb {
      color: #0086b3;
    }
    pre.highlight .nc {
      color: #445588;
      font-weight: bold;
    }
    pre.highlight .no {
      color: teal;
    }
    pre.highlight .ni {
      color: purple;
    }
    pre.highlight .ne {
      color: #990000;
      font-weight: bold;
    }
    pre.highlight .nf {
      color: #990000;
      font-weight: bold;
    }
    pre.highlight .nn {
      color: #555555;
    }
    pre.highlight .nt {
      color: navy;
    }
    pre.highlight .nv {
      color: teal;
    }
    pre.highlight .ow {
      font-weight: bold;
    }
    pre.highlight .w {
      color: #bbbbbb;
    }
    pre.highlight .mf {
      color: #009999;
    }
    pre.highlight .mh {
      color: #009999;
    }
    pre.highlight .mi {
      color: #009999;
    }
    pre.highlight .mo {
      color: #009999;
    }
    pre.highlight .sb {
      color: #dd1144;
    }
    pre.highlight .sc {
      color: #dd1144;
    }
    pre.highlight .sd {
      color: #dd1144;
    }
    pre.highlight .s2 {
      color: #dd1144;
    }
    pre.highlight .se {
      color: #dd1144;
    }
    pre.highlight .sh {
      color: #dd1144;
    }
    pre.highlight .si {
      color: #dd1144;
    }
    pre.highlight .sx {
      color: #dd1144;
    }
    pre.highlight .sr {
      color: #009926;
    }
    pre.highlight .s1 {
      color: #dd1144;
    }
    pre.highlight .ss {
      color: #990073;
    }
    pre.highlight .bp {
      color: #999999;
    }
    pre.highlight .vc {
      color: teal;
    }
    pre.highlight .vg {
      color: teal;
    }
    pre.highlight .vi {
      color: teal;
    }
    pre.highlight .il {
      color: #009999;
    }
    pre.highlight .gc {
      color: #999;
      background-color: #eaf2f5;
    }
  }

  #page-sidebar {
    #markdown-toc {
      @apply list-none relative -top-2 pl-6 py-2 border-l border-gray-300 text-sm space-y-2 opacity-70 hover:opacity-100 transition;

      a {
        @apply no-underline hover:underline;
      }
    }
  }
}
