[data-component="system-message"] {
  font-family: var(--lb-font-prose);
  color: var(--lb-system-message-color);
  background: var(--lb-system-message-background-color);
  border: 1px solid var(--lb-system-message-border-color);
  padding: var(--lb-spacing-x-large);
  max-width: 680px;
  margin-top: var(--lb-spacing-large);
  margin-inline: auto;
  border-radius: var(--lb-border-radius-medium);

  &.with-icon {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: var(--lb-spacing-medium);
    padding-left: var(--lb-spacing-large);
  }

  .message-title {
    font-weight: var(--lb-font-weight-bold);
    font-size: var(--lb-font-size-medium);
    color: var(--lb-system-message-title-color);
    margin-bottom: var(--lb-spacing-x-small);
  }

  .message-text {
    font-size: var(--lb-font-size-small);
  }

  .message-icon svg,
  .message-icon .icon {
    width: 40px;
    color: var(--lb-system-message-icon-color);
  }

  .message-icon > svg {
    margin-right: var(--lb-spacing-2x-small);
  }

  &[data-theme="error"] {
    border-color: var(--lb-system-message-border-color-error);

    .message-title {
      color: var(--lb-system-message-title-color-error);
    }

    .message-icon svg {
      color: var(--lb-system-message-icon-color-error);
    }
  }
}
