<div class="text-gray-600" data-morph="replace">
  <% if items.many? %>
    <div class="divide-y divide-gray-300">
      <% items.each do |item| %>
        <div class="px-4 pt-10 pb-8 relative">
          <div class="prose prose-sm">
            <%= markdown(item[:content]) %>
          </div>
          <h6 class="text-[11px] text-gray-600 inline-block px-2 py-0.25 bg-gray-100 border border-t-0 border-gray-300 absolute top-0 left-4 rounded-b">
            <%= item[:label] %>
          </h6>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="p-4 prose prose-sm">
      <% if items.any? %>
        <%= markdown(items[0][:content]) %>
      <% else %>
        <em class='opacity-50'>No notes provided.</em>
      <% end %>
    </div>
  <% end %>
</div>