<% if @example.type == :group %>
  <div class="p-4 prose prose-sm">
    <em class='opacity-50'>Params are not supported for grouped previews.</em>
  </div>
<% elsif items.none? %>
  <div class="p-4 prose prose-sm">
    <em class='opacity-50'>No params configured.</em>
  </div>
<% else %>
  <div class="py-3">
    <% items.each_with_index do |param, i| %>
      <div
        class="px-4 py-3"
        x-data="param"
        <% if i == 0 %>x-effect="if ($store.inspector.tabs.active === 'params') setFocus()"<% end %>
      >
        <div class="flex items-start max-w-[800px]">
          <div class="w-[200px] flex-none py-2">
            <label for="param-<%= param[:name] %>" class="font-bold">
              <%= param[:name].titleize %>
            </label>
          </div>
          <div class="flex-grow">
            <%= render "app/inspector/fields/#{param[:input]}",
              **param,
              value: params.key?(param[:name]) ? params[param[:name]] : param[:default],
              id: "#{@example.id}-param-#{param[:name]}-field"
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
