[data-component="app"] {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;

  &[data-status-bar="true"] {
    grid-template-rows: min-content 1fr min-content;
  }

  main {
    display: contents;
  }
}
