[data-component="app"] {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;

  .app-header {
    height: var(--lookbook-toolbar-height);
    border-bottom: 1px solid var(--lookbook-divider-color);
    display: flex;
    align-items: center;
    padding-inline: var(--sl-spacing-large);

    a {
      text-decoration: none;
    }
  }

  .app-body {
    height: calc(100vh - var(--lookbook-toolbar-height));

    > * {
      height: 100%;
    }
  }

  .app-sidebar-layout {
    --divider-width: 1px;
    --min: 200px;
    --max: 400px;

    height: 100%;

    &::part(divider) {
      background-color: var(--lookbook-divider-color);
    }

    .app-sidebar {
      height: 100%;
      overflow: auto;
      padding-top: var(--sl-spacing-medium);
      padding-bottom: var(--sl-spacing-medium);
    }

    .app-main {
      height: 100%;
      overflow: hidden;
    }
  }
}
