[data-component="preview-inspector"] {
  height: 100%;
  width: 100%;

  .inspector-layout {
    --divider-width: 1px;
    --min: 200px;
    --max: 600px;

    height: 100%;
    width: 100%;

    &::part(divider) {
      background-color: var(--lookbook-divider-color);
    }
  }
}
