---
layout: docs
---

<%
klass = api_module_data(resource.data.subject)
%>
 
<% if klass %>
  <%= render LookbookDocs::ApiModule::Component.new(**klass, toc: resource.data.toc, site: site) %>
<% else %>
  <p><em>API data not found</em></p>
<% end %>
