[data-component="tab-panel"] {
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: var(--lb-tab-panel-color);
  background-color: var(--lb-tab-panel-background-color);

  .tab-panel-content {
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}
