<%= render component_tag(
  x: {
    data: "tabPanel(#{name.to_json})",
    show: "isActivePanel(name)",
    cloak: true,
    ":aria-labelledby": "name"
  },
  data: {panel: name}
) do %>
  <style>
    <%== panel_styles %>
  </style>
  <div class="tab-panel-content">
    
    <%= panel_html %>
  </div>
<% end %>
