[data-component="status-bar"] {
  height: var(--lb-status-bar-height);
  font-size: var(--lb-font-size-x-small);
  padding-inline: var(--lb-spacing-small);
  color: var(--lb-status-bar-color);
  background-color: var(--lb-status-bar-background-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .status-bar-section {
    display: flex;
    align-items: center;
    gap: var(--lb-spacing-medium);
    height: 100%;
  }

  .status-bar-info {
    color: var(--lb-color-base-500);
  }

  .status-bar-action {
    color: var(--lb-color-accent-700);
  }
}
