[data-component="status-bar"] {
  height: var(--lookbook-status-bar-height);
  font-size: var(--sl-font-size-x-small);
  padding-inline: var(--sl-spacing-small);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .status-bar-section {
    display: flex;
    align-items: center;
    gap: var(--sl-spacing-medium);
  }

  sl-dropdown {
    &::part(panel) {
      border-radius: 0;
    }

    [data-component="status-bar-item"] {
      cursor: pointer;
    }
  }

  .status-bar-panel {
    width: 28rem;
    font-family: var(--sl-font-mono);
    padding: var(--sl-spacing-medium);
    background: var(--sl-color-neutral-0);
    border: 1px solid var(--lookbook-divider-color);
  }

  .status-bar-error {
    display: flex;
    gap: var(--sl-spacing-small);

    & + .status-bar-error {
      border-top: 1px solid var(--lookbook-divider-color);
      padding-top: var(--sl-spacing-small);
      margin-top: var(--sl-spacing-small);
    }
  }

  .status-bar-error-icon {
    flex: none;
    font-size: var(--sl-font-size-large);
    color: var(--sl-color-danger-500);
  }

  .status-bar-error-message {
    min-width: 1%;
    width: 100%;
    overflow: hidden;
    font-size: var(--sl-font-size-x-small);
    line-height: var(--sl-line-height-dense);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
}
