/.bundle/
/.yardoc
/_yardoc/
/tmp/
/.ruby-lsp/

/gems/**/*/pkg

# Rails apps
/apps/**/node_modules/
/apps/**/tmp/
/apps/**/log/
/apps/**/config/master.key
/apps/**/app/assets/builds/
/apps/**/.bundle/
