/.bundle/
/.yardoc
/_yardoc/
/tmp/
/.ruby-lsp/
/.zed/

.overmind.sock

/apps/**/node_modules/
/apps/**/tmp/
/apps/**/log/
/apps/**/config/master.key
/apps/**/app/assets/builds/
/apps/**/public/vite/

/gems/**/node_modules/
/gems/**/tmp/
/gems/**/log/
/gems/**/pkg/
/gems/**/coverage/
