[tools]
ruby = "3.2.0"
node = "25.1.0"
hivemind = "latest"

[env]
NODE_ENV = "development"
RACK_ENV = "development"
LOOKBOOK_ENV = "development"
LOOKBOOK_LOG_LEVEL = "DEBUG"

[tasks.setup]
description = "Install dependencies"
run = ["npm install", "bundle install"]

[tasks."assets:dev"]
description = "Build the assets and watch for changes"
run = "npm run assets:dev"

[tasks."assets:build"]
env = { "NODE_ENV" = "production", "LOOKBOOK_ENV" = "production" }
description = "Build the assets for production"
run = "npm run assets:build"
alias = "build"

[tasks."app:start"]
description = "Start the local dev app"
dir = "test/dummy"
run = "bundle exec puma -t 5:5 -w 0 -p ${PORT:-3000} -e ${RACK_ENV:-development}"

[tasks.dev]
description = "Start the dev app and rebuild assets on change"
run = "bin/overmind start -f Procfile.dev -p ${1:-4242}"
alias = "default"

[tasks.test]
description = "Run the tests"
depends = "assets:build"
run = "bin/test"
alias = "t"
