<%= render component_tag(id: nil, key: id, x: {data: "pane('#{id}')", bind: "bindings.root"}) do %>
  <%= toolbar %>

  <% if tab_panels? %>
    <div class="pane-panels" role="tabpanels">
      <%= safe_join(tab_panels) %>
    </div>
  <% else %>
    <div class="pane-content">
      <%= content %>  
    </div>
  <% end %>
  
<% end %>
