[data-component="pane"] {
  background-color: var(--lookbook-pane-background-color);
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr;

  .pane-content {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .pane-panels {
    height: 100%;
    width: 100%;
    position: relative;
  }
}
