@font-face {
  font-family: "Ioskeley Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(../fonts/IoskeleyMono-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/IoskeleyMono-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/IoskeleyMono-Italic.woff2) format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(../fonts/IoskeleyMono-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/IoskeleyMono-Bold.woff2) format("woff2");
}
