@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";

:root,
html.light,
html.dark {
  /* Color */

  --lookbook-mix-quieter: var(--lookbook-neutral-1);
  --lookbook-mix-louder: var(--lookbook-neutral-12);

  --lookbook-error-1: var(--red-1);
  --lookbook-error-2: var(--red-2);
  --lookbook-error-3: var(--red-3);
  --lookbook-error-4: var(--red-4);
  --lookbook-error-5: var(--red-5);
  --lookbook-error-6: var(--red-6);
  --lookbook-error-7: var(--red-7);
  --lookbook-error-8: var(--red-8);
  --lookbook-error-9: var(--red-9);
  --lookbook-error-10: var(--red-10);
  --lookbook-error-11: var(--red-11);
  --lookbook-error-12: var(--red-12);

  --lookbook-warning-1: var(--orange-1);
  --lookbook-warning-2: var(--orange-2);
  --lookbook-warning-3: var(--orange-3);
  --lookbook-warning-4: var(--orange-4);
  --lookbook-warning-5: var(--orange-5);
  --lookbook-warning-6: var(--orange-6);
  --lookbook-warning-7: var(--orange-7);
  --lookbook-warning-8: var(--orange-8);
  --lookbook-warning-9: var(--orange-9);
  --lookbook-warning-10: var(--orange-10);
  --lookbook-warning-11: var(--orange-11);
  --lookbook-warning-12: var(--orange-12);

  /* Size and space */

  --lookbook-scale: 1;
  --lookbook-size-base: calc(0.25rem * var(--lookbook-scale));

  --lookbook-size-1: calc(var(--lookbook-size-base) * 1); /* 4px */
  --lookbook-size-2: calc(var(--lookbook-size-base) * 2); /* 8px */
  --lookbook-size-3: calc(var(--lookbook-size-base) * 3); /* 12px */
  --lookbook-size-4: calc(var(--lookbook-size-base) * 4); /* 16px */
  --lookbook-size-5: calc(var(--lookbook-size-base) * 5); /* 20px */
  --lookbook-size-6: calc(var(--lookbook-size-base) * 6); /* 24px */
  --lookbook-size-7: calc(var(--lookbook-size-base) * 7); /* 28px */
  --lookbook-size-8: calc(var(--lookbook-size-base) * 8); /* 32px */
  --lookbook-size-9: calc(var(--lookbook-size-base) * 9); /* 36px */
  --lookbook-size-10: calc(var(--lookbook-size-base) * 10); /* 40px */
  --lookbook-size-11: calc(var(--lookbook-size-base) * 11); /* 44px */
  --lookbook-size-12: calc(var(--lookbook-size-base) * 12); /* 48px */

  --lookbook-space-xs: var(--lookbook-size-1); /* 4px */
  --lookbook-space-sm: var(--lookbook-size-2); /* 8px */
  --lookbook-space-md: var(--lookbook-size-3); /* 12px */
  --lookbook-space-lg: var(--lookbook-size-4); /* 16px */
  --lookbook-space-xl: var(--lookbook-size-5); /* 20px */

  /* Typography */

  --lookbook-font-family-sans: "Noto Sans Variable", system-ui, sans-serif;
  --lookbook-font-family-mono: "Ioskeley Mono", ui-monospace, monospace;

  --lookbook-font-size-min: calc(var(--lookbook-size-base) * 2.75); /* 11px */
  --lookbook-font-size-2xs: calc(var(--lookbook-size-base) * 3); /* 12px */
  --lookbook-font-size-xs: calc(var(--lookbook-size-base) * 3.25); /* 13px */
  --lookbook-font-size-sm: calc(var(--lookbook-size-base) * 3.5); /* 14px */
  --lookbook-font-size-md: calc(var(--lookbook-size-base) * 4); /* 16px */
  --lookbook-font-size-lg: calc(var(--lookbook-size-base) * 4.5); /* 18px */
  --lookbook-font-size-xl: calc(var(--lookbook-size-base) * 5); /* 20px */

  /* Icons */

  --lookbook-icon-size-sm: var(--lookbook-size-3);
  --lookbook-icon-size-md: var(--lookbook-size-4);
  --lookbook-icon-size-lg: calc((var(--lookbook-size-5) + var(--lookbook-size-4)) / 2);

  /* Other */

  --lookbook-radius-none: 0;
  --lookbook-radius-xs: 0.125rem;
  --lookbook-radius-sm: 0.25rem;

  --lookbook-shadow-sm:
    0px 1px 4px color-mix(in oklab, var(--lookbook-neutral-10), transparent 50%),
    0px 0px 1px inset var(--lookbook-neutral-7);
  --lookbook-shadow-md:
    0px 2px 8px color-mix(in oklab, var(--lookbook-neutral-10), transparent 50%),
    0px 0px 1px inset var(--lookbook-neutral-7);
  --lookbook-shadow-lg:
    0px 4px 12px color-mix(in oklab, var(--lookbook-neutral-10), transparent 50%),
    0px 0px 1px inset var(--lookbook-neutral-7);

  --lookbook-duration-fast: 150ms;
  --lookbook-duration-normal: 200ms;
  --lookbook-duration-slow: 300ms;
}
