mark,
.mark {
  --marker-bg: var(--lookbook-accent);
  --marker-fg: color-mix(in oklab, var(--marker-bg), black 60%);

  color: var(--marker-fg);
  position: relative;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: -0.15em -0.5em -0.15em -0.6em;
    border-radius: 0.6em 0.3em;
    z-index: 1;

    background-color: transparent;
    background-image: linear-gradient(
      to right,
      var(--marker-bg) 50%,
      color-mix(in oklab, var(--marker-bg) 40%, transparent) 100%
    );
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

.checkerboard-bg {
  --checkerboard-bg-even: var(--lookbook-accent-yellow);
  --checkerboard-bg-odd: var(--lookbook-accent-green);
  --checkerboard-bg-size: 16px;

  background-repeat: repeat;
  background-size: var(--checkerboard-bg-size) var(--checkerboard-bg-size);
  background-position: top left;
  background-image: conic-gradient(
    var(--checkerboard-bg-even) 90deg,
    var(--checkerboard-bg-odd) 90deg 180deg,
    var(--checkerboard-bg-even) 180deg 270deg,
    var(--checkerboard-bg-odd) 270deg
  );
}

.vh {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
