[data-component="code"] {
  display: block;

  pre,
  code {
    font-family: var(--sl-font-mono);
    font-size: var(--sl-font-size-small);
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
