[data-component="error-page"] {
  padding: var(--lookbook-spacing-large);
  background-color: var(--lookbook-color-danger-50);
  height: 100%;
  width: 100%;

  .error-page-title {
    color: var(--lookbook-color-danger-800);
    font-weight: var(--lookbook-font-weight-bold);
    font-size: var(--lookbook-font-size-x-large);
  }

  .error-page-content {
    margin-top: var(--lookbook-spacing-small);
  }
}
