[data-component="tabbed-pane"] {
  height: 100%;
  width: 100%;
  position: relative;

  .pane-toolbar {
    height: var(--lookbook-toolbar-height);
    display: flex;
    align-items: center;
    padding-right: var(--sl-spacing-2x-small);

    sl-button-group {
      font-size: var(--lookbook-toolbar-icon-button-size);
      position: relative;
      margin-left: auto;
      z-index: 1;
    }

    sl-icon-button {
      color: var(--lookbook-toolbar-icon-button-color);
    }
  }

  .pane-tabs {
    position: absolute;
    inset: 0;

    sl-tab-group {
      height: 100%;
      overflow: hidden;
      position: relative;

      &::part(tabs) {
        padding-right: 0;
      }

      sl-tab-panel {
        position: absolute;
        inset: 0;
        top: calc(var(--lookbook-toolbar-height) + var(--track-width));
        width: 100%;
        height: calc(
          100% - var(--lookbook-toolbar-height) - var(--track-width)
        );
        overflow: hidden;

        &::part(base) {
          height: 100%;
          width: 100%;
          padding: 0;
          overflow: hidden;
          position: relative;
        }
      }
    }
  }
}
