<%
text_types = ["text", "email", "url"] # TODO: full list of text-style input types
%>
<div class="py-3">
  <% items.each do |param| %>
    <div class="px-4 py-3" x-data="param" @document:patched="setFocus">
      <div class="flex items-start max-w-[800px]">
        <div class="w-[200px] flex-none py-2">
          <label for="param-<%= param[:name] %>" class="font-bold"><%= param[:name].titleize %></label>
        </div>
        <div class="flex-grow" @focus="focussed = true" @blur="focussed = false">
          <% field = text_types.include?(param[:input_type]) ? "text" : param[:input_type] %>      
          <%= render "workbench/inspector/params/#{field}", param: param %>
        </div>
      </div>
    </div>
  <% end %>
</div>