@import "../tokens/primitives.css";
@import "../tokens/structure.css";

:root,
:host,
.lookbook-theme-light {
  color-scheme: light;

  /*
   * Colour scheme
   */

  --lookbook-color-accent-50: var(--lookbook-color-indigo-50);
  --lookbook-color-accent-100: var(--lookbook-color-indigo-100);
  --lookbook-color-accent-200: var(--lookbook-color-indigo-200);
  --lookbook-color-accent-300: var(--lookbook-color-indigo-300);
  --lookbook-color-accent-400: var(--lookbook-color-indigo-400);
  --lookbook-color-accent-500: var(--lookbook-color-indigo-500);
  --lookbook-color-accent-600: var(--lookbook-color-indigo-600);
  --lookbook-color-accent-700: var(--lookbook-color-indigo-700);
  --lookbook-color-accent-800: var(--lookbook-color-indigo-800);
  --lookbook-color-accent-900: var(--lookbook-color-indigo-900);
  --lookbook-color-accent-950: var(--lookbook-color-indigo-950);

  --lookbook-color-base-50: var(--lookbook-color-gray-50);
  --lookbook-color-base-100: var(--lookbook-color-gray-100);
  --lookbook-color-base-200: var(--lookbook-color-gray-200);
  --lookbook-color-base-300: var(--lookbook-color-gray-300);
  --lookbook-color-base-400: var(--lookbook-color-gray-400);
  --lookbook-color-base-500: var(--lookbook-color-gray-500);
  --lookbook-color-base-600: var(--lookbook-color-gray-600);
  --lookbook-color-base-700: var(--lookbook-color-gray-700);
  --lookbook-color-base-800: var(--lookbook-color-gray-800);
  --lookbook-color-base-900: var(--lookbook-color-gray-900);
  --lookbook-color-base-950: var(--lookbook-color-gray-950);

  --lookbook-color-success-50: var(--lookbook-color-green-50);
  --lookbook-color-success-100: var(--lookbook-color-green-100);
  --lookbook-color-success-200: var(--lookbook-color-green-200);
  --lookbook-color-success-300: var(--lookbook-color-green-300);
  --lookbook-color-success-400: var(--lookbook-color-green-400);
  --lookbook-color-success-500: var(--lookbook-color-green-500);
  --lookbook-color-success-600: var(--lookbook-color-green-600);
  --lookbook-color-success-700: var(--lookbook-color-green-700);
  --lookbook-color-success-800: var(--lookbook-color-green-800);
  --lookbook-color-success-900: var(--lookbook-color-green-900);
  --lookbook-color-success-950: var(--lookbook-color-green-950);

  --lookbook-color-warning-50: var(--lookbook-color-amber-50);
  --lookbook-color-warning-100: var(--lookbook-color-amber-100);
  --lookbook-color-warning-200: var(--lookbook-color-amber-200);
  --lookbook-color-warning-300: var(--lookbook-color-amber-300);
  --lookbook-color-warning-400: var(--lookbook-color-amber-400);
  --lookbook-color-warning-500: var(--lookbook-color-amber-500);
  --lookbook-color-warning-600: var(--lookbook-color-amber-600);
  --lookbook-color-warning-700: var(--lookbook-color-amber-700);
  --lookbook-color-warning-800: var(--lookbook-color-amber-800);
  --lookbook-color-warning-900: var(--lookbook-color-amber-900);
  --lookbook-color-warning-950: var(--lookbook-color-amber-950);

  --lookbook-color-danger-50: var(--lookbook-color-red-50);
  --lookbook-color-danger-100: var(--lookbook-color-red-100);
  --lookbook-color-danger-200: var(--lookbook-color-red-200);
  --lookbook-color-danger-300: var(--lookbook-color-red-300);
  --lookbook-color-danger-400: var(--lookbook-color-red-400);
  --lookbook-color-danger-500: var(--lookbook-color-red-500);
  --lookbook-color-danger-600: var(--lookbook-color-red-600);
  --lookbook-color-danger-700: var(--lookbook-color-red-700);
  --lookbook-color-danger-800: var(--lookbook-color-red-800);
  --lookbook-color-danger-900: var(--lookbook-color-red-900);
  --lookbook-color-danger-950: var(--lookbook-color-red-950);

  /*
   * App
   */

  --lookbook-app-color: var(--lookbook-color-base-900);
  --lookbook-app-divider-color: var(--lookbook-color-base-300);
  --lookbook-app-focus-outline-color: var(--lookbook-color-accent-200);

  /*
   * Header
   */

  --lookbook-header-color: var(--lookbook-color-white);
  --lookbook-header-background-color: var(--lookbook-color-accent-600);

  /*
   * Tables
   */

  --lookbook-table-color: var(--lookbook-color-base-900);
  --lookbook-table-border-color: var(--lookbook-app-divider-color);
  --lookbook-table-background-color: var(--lookbook-color-white);

  /*
   * Panes
   */

  --lookbook-pane-background-color: var(--lookbook-color-base-50);

  /*
   * Status bar
   */

  --lookbook-status-bar-color: var(--lookbook-base-600);
  --lookbook-status-bar-background-color: var(--lookbook-color-white);
  --lookbook-status-bar-action-color: var(--lookbook-color-accent-700);
  --lookbook-status-bar-item-color-positive: var(--lookbook-color-success-700);
  --lookbook-status-bar-item-color-error: var(--lookbook-color-danger-600);
  --lookbook-status-bar-item-color-warning: var(--lookbook-color-warning-600);
  --lookbook-status-bar-item-color-info: var(--lookbook-color-info-600);
  --lookbook-status-bar-notifications-color: var(--lookbook-app-color);
  --lookbook-status-bar-notifications-background-color: var(
    --lookbook-color-white
  );

  /*
   * System message
   */

  --lookbook-system-message-color: var(--lookbook-color-base-500);
  --lookbook-system-message-background-color: var(--lookbook-color-white);
  --lookbook-system-message-border-color: var(--lookbook-app-divider-color);
  --lookbook-system-message-title-color: var(--lookbook-color-base-900);
  --lookbook-system-message-icon-color: var(--lookbook-color-base-300);

  --lookbook-system-message-title-color-error: var(--lookbook-color-danger-600);
  --lookbook-system-message-border-color-error: var(
    --lookbook-color-danger-200
  );
  --lookbook-system-message-icon-color-error: var(--lookbook-color-danger-300);
}
