<%= tag.div **html_attrs,
  data: {
    component: "note",
    "note-theme": theme
  } do %>
  <%= render LookbookDocs::Ribbon::Component.new(icon: icon_name) %>
  <div class="note-content prose max-w-none">
    <% if title.present? %>
      <h4 class="mb-2"><%= title %></h4>
    <% end %>
    <%= markdownify content %>
  </div>
<% end %>