<!DOCTYPE html>
<html>
<head>
  <title>Custom Layout</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <%= yield %>
</body>
</html>
