<div class="flex flex-col items-center justify-center w-full h-full bg-checked">
  <div class="text-center bg-white px-8 py-6 border border-gray-200 rounded min-w-[400px text-lookbook-prose-text">
    <h4 class="text-base tracking-tight mb-2"><%= @error.message %></h4>
    <p class="opacity-70">It may have been moved or deleted.</p>
  </div>
</div>