<% content_for :body do %>
  <div
    id="app"
    x-data="app"
    x-cloak
    x-on:popstate.window="handleNavigation"
    x-on:click.document="hijax"
    class="overflow-hidden">
    
    <%= render "lookbook/partials/user_styles" %>

    <%= content_for?(:main) ? yield(:main) : yield %>
  </div>

  <% if content_for? :dropdowns %>
    <div class="hidden">
      <%= content_for :dropdowns -%>
    </div>
  <% end %>
<% end %>

<%= render template: "layouts/lookbook/skeleton" %>