<% content_for :sidebar do %>
  <lb-sidebar label="UI Library" icon="blocks" slot="sidebar">
    <lb-nav activepath="<%= url_for %>" slot="nav" persist-as="nav.previews">
      <lb-data slot="items" format="json" id="previews-data">
        <%# = @previews.to_tree.children.sort.to_json %>
      </lb-data>

      <div slot="no-results">
        No previews match your filter.
      </div>

      <div slot="blank-slate">
        It looks like you haven't created any previews yet.
      </div>
    </lb-nav>
  </lb-sidebar>
<% end %>

<%= render template: "layouts/lookbook/application" %>
