<% if examples.many? %>
  <% examples.each do |example| %>
    <div style="all: unset; margin-bottom: 30px; display: block;">
      <h6 style="all: unset; display: block; color: #999; font-family: sans-serif; font-size: 14px; margin-top: 0; margin-bottom: 10px;">
        <%= example[:label] %>
      </h6>
      <%= example[:html] %>
    </div>
  <% end %>
<% else %>
  <%= examples.first[:html] %>
<% end %>

<% if params[:lookbook_embed] == "true" %>
  <script src="/lookbook-assets/js/embed.js?v=<%= Lookbook.version %>" defer></script>
<% end %>
