<%= content_for :body do %>
  <div
    id="app"
    x-data="app"
    @popstate.window="handleNavigation"
    @click.document="hijax"
    @navigation:start="closeMobileSidebar"
    class="w-screen h-screen grid grid-rows-[40px_1fr] relative">

    <%= render_component :header, id: "app-header" do |header| %>
      <% header.branding { config.project_name } %>
    <% end %>

    <%= content_for?(:shell) ? yield(:shell) : yield %>
  </div>
<% end %>

<%= render template: "layouts/lookbook/skeleton" %>