[data-component="display-options-dropdown"] {
  width: 280px;
  padding: var(--lb-spacing-medium);
  padding-top: var(--lb-spacing-small);
  color: var(--lb-display-options-color);
  background-color: var(--lb-display-options-background-color);

  .title {
    font-size: var(--lb-font-size-medium);
    margin-bottom: var(--lb-spacing-medium);
  }

  .display-option + .display-option {
    margin-top: var(--lb-spacing-medium);
  }

  .display-option {
    label {
      font-weight: var(--lb-font-weight-semibold);
      display: block;
      margin-bottom: var(--lb-spacing-x-small);
    }
    select {
      font-size: var(--lb-font-size-small);
    }
  }
}
