[data-component="tab-group"] {
  sl-tab-group {
    --track-width: 1px;
    --track-color: var(--lookbook-divider-color);

    &::part(active-tab-indicator) {
      transition: none;
    }
  }

  sl-tab {
    &::part(base) {
      height: var(--lookbook-toolbar-height);
      padding-block: 0;
      padding-inline: var(--sl-spacing-medium);
    }
  }

  sl-tab-panel {
    &::part(base) {
      padding: 0;
    }
  }
}
