<%= render_component_tag class: "flex items-center text-xs font-mono space-x-1 transition",
  ":class":"{'!opacity-100': resizing}",
  "@viewport:resize-start.window": "resizing = true",
  "@viewport:resize-complete.window": "resizing = false",
  "@dom:update-start.window": "tearDown",
  "@dom:update-complete.window": "createObserver" do %>
    <span x-text="`${width}px`"></span>
    <span class="opacity-70">x</span>
    <span x-text="`${height}px`"></span>
<% end %>