<%= render component_tag(id: id, x: {data: "inspector"}) do %> 
  <sl-split-panel
    class="inspector-layout"
    primary="end"
    :position="drawerPosition"
    @sl-reposition="drawerPosition = $el.position"
    vertical>
    <div slot="start">
      <%= preview_pane %>
    </div>
    <div slot="end">
      <%= drawer_pane %>
    </div>
  </sl-split-panel>
<% end %>
