<%
line_numbers ||= false
language ||= "html"
%>
<% code = capture do %><%= yield %><% end %>
<div class="code <%= "numbered" if line_numbers %> <%= classes %>">
  <pre><code class="highlight"><%= highlight(code.strip, language, line_numbers: line_numbers) %></code></pre>
</div>