<button
  class="text-gray-400 transition"
  x-data="copy('<%= target %>')"
  x-tooltip.theme.lookbook="done ? 'copied!' : 'copy to clipboard'"
  @click="save"
  :class="{'!text-green-600 hover:text-green-600': done, 'hover:text-indigo-500': !done}"
  data-tippy-placement="left"
  <% if defined?(show) %>
    x-show="<%= show %>"
    x-cloak
  <% end %>
  >
  <%= icon "${done ? 'check' : 'clipboard'}", size: 4 %>
</button>