<div  class="bg-white flex flex-col items-center justify-center border-2 border-dashed border-gray-200 p-6 rounded-md not-prose embed <%= "embed-breakout" if opts[:breakout] %>">
  <div class="px-4 text-center">
    <%= icon "alert-triangle", size: 6, class: "text-red-300 mx-auto" %>
    <div class="mt-2 text-gray-700 max-w-xs">
      <h5 class="text-base">Preview not found</h5>
      <p class="mt-1 text-gray-400 text-sm">
        The preview may have been renamed or deleted.
      </p>
    </div>
  </div>
</div>