<header class="py-2 px-4 w-full flex-none bg-white border-b border-gray-300 flex items-center h-10 select-none  min-w-0">
  <button class="flex-none mr-3" x-show="!$store.layout.desktop" @click="$store.sidebar.toggle">
    <svg class="feather w-5 h-5 hover:text-indigo-500 transition">
      <use xlink:href="/lookbook-assets/feather-sprite.svg#menu" />
    </svg>
  </button>
  <%= yield %>
</header>