<header class="pl-4 w-full flex-none bg-white border-b border-gray-300 flex items-center h-10 select-none min-w-0">
  <button class="flex-none mr-6" x-show="!$store.layout.desktop" @click="$store.sidebar.toggle">
    <%= icon "menu", size: 5, class: "hover:text-indigo-500 transition" %>
  </button>
  <%= yield %>
</header>