<%
entity ||= "preview"
%>
<nav id="nav" x-data="nav">
  <% if items.any? %>
    <ul x-ref="items">
      <% items.each do |node| %>
        <%= component "nav_#{node.type}", node: node %>
      <% end %>
    </ul>
    <div class="p-4 text-center" x-show="empty" x-cloak>
      <em class="text-gray-400 italic">No matching <%= entity.pluralize %> found.</em>
    </div>
  <% else %>
    <div class="p-4 text-center">
      <h4 class="text-gray-400 italic">No <%= entity.pluralize %> found.</h4>
    </div>
  <% end %>
</nav>