<div
  x-data="navSection"
  x-init="sections.push($data)"
  class="flex flex-col min-h-[32px] relative <%= classes || "" %>">
  <div class="flex items-center flex-none border-b border-gray-300 bg-gray-50"> 
    <div class="flex items-center w-full px-4 py-2">
      <h2 class="font-bold text-gray-700 uppercase text-xs"><%= title %></h2>
    </div>
  </div>
  <div class="flex-grow pt-2 pb-3 overflow-y-auto">
    <%= yield %>
  </div>
</div>