[data-component="status-bar-notifications"] {
  width: 28rem;
  padding-inline: var(--lb-spacing-sm);
  color: var(--lb-dropdown-color);
  background: var(--lb-dropdown-background-color);

  .notification {
    display: flex;
    gap: var(--lb-spacing-sm);
    padding-block: var(--lb-spacing-sm);

    & + .notification {
      border-top: 1px solid var(--lb-color-surface-divider);
    }

    .notification-icon {
      .icon {
        flex: none;
        width: var(--lb-size-lg);
      }
    }

    .notification-message {
      padding-top: 2px;
      min-width: 1%;
      width: 100%;
      overflow: hidden;
      font-family: var(--lb-font-mono);
      font-size: var(--lb-font-size-xs);
      line-height: var(--lb-line-height-dense);
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }

    &.notification-error .notification-icon {
      color: var(--lb-color-content-negative);
    }

    &.notification-warning .notification-icon {
      color: var(--lb-color-content-warning);
    }

    &.notification-notice .notification-icon {
      color: var(--lb-color-content-info);
    }

    &.notification-success .notification-icon {
      color: var(--lb-color-content-positive);
    }
  }
}
