[data-component="status-bar-notifications"] {
  width: 28rem;
  padding-inline: var(--lookbook-spacing-medium);
  background: var(--lookbook-color-base-0);
  border: 1px solid var(--lookbook-divider-color);

  .notification {
    display: flex;
    gap: var(--lookbook-spacing-small);
    padding-block: var(--lookbook-spacing-medium);

    & + .notification {
      border-top: 1px solid var(--lookbook-divider-color);
      padding-top: var(--lookbook-spacing-small);
      margin-top: var(--lookbook-spacing-small);
    }

    .notification-icon {
      .icon {
        flex: none;
        width: var(--lookbook-size-large);
      }
    }

    .notification-message {
      padding-top: 2px;
      min-width: 1%;
      width: 100%;
      overflow: hidden;
      font-family: var(--lookbook-font-mono);
      font-size: var(--lookbook-font-size-x-small);
      line-height: var(--lookbook-line-height-dense);
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }

    &.notification-error .notification-icon {
      color: var(--lookbook-color-danger-600);
    }

    &.notification-warning .notification-icon {
      color: var(--lookbook-color-warning-600);
    }

    &.notification-notice .notification-icon {
      color: var(--lookbook-color-sky-600);
    }

    &.notification-success .notification-icon {
      color: var(--lookbook-color-success-600);
    }
  }
}
