<%= render component_tag(x: {data: "statusBarNotifications"}) do %>
  <ul class="notifications-items">
    <% notifications.each do |notification| %>
      <li class="notification notification-<%= notification.type %>">
        <div class="notification-icon">
          <%= lookbook_icon icon_name(notification) %>
        </div>
        <div class="notification-message">
          <%= notification.detail %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
