<header class="py-2 px-4 w-full flex-none bg-white border-b border-gray-300 flex items-center h-10">
  <button class="flex-none mr-3" x-show="!$screen('md')" @click="$dispatch('sidebar:toggle')">
    <svg class="feather w-5 h-5 hover:text-indigo-500 transition">
      <use xlink:href="#menu" />
    </svg>
  </button>
  <%= yield %>
</header>