<%= render component_tag(key: id, x: {data: "tabbedPane"}) do %>
  <div class="pane-toolbar">
    <sl-button-group label="<%= label %> actions">
      <%= safe_join(actions.reverse) %>
    </sl-button-group>
  </div>
  <%= lookbook_tab_group(id: tab_group_id, class: "pane-tabs") do |group| %>
    <% tabs_data.each do |tab| %>
      <% group.with_tab(tab[:name], **tab[:kwargs], &tab[:block]) %>
    <% end %>
  <% end %>
<% end %>
