@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-dark.css";

[data-theme="default"] {
  &.dark,
  &.light {
    --lookbook-accent: #9eed47;

    --lookbook-neutral-1: var(--sage-1);
    --lookbook-neutral-2: var(--sage-2);
    --lookbook-neutral-3: var(--sage-3);
    --lookbook-neutral-4: var(--sage-4);
    --lookbook-neutral-5: var(--sage-5);
    --lookbook-neutral-6: var(--sage-6);
    --lookbook-neutral-7: var(--sage-7);
    --lookbook-neutral-8: var(--sage-8);
    --lookbook-neutral-9: var(--sage-9);
    --lookbook-neutral-10: var(--sage-10);
    --lookbook-neutral-11: var(--sage-11);
    --lookbook-neutral-12: var(--sage-12);
  }
}
