@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tippy.js/dist/tippy";
@import "code_theme";
@import "tooltip_theme";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  [x-cloak] {
    display: none !important;
  }

  pre[class*="language-"] {
    padding: 0 !important;
    margin: 0 !important;
  }

  .feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}
