[data-component="preview-overview"] {
  height: 100%;
  width: 100%;
  position: relative;

  [data-component="pane"] {
    .pane-content {
      display: grid;
      grid-template-rows: min-content 1fr;
    }
  }

  .po-title-icon {
    margin-right: var(--lookbook-spacing-x-small);
  }

  .po-title {
    font-weight: 600;
    letter-spacing: 0.4;
  }

  .po-content {
    height: 100%;
    overflow: auto;

    section {
      padding-block: var(--lookbook-spacing-large);
      padding-inline: var(--lookbook-spacing-medium);
    }

    section + section {
      border-top: 1px solid var(--lookbook-divider-color);
    }
  }

  .po-section-title {
    font-weight: 400;
    margin-bottom: var(--lookbook-spacing-medium);
  }

  .po-targets {
    li:not(:last-child) {
      margin-bottom: var(--lookbook-spacing-x-small);
    }
  }

  .po-breadcrumbs {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: var(--lookbook-font-size-small);
    background-color: var(--lookbook-color-base-50);
    color: var(--lookbook-color-base-500);
    padding-inline: var(--lookbook-spacing-medium);
    padding-block: var(--lookbook-spacing-x-small);
    border-bottom: 1px solid var(--lookbook-divider-color);

    .po-breadcrumb-divider {
      display: block;
      margin-left: var(--lookbook-spacing-2x-small);
      margin-right: var(--lookbook-spacing-2x-small);
    }
  }
}
