
<% target.scenarios_with_output do |scenario, output_html| %>
  <% if target.scenarios.many? %>
  <div>
    <h1><%= scenario.label %></h1>
    <div>
      <%= output_html %>
    </div>
  </div>
  <% else %>
    <%= output_html %>
  <% end %>
<% end %>