<div data-component="note" data-note-theme="<%= theme %>" class="<%= attrs[:class] %>">
  <div class="note-tag">
    <%= icon icon_name, size: :xs %>
  </div>
  <div class="prose max-w-none"> 
    <%= markdownify content %>
  </div>
</div>