<div data-component="note" data-note-theme="<%= @theme %>" class="<%= root_classes %>">
  <div class="note-tag">
    <%= icon :message, style: :solid, size: :sm %>
  </div>
  <div class="prose max-w-none"> 
    <%= markdownify content %>
  </div>
</div>