[data-component="note"] {
  @apply py-4 px-6 rounded border relative;

  & .note-tag {
    @apply px-1.5 py-1.5 absolute left-[-8px] top-[-8px] z-10 bg-white border rounded-full;
  }

  &[data-note-theme="info"] {
    @apply bg-blue-50/80 border-blue-200 text-blue-700;

    & .note-tag {
      @apply bg-white border-blue-200 text-blue-400;
    }

    & .note-tag:after {
      @apply border-t-blue-200;
    }
  }

  & .highlighter-rouge:last-child .highlight {
    margin-bottom: 0 !important;
  }
}
