<%= tag.div **html_attrs, class: "not-prose px-3 py-2 bg-gray-100/60 rounded-md" do %>
  <table class="border-collapse text-base">
    <% options.each do |option| %>
      <%== option %>
    <% end %>
  </table>
<% end %>