[data-theme="dark-plus"] {
  --background: #1E1E1E;
  --foreground: #D4D4D4;
  --highlight-line: #ADD6FF26;
  --comment: #6A9955;
  --error: #F44747;
  --keyword: #C586C0;
  --literal: #CE9178;
  --comment-hashbang: #6A9955;
  --comment-multiline: #6A9955;
  --comment-preproc: #C586C0;
  --comment-preproc-file: #CE9178;
  --comment-single: #6A9955;
  --comment-special: #6A9955;
  --generic-deleted: #CE9178;
  --generic-error: #F44747;
  --generic-heading: #569CD6;
  --generic-inserted: #B5CEA8;
  --generic-output: #CE9178;
  --generic-prompt: #C8C8C8;
  --generic-strong: #569CD6;
  --generic-subheading: #569CD6;
  --generic-traceback: #F44747;
  --keyword-constant: #CE9178;
  --keyword-declaration: #C586C0;
  --keyword-namespace: #C586C0;
  --keyword-pseudo: #D7BA7D;
  --keyword-reserved: #C586C0;
  --keyword-type: #569CD6;
  --literal-date: #CE9178;
  --literal-number: #B5CEA8;
  --literal-string: #CE9178;
  --name-attribute: #9CDCFE;
  --name-builtin: #DCDCAA;
  --name-class: #4EC9B0;
  --name-constant: #B5CEA8;
  --name-decorator: #DCDCAA;
  --name-exception: #4EC9B0;
  --name-function: #DCDCAA;
  --name-label: #C8C8C8;
  --name-other: #D4D4D4;
  --name-tag: #569CD6;
  --text-whitespace: #D4D4D4;
  --literal-number-bin: #B5CEA8;
  --literal-number-float: #B5CEA8;
  --literal-number-hex: #B5CEA8;
  --literal-number-integer: #B5CEA8;
  --literal-number-oct: #B5CEA8;
  --literal-string-affix: #CE9178;
  --literal-string-backtick: #CE9178;
  --literal-string-char: #CE9178;
  --literal-string-delimiter: #CE9178;
  --literal-string-doc: #CE9178;
  --literal-string-double: #CE9178;
  --literal-string-escape: #CE9178;
  --literal-string-heredoc: #CE9178;
  --literal-string-interpol: #569CD6;
  --literal-string-other: #CE9178;
  --literal-string-regex: #D16969;
  --literal-string-single: #CE9178;
  --literal-string-symbol: #CE9178;
  --name-builtin-pseudo: #D7BA7D;
  --name-function-magic: #DCDCAA;
  --literal-number-integer-long: #B5CEA8;
}
