[data-theme="dark-plus"] {
  --snippet-bg: #1e1e1e;
  --snippet-fg: #d4d4d4;
  --snippet-highlight-line: #add6ff26;
  --snippet-comment: #6a9955;
  --snippet-error: #f44747;
  --snippet-keyword: #c586c0;
  --snippet-literal: #ce9178;
  --snippet-comment-hashbang: #6a9955;
  --snippet-comment-multiline: #6a9955;
  --snippet-comment-preproc: #c586c0;
  --snippet-comment-preproc-file: #ce9178;
  --snippet-comment-single: #6a9955;
  --snippet-comment-special: #6a9955;
  --snippet-generic-deleted: #ce9178;
  --snippet-generic-error: #f44747;
  --snippet-generic-heading: #569cd6;
  --snippet-generic-inserted: #b5cea8;
  --snippet-generic-output: #ce9178;
  --snippet-generic-prompt: #c8c8c8;
  --snippet-generic-strong: #569cd6;
  --snippet-generic-subheading: #569cd6;
  --snippet-generic-traceback: #f44747;
  --snippet-keyword-constant: #ce9178;
  --snippet-keyword-declaration: #c586c0;
  --snippet-keyword-namespace: #c586c0;
  --snippet-keyword-pseudo: #d7ba7d;
  --snippet-keyword-reserved: #c586c0;
  --snippet-keyword-type: #569cd6;
  --snippet-literal-date: #ce9178;
  --snippet-literal-number: #b5cea8;
  --snippet-literal-string: #ce9178;
  --snippet-name-attribute: #9cdcfe;
  --snippet-name-builtin: #dcdcaa;
  --snippet-name-class: #4ec9b0;
  --snippet-name-constant: #b5cea8;
  --snippet-name-decorator: #dcdcaa;
  --snippet-name-exception: #4ec9b0;
  --snippet-name-function: #dcdcaa;
  --snippet-name-label: #c8c8c8;
  --snippet-name-other: #d4d4d4;
  --snippet-name-tag: #569cd6;
  --snippet-text-whitespace: #d4d4d4;
  --snippet-literal-number-bin: #b5cea8;
  --snippet-literal-number-float: #b5cea8;
  --snippet-literal-number-hex: #b5cea8;
  --snippet-literal-number-integer: #b5cea8;
  --snippet-literal-number-oct: #b5cea8;
  --snippet-literal-string-affix: #ce9178;
  --snippet-literal-string-backtick: #ce9178;
  --snippet-literal-string-char: #ce9178;
  --snippet-literal-string-delimiter: #ce9178;
  --snippet-literal-string-doc: #ce9178;
  --snippet-literal-string-double: #ce9178;
  --snippet-literal-string-escape: #ce9178;
  --snippet-literal-string-heredoc: #ce9178;
  --snippet-literal-string-interpol: #569cd6;
  --snippet-literal-string-other: #ce9178;
  --snippet-literal-string-regex: #d16969;
  --snippet-literal-string-single: #ce9178;
  --snippet-literal-string-symbol: #ce9178;
  --snippet-name-builtin-pseudo: #d7ba7d;
  --snippet-name-function-magic: #dcdcaa;
  --snippet-literal-number-integer-long: #b5cea8;
}
