[data-theme="github-dark-dimmed"] {
  --background: #22272e;
  --foreground: #ADBAC7;
  --highlight-line: #57ab5a40;
  --comment: #768390;
  --error: #FF938A;
  --escape: #96D0FF;
  --keyword: #F47067;
  --literal: #96D0FF;
  --operator: #F47067;
  --comment-hashbang: #768390;
  --comment-multiline: #768390;
  --comment-preproc: #F47067;
  --comment-preproc-file: #96D0FF;
  --comment-single: #768390;
  --comment-special: #768390;
  --generic-deleted: #FF938A;
  --generic-emph: #ADBAC7;
  --generic-emph-strong: #ADBAC7;
  --generic-error: #FF938A;
  --generic-heading: #6CB6FF;
  --generic-inserted: #8DDB8C;
  --generic-output: #96D0FF;
  --generic-prompt: #F47067;
  --generic-strong: #ADBAC7;
  --generic-subheading: #6CB6FF;
  --generic-traceback: #FF938A;
  --keyword-constant: #6CB6FF;
  --keyword-declaration: #F47067;
  --keyword-namespace: #F47067;
  --keyword-pseudo: #F47067;
  --keyword-reserved: #F47067;
  --keyword-type: #F69D50;
  --literal-date: #96D0FF;
  --literal-number: #6CB6FF;
  --literal-string: #96D0FF;
  --name-attribute: #6CB6FF;
  --name-builtin: #6CB6FF;
  --name-class: #F69D50;
  --name-constant: #6CB6FF;
  --name-decorator: #6CB6FF;
  --name-entity: #6CB6FF;
  --name-exception: #6CB6FF;
  --name-function: #DCBDFB;
  --name-label: #96D0FF;
  --name-property: #6CB6FF;
  --name-tag: #8DDB8C;
  --operator-word: #6CB6FF;
  --text-whitespace: #ADBAC7;
  --literal-number-bin: #6CB6FF;
  --literal-number-float: #6CB6FF;
  --literal-number-hex: #6CB6FF;
  --literal-number-integer: #6CB6FF;
  --literal-number-oct: #6CB6FF;
  --literal-string-affix: #F47067;
  --literal-string-backtick: #6CB6FF;
  --literal-string-char: #96D0FF;
  --literal-string-delimiter: #96D0FF;
  --literal-string-doc: #96D0FF;
  --literal-string-double: #96D0FF;
  --literal-string-escape: #96D0FF;
  --literal-string-heredoc: #96D0FF;
  --literal-string-interpol: #F47067;
  --literal-string-other: #96D0FF;
  --literal-string-regex: #96D0FF;
  --literal-string-single: #96D0FF;
  --literal-string-symbol: #6CB6FF;
  --name-builtin-pseudo: #6CB6FF;
  --name-function-magic: #6CB6FF;
  --name-variable-class: #F69D50;
  --literal-number-integer-long: #6CB6FF;
}
