[data-theme="github-dark-default"],
[data-theme="github-dark"] {
  --background: #0d1117;
  --foreground: #e6edf3;
  --highlight-line: #3fb95040;
  --comment: #8b949e;
  --error: #ffa198;
  --escape: #a5d6ff;
  --keyword: #ff7b72;
  --literal: #a5d6ff;
  --operator: #ff7b72;
  --comment-hashbang: #8b949e;
  --comment-multiline: #8b949e;
  --comment-preproc: #ff7b72;
  --comment-preproc-file: #a5d6ff;
  --comment-single: #8b949e;
  --comment-special: #8b949e;
  --generic-deleted: #ffa198;
  --generic-emph: #e6edf3;
  --generic-emph-strong: #e6edf3;
  --generic-error: #ffa198;
  --generic-heading: #79c0ff;
  --generic-inserted: #7ee787;
  --generic-output: #a5d6ff;
  --generic-prompt: #ff7b72;
  --generic-strong: #e6edf3;
  --generic-subheading: #79c0ff;
  --generic-traceback: #ffa198;
  --keyword-constant: #79c0ff;
  --keyword-declaration: #ff7b72;
  --keyword-namespace: #ff7b72;
  --keyword-pseudo: #ff7b72;
  --keyword-reserved: #ff7b72;
  --keyword-type: #ffa657;
  --literal-date: #a5d6ff;
  --literal-number: #79c0ff;
  --literal-string: #a5d6ff;
  --name-attribute: #79c0ff;
  --name-builtin: #79c0ff;
  --name-class: #ffa657;
  --name-constant: #79c0ff;
  --name-decorator: #79c0ff;
  --name-entity: #79c0ff;
  --name-exception: #79c0ff;
  --name-function: #d2a8ff;
  --name-label: #a5d6ff;
  --name-property: #79c0ff;
  --name-tag: #7ee787;
  --operator-word: #79c0ff;
  --text-whitespace: #e6edf3;
  --literal-number-bin: #79c0ff;
  --literal-number-float: #79c0ff;
  --literal-number-hex: #79c0ff;
  --literal-number-integer: #79c0ff;
  --literal-number-oct: #79c0ff;
  --literal-string-affix: #ff7b72;
  --literal-string-backtick: #79c0ff;
  --literal-string-char: #a5d6ff;
  --literal-string-delimiter: #a5d6ff;
  --literal-string-doc: #a5d6ff;
  --literal-string-double: #a5d6ff;
  --literal-string-escape: #a5d6ff;
  --literal-string-heredoc: #a5d6ff;
  --literal-string-interpol: #ff7b72;
  --literal-string-other: #a5d6ff;
  --literal-string-regex: #a5d6ff;
  --literal-string-single: #a5d6ff;
  --literal-string-symbol: #79c0ff;
  --name-builtin-pseudo: #79c0ff;
  --name-function-magic: #79c0ff;
  --name-variable-class: #ffa657;
  --literal-number-integer-long: #79c0ff;
}
