[data-theme="github-light-default"],
[data-theme="github-light"] {
  --background: #ffffff;
  --foreground: #1f2328;
  --highlight-line: #4ac26b40;
  --comment: #6e7781;
  --error: #82071e;
  --escape: #0a3069;
  --keyword: #cf222e;
  --literal: #0a3069;
  --operator: #cf222e;
  --comment-hashbang: #6e7781;
  --comment-multiline: #6e7781;
  --comment-preproc: #cf222e;
  --comment-preproc-file: #0a3069;
  --comment-single: #6e7781;
  --comment-special: #6e7781;
  --generic-deleted: #82071e;
  --generic-emph: #1f2328;
  --generic-emph-strong: #1f2328;
  --generic-error: #82071e;
  --generic-heading: #0550ae;
  --generic-inserted: #116329;
  --generic-output: #0a3069;
  --generic-prompt: #cf222e;
  --generic-strong: #1f2328;
  --generic-subheading: #0550ae;
  --generic-traceback: #82071e;
  --keyword-constant: #0550ae;
  --keyword-declaration: #cf222e;
  --keyword-namespace: #cf222e;
  --keyword-pseudo: #cf222e;
  --keyword-reserved: #cf222e;
  --keyword-type: #953800;
  --literal-date: #0a3069;
  --literal-number: #0550ae;
  --literal-string: #0a3069;
  --name-attribute: #0550ae;
  --name-builtin: #0550ae;
  --name-class: #953800;
  --name-constant: #0550ae;
  --name-decorator: #0550ae;
  --name-entity: #0550ae;
  --name-exception: #0550ae;
  --name-function: #8250df;
  --name-label: #0a3069;
  --name-property: #0550ae;
  --name-tag: #116329;
  --operator-word: #0550ae;
  --text-whitespace: #1f2328;
  --literal-number-bin: #0550ae;
  --literal-number-float: #0550ae;
  --literal-number-hex: #0550ae;
  --literal-number-integer: #0550ae;
  --literal-number-oct: #0550ae;
  --literal-string-affix: #cf222e;
  --literal-string-backtick: #0550ae;
  --literal-string-char: #0a3069;
  --literal-string-delimiter: #0a3069;
  --literal-string-doc: #0a3069;
  --literal-string-double: #0a3069;
  --literal-string-escape: #0a3069;
  --literal-string-heredoc: #0a3069;
  --literal-string-interpol: #cf222e;
  --literal-string-other: #0a3069;
  --literal-string-regex: #0a3069;
  --literal-string-single: #0a3069;
  --literal-string-symbol: #0550ae;
  --name-builtin-pseudo: #0550ae;
  --name-function-magic: #0550ae;
  --name-variable-class: #953800;
  --literal-number-integer-long: #0550ae;
}
