[data-theme="github-dark-dimmed"] {
  --snippet-bg: #22272e;
  --snippet-fg: #adbac7;
  --snippet-highlight-line: #57ab5a40;
  --snippet-comment: #768390;
  --snippet-error: #ff938a;
  --snippet-escape: #96d0ff;
  --snippet-keyword: #f47067;
  --snippet-literal: #96d0ff;
  --snippet-operator: #f47067;
  --snippet-comment-hashbang: #768390;
  --snippet-comment-multiline: #768390;
  --snippet-comment-preproc: #f47067;
  --snippet-comment-preproc-file: #96d0ff;
  --snippet-comment-single: #768390;
  --snippet-comment-special: #768390;
  --snippet-generic-deleted: #ff938a;
  --snippet-generic-emph: #adbac7;
  --snippet-generic-emph-strong: #adbac7;
  --snippet-generic-error: #ff938a;
  --snippet-generic-heading: #6cb6ff;
  --snippet-generic-inserted: #8ddb8c;
  --snippet-generic-output: #96d0ff;
  --snippet-generic-prompt: #f47067;
  --snippet-generic-strong: #adbac7;
  --snippet-generic-subheading: #6cb6ff;
  --snippet-generic-traceback: #ff938a;
  --snippet-keyword-constant: #6cb6ff;
  --snippet-keyword-declaration: #f47067;
  --snippet-keyword-namespace: #f47067;
  --snippet-keyword-pseudo: #f47067;
  --snippet-keyword-reserved: #f47067;
  --snippet-keyword-type: #f69d50;
  --snippet-literal-date: #96d0ff;
  --snippet-literal-number: #6cb6ff;
  --snippet-literal-string: #96d0ff;
  --snippet-name-attribute: #6cb6ff;
  --snippet-name-builtin: #6cb6ff;
  --snippet-name-class: #f69d50;
  --snippet-name-constant: #6cb6ff;
  --snippet-name-decorator: #6cb6ff;
  --snippet-name-entity: #6cb6ff;
  --snippet-name-exception: #6cb6ff;
  --snippet-name-function: #dcbdfb;
  --snippet-name-label: #96d0ff;
  --snippet-name-property: #6cb6ff;
  --snippet-name-tag: #8ddb8c;
  --snippet-operator-word: #6cb6ff;
  --snippet-text-whitespace: #adbac7;
  --snippet-literal-number-bin: #6cb6ff;
  --snippet-literal-number-float: #6cb6ff;
  --snippet-literal-number-hex: #6cb6ff;
  --snippet-literal-number-integer: #6cb6ff;
  --snippet-literal-number-oct: #6cb6ff;
  --snippet-literal-string-affix: #f47067;
  --snippet-literal-string-backtick: #6cb6ff;
  --snippet-literal-string-char: #96d0ff;
  --snippet-literal-string-delimiter: #96d0ff;
  --snippet-literal-string-doc: #96d0ff;
  --snippet-literal-string-double: #96d0ff;
  --snippet-literal-string-escape: #96d0ff;
  --snippet-literal-string-heredoc: #96d0ff;
  --snippet-literal-string-interpol: #f47067;
  --snippet-literal-string-other: #96d0ff;
  --snippet-literal-string-regex: #96d0ff;
  --snippet-literal-string-single: #96d0ff;
  --snippet-literal-string-symbol: #6cb6ff;
  --snippet-name-builtin-pseudo: #6cb6ff;
  --snippet-name-function-magic: #6cb6ff;
  --snippet-name-variable-class: #f69d50;
  --snippet-literal-number-integer-long: #6cb6ff;
}
