[data-theme="github-dark-high-contrast"] {
  --background: #0a0c10;
  --foreground: #F0F3F6;
  --highlight-line: #26cd4d40;
  --comment: #BDC4CC;
  --error: #FFB1AF;
  --escape: #ADDCFF;
  --keyword: #FF9492;
  --literal: #ADDCFF;
  --operator: #FF9492;
  --comment-hashbang: #BDC4CC;
  --comment-multiline: #BDC4CC;
  --comment-preproc: #FF9492;
  --comment-preproc-file: #ADDCFF;
  --comment-single: #BDC4CC;
  --comment-special: #BDC4CC;
  --generic-deleted: #FFB1AF;
  --generic-emph: #F0F3F6;
  --generic-emph-strong: #F0F3F6;
  --generic-error: #FFB1AF;
  --generic-heading: #91CBFF;
  --generic-inserted: #72F088;
  --generic-output: #ADDCFF;
  --generic-prompt: #FF9492;
  --generic-strong: #F0F3F6;
  --generic-subheading: #91CBFF;
  --generic-traceback: #FFB1AF;
  --keyword-constant: #91CBFF;
  --keyword-declaration: #FF9492;
  --keyword-namespace: #FF9492;
  --keyword-pseudo: #FF9492;
  --keyword-reserved: #FF9492;
  --keyword-type: #FFB757;
  --literal-date: #ADDCFF;
  --literal-number: #91CBFF;
  --literal-string: #ADDCFF;
  --name-attribute: #91CBFF;
  --name-builtin: #91CBFF;
  --name-class: #FFB757;
  --name-constant: #91CBFF;
  --name-decorator: #91CBFF;
  --name-entity: #91CBFF;
  --name-exception: #91CBFF;
  --name-function: #DBB7FF;
  --name-label: #ADDCFF;
  --name-property: #91CBFF;
  --name-tag: #72F088;
  --operator-word: #91CBFF;
  --text-whitespace: #F0F3F6;
  --literal-number-bin: #91CBFF;
  --literal-number-float: #91CBFF;
  --literal-number-hex: #91CBFF;
  --literal-number-integer: #91CBFF;
  --literal-number-oct: #91CBFF;
  --literal-string-affix: #FF9492;
  --literal-string-backtick: #91CBFF;
  --literal-string-char: #ADDCFF;
  --literal-string-delimiter: #ADDCFF;
  --literal-string-doc: #ADDCFF;
  --literal-string-double: #ADDCFF;
  --literal-string-escape: #ADDCFF;
  --literal-string-heredoc: #ADDCFF;
  --literal-string-interpol: #FF9492;
  --literal-string-other: #ADDCFF;
  --literal-string-regex: #ADDCFF;
  --literal-string-single: #ADDCFF;
  --literal-string-symbol: #91CBFF;
  --name-builtin-pseudo: #91CBFF;
  --name-function-magic: #91CBFF;
  --name-variable-class: #FFB757;
  --literal-number-integer-long: #91CBFF;
}
