[data-theme="github-dark-default"],
[data-theme="github-dark"] {
  --snippet-bg: #0d1117;
  --snippet-fg: #e6edf3;
  --snippet-highlight-line: #3fb95040;
  --snippet-comment: #8b949e;
  --snippet-error: #ffa198;
  --snippet-escape: #a5d6ff;
  --snippet-keyword: #ff7b72;
  --snippet-literal: #a5d6ff;
  --snippet-operator: #ff7b72;
  --snippet-comment-hashbang: #8b949e;
  --snippet-comment-multiline: #8b949e;
  --snippet-comment-preproc: #ff7b72;
  --snippet-comment-preproc-file: #a5d6ff;
  --snippet-comment-single: #8b949e;
  --snippet-comment-special: #8b949e;
  --snippet-generic-deleted: #ffa198;
  --snippet-generic-emph: #e6edf3;
  --snippet-generic-emph-strong: #e6edf3;
  --snippet-generic-error: #ffa198;
  --snippet-generic-heading: #79c0ff;
  --snippet-generic-inserted: #7ee787;
  --snippet-generic-output: #a5d6ff;
  --snippet-generic-prompt: #ff7b72;
  --snippet-generic-strong: #e6edf3;
  --snippet-generic-subheading: #79c0ff;
  --snippet-generic-traceback: #ffa198;
  --snippet-keyword-constant: #79c0ff;
  --snippet-keyword-declaration: #ff7b72;
  --snippet-keyword-namespace: #ff7b72;
  --snippet-keyword-pseudo: #ff7b72;
  --snippet-keyword-reserved: #ff7b72;
  --snippet-keyword-type: #ffa657;
  --snippet-literal-date: #a5d6ff;
  --snippet-literal-number: #79c0ff;
  --snippet-literal-string: #a5d6ff;
  --snippet-name-attribute: #79c0ff;
  --snippet-name-builtin: #79c0ff;
  --snippet-name-class: #ffa657;
  --snippet-name-constant: #79c0ff;
  --snippet-name-decorator: #79c0ff;
  --snippet-name-entity: #79c0ff;
  --snippet-name-exception: #79c0ff;
  --snippet-name-function: #d2a8ff;
  --snippet-name-label: #a5d6ff;
  --snippet-name-property: #79c0ff;
  --snippet-name-tag: #7ee787;
  --snippet-operator-word: #79c0ff;
  --snippet-text-whitespace: #e6edf3;
  --snippet-literal-number-bin: #79c0ff;
  --snippet-literal-number-float: #79c0ff;
  --snippet-literal-number-hex: #79c0ff;
  --snippet-literal-number-integer: #79c0ff;
  --snippet-literal-number-oct: #79c0ff;
  --snippet-literal-string-affix: #ff7b72;
  --snippet-literal-string-backtick: #79c0ff;
  --snippet-literal-string-char: #a5d6ff;
  --snippet-literal-string-delimiter: #a5d6ff;
  --snippet-literal-string-doc: #a5d6ff;
  --snippet-literal-string-double: #a5d6ff;
  --snippet-literal-string-escape: #a5d6ff;
  --snippet-literal-string-heredoc: #a5d6ff;
  --snippet-literal-string-interpol: #ff7b72;
  --snippet-literal-string-other: #a5d6ff;
  --snippet-literal-string-regex: #a5d6ff;
  --snippet-literal-string-single: #a5d6ff;
  --snippet-literal-string-symbol: #79c0ff;
  --snippet-name-builtin-pseudo: #79c0ff;
  --snippet-name-function-magic: #79c0ff;
  --snippet-name-variable-class: #ffa657;
  --snippet-literal-number-integer-long: #79c0ff;
}
