[data-theme="github-light-high-contrast"] {
  --background: #ffffff;
  --foreground: #0E1116;
  --highlight-line: #26a14840;
  --comment: #66707B;
  --error: #6E011A;
  --escape: #032563;
  --keyword: #A0111F;
  --literal: #032563;
  --operator: #A0111F;
  --comment-hashbang: #66707B;
  --comment-multiline: #66707B;
  --comment-preproc: #A0111F;
  --comment-preproc-file: #032563;
  --comment-single: #66707B;
  --comment-special: #66707B;
  --generic-deleted: #6E011A;
  --generic-emph: #0E1116;
  --generic-emph-strong: #0E1116;
  --generic-error: #6E011A;
  --generic-heading: #023B95;
  --generic-inserted: #024C1A;
  --generic-output: #032563;
  --generic-prompt: #A0111F;
  --generic-strong: #0E1116;
  --generic-subheading: #023B95;
  --generic-traceback: #6E011A;
  --keyword-constant: #023B95;
  --keyword-declaration: #A0111F;
  --keyword-namespace: #A0111F;
  --keyword-pseudo: #A0111F;
  --keyword-reserved: #A0111F;
  --keyword-type: #702C00;
  --literal-date: #032563;
  --literal-number: #023B95;
  --literal-string: #032563;
  --name-attribute: #023B95;
  --name-builtin: #023B95;
  --name-class: #702C00;
  --name-constant: #023B95;
  --name-decorator: #023B95;
  --name-entity: #023B95;
  --name-exception: #023B95;
  --name-function: #622CBC;
  --name-label: #032563;
  --name-property: #023B95;
  --name-tag: #024C1A;
  --operator-word: #023B95;
  --text-whitespace: #0E1116;
  --literal-number-bin: #023B95;
  --literal-number-float: #023B95;
  --literal-number-hex: #023B95;
  --literal-number-integer: #023B95;
  --literal-number-oct: #023B95;
  --literal-string-affix: #A0111F;
  --literal-string-backtick: #023B95;
  --literal-string-char: #032563;
  --literal-string-delimiter: #032563;
  --literal-string-doc: #032563;
  --literal-string-double: #032563;
  --literal-string-escape: #032563;
  --literal-string-heredoc: #032563;
  --literal-string-interpol: #A0111F;
  --literal-string-other: #032563;
  --literal-string-regex: #032563;
  --literal-string-single: #032563;
  --literal-string-symbol: #023B95;
  --name-builtin-pseudo: #023B95;
  --name-function-magic: #023B95;
  --name-variable-class: #702C00;
  --literal-number-integer-long: #023B95;
}
