[data-theme="github-dark-high-contrast"] {
  --snippet-bg: #0a0c10;
  --snippet-fg: #f0f3f6;
  --snippet-highlight-line: #26cd4d40;
  --snippet-comment: #bdc4cc;
  --snippet-error: #ffb1af;
  --snippet-escape: #addcff;
  --snippet-keyword: #ff9492;
  --snippet-literal: #addcff;
  --snippet-operator: #ff9492;
  --snippet-comment-hashbang: #bdc4cc;
  --snippet-comment-multiline: #bdc4cc;
  --snippet-comment-preproc: #ff9492;
  --snippet-comment-preproc-file: #addcff;
  --snippet-comment-single: #bdc4cc;
  --snippet-comment-special: #bdc4cc;
  --snippet-generic-deleted: #ffb1af;
  --snippet-generic-emph: #f0f3f6;
  --snippet-generic-emph-strong: #f0f3f6;
  --snippet-generic-error: #ffb1af;
  --snippet-generic-heading: #91cbff;
  --snippet-generic-inserted: #72f088;
  --snippet-generic-output: #addcff;
  --snippet-generic-prompt: #ff9492;
  --snippet-generic-strong: #f0f3f6;
  --snippet-generic-subheading: #91cbff;
  --snippet-generic-traceback: #ffb1af;
  --snippet-keyword-constant: #91cbff;
  --snippet-keyword-declaration: #ff9492;
  --snippet-keyword-namespace: #ff9492;
  --snippet-keyword-pseudo: #ff9492;
  --snippet-keyword-reserved: #ff9492;
  --snippet-keyword-type: #ffb757;
  --snippet-literal-date: #addcff;
  --snippet-literal-number: #91cbff;
  --snippet-literal-string: #addcff;
  --snippet-name-attribute: #91cbff;
  --snippet-name-builtin: #91cbff;
  --snippet-name-class: #ffb757;
  --snippet-name-constant: #91cbff;
  --snippet-name-decorator: #91cbff;
  --snippet-name-entity: #91cbff;
  --snippet-name-exception: #91cbff;
  --snippet-name-function: #dbb7ff;
  --snippet-name-label: #addcff;
  --snippet-name-property: #91cbff;
  --snippet-name-tag: #72f088;
  --snippet-operator-word: #91cbff;
  --snippet-text-whitespace: #f0f3f6;
  --snippet-literal-number-bin: #91cbff;
  --snippet-literal-number-float: #91cbff;
  --snippet-literal-number-hex: #91cbff;
  --snippet-literal-number-integer: #91cbff;
  --snippet-literal-number-oct: #91cbff;
  --snippet-literal-string-affix: #ff9492;
  --snippet-literal-string-backtick: #91cbff;
  --snippet-literal-string-char: #addcff;
  --snippet-literal-string-delimiter: #addcff;
  --snippet-literal-string-doc: #addcff;
  --snippet-literal-string-double: #addcff;
  --snippet-literal-string-escape: #addcff;
  --snippet-literal-string-heredoc: #addcff;
  --snippet-literal-string-interpol: #ff9492;
  --snippet-literal-string-other: #addcff;
  --snippet-literal-string-regex: #addcff;
  --snippet-literal-string-single: #addcff;
  --snippet-literal-string-symbol: #91cbff;
  --snippet-name-builtin-pseudo: #91cbff;
  --snippet-name-function-magic: #91cbff;
  --snippet-name-variable-class: #ffb757;
  --snippet-literal-number-integer-long: #91cbff;
}
