[data-theme="github-light-default"],
[data-theme="github-light"] {
  --snippet-bg: #ffffff;
  --snippet-fg: #1f2328;
  --snippet-highlight-line: #4ac26b40;
  --snippet-comment: #6e7781;
  --snippet-error: #82071e;
  --snippet-escape: #0a3069;
  --snippet-keyword: #cf222e;
  --snippet-literal: #0a3069;
  --snippet-operator: #cf222e;
  --snippet-comment-hashbang: #6e7781;
  --snippet-comment-multiline: #6e7781;
  --snippet-comment-preproc: #cf222e;
  --snippet-comment-preproc-file: #0a3069;
  --snippet-comment-single: #6e7781;
  --snippet-comment-special: #6e7781;
  --snippet-generic-deleted: #82071e;
  --snippet-generic-emph: #1f2328;
  --snippet-generic-emph-strong: #1f2328;
  --snippet-generic-error: #82071e;
  --snippet-generic-heading: #0550ae;
  --snippet-generic-inserted: #116329;
  --snippet-generic-output: #0a3069;
  --snippet-generic-prompt: #cf222e;
  --snippet-generic-strong: #1f2328;
  --snippet-generic-subheading: #0550ae;
  --snippet-generic-traceback: #82071e;
  --snippet-keyword-constant: #0550ae;
  --snippet-keyword-declaration: #cf222e;
  --snippet-keyword-namespace: #cf222e;
  --snippet-keyword-pseudo: #cf222e;
  --snippet-keyword-reserved: #cf222e;
  --snippet-keyword-type: #953800;
  --snippet-literal-date: #0a3069;
  --snippet-literal-number: #0550ae;
  --snippet-literal-string: #0a3069;
  --snippet-name-attribute: #0550ae;
  --snippet-name-builtin: #0550ae;
  --snippet-name-class: #953800;
  --snippet-name-constant: #0550ae;
  --snippet-name-decorator: #0550ae;
  --snippet-name-entity: #0550ae;
  --snippet-name-exception: #0550ae;
  --snippet-name-function: #8250df;
  --snippet-name-label: #0a3069;
  --snippet-name-property: #0550ae;
  --snippet-name-tag: #116329;
  --snippet-operator-word: #0550ae;
  --snippet-text-whitespace: #1f2328;
  --snippet-literal-number-bin: #0550ae;
  --snippet-literal-number-float: #0550ae;
  --snippet-literal-number-hex: #0550ae;
  --snippet-literal-number-integer: #0550ae;
  --snippet-literal-number-oct: #0550ae;
  --snippet-literal-string-affix: #cf222e;
  --snippet-literal-string-backtick: #0550ae;
  --snippet-literal-string-char: #0a3069;
  --snippet-literal-string-delimiter: #0a3069;
  --snippet-literal-string-doc: #0a3069;
  --snippet-literal-string-double: #0a3069;
  --snippet-literal-string-escape: #0a3069;
  --snippet-literal-string-heredoc: #0a3069;
  --snippet-literal-string-interpol: #cf222e;
  --snippet-literal-string-other: #0a3069;
  --snippet-literal-string-regex: #0a3069;
  --snippet-literal-string-single: #0a3069;
  --snippet-literal-string-symbol: #0550ae;
  --snippet-name-builtin-pseudo: #0550ae;
  --snippet-name-function-magic: #0550ae;
  --snippet-name-variable-class: #953800;
  --snippet-literal-number-integer-long: #0550ae;
}
