[data-theme="github-light-high-contrast"] {
  --snippet-bg: #ffffff;
  --snippet-fg: #0e1116;
  --snippet-highlight-line: #26a14840;
  --snippet-comment: #66707b;
  --snippet-error: #6e011a;
  --snippet-escape: #032563;
  --snippet-keyword: #a0111f;
  --snippet-literal: #032563;
  --snippet-operator: #a0111f;
  --snippet-comment-hashbang: #66707b;
  --snippet-comment-multiline: #66707b;
  --snippet-comment-preproc: #a0111f;
  --snippet-comment-preproc-file: #032563;
  --snippet-comment-single: #66707b;
  --snippet-comment-special: #66707b;
  --snippet-generic-deleted: #6e011a;
  --snippet-generic-emph: #0e1116;
  --snippet-generic-emph-strong: #0e1116;
  --snippet-generic-error: #6e011a;
  --snippet-generic-heading: #023b95;
  --snippet-generic-inserted: #024c1a;
  --snippet-generic-output: #032563;
  --snippet-generic-prompt: #a0111f;
  --snippet-generic-strong: #0e1116;
  --snippet-generic-subheading: #023b95;
  --snippet-generic-traceback: #6e011a;
  --snippet-keyword-constant: #023b95;
  --snippet-keyword-declaration: #a0111f;
  --snippet-keyword-namespace: #a0111f;
  --snippet-keyword-pseudo: #a0111f;
  --snippet-keyword-reserved: #a0111f;
  --snippet-keyword-type: #702c00;
  --snippet-literal-date: #032563;
  --snippet-literal-number: #023b95;
  --snippet-literal-string: #032563;
  --snippet-name-attribute: #023b95;
  --snippet-name-builtin: #023b95;
  --snippet-name-class: #702c00;
  --snippet-name-constant: #023b95;
  --snippet-name-decorator: #023b95;
  --snippet-name-entity: #023b95;
  --snippet-name-exception: #023b95;
  --snippet-name-function: #622cbc;
  --snippet-name-label: #032563;
  --snippet-name-property: #023b95;
  --snippet-name-tag: #024c1a;
  --snippet-operator-word: #023b95;
  --snippet-text-whitespace: #0e1116;
  --snippet-literal-number-bin: #023b95;
  --snippet-literal-number-float: #023b95;
  --snippet-literal-number-hex: #023b95;
  --snippet-literal-number-integer: #023b95;
  --snippet-literal-number-oct: #023b95;
  --snippet-literal-string-affix: #a0111f;
  --snippet-literal-string-backtick: #023b95;
  --snippet-literal-string-char: #032563;
  --snippet-literal-string-delimiter: #032563;
  --snippet-literal-string-doc: #032563;
  --snippet-literal-string-double: #032563;
  --snippet-literal-string-escape: #032563;
  --snippet-literal-string-heredoc: #032563;
  --snippet-literal-string-interpol: #a0111f;
  --snippet-literal-string-other: #032563;
  --snippet-literal-string-regex: #032563;
  --snippet-literal-string-single: #032563;
  --snippet-literal-string-symbol: #023b95;
  --snippet-name-builtin-pseudo: #023b95;
  --snippet-name-function-magic: #023b95;
  --snippet-name-variable-class: #702c00;
  --snippet-literal-number-integer-long: #023b95;
}
