[data-theme="light-plus"] {
  --snippet-bg: #ffffff;
  --snippet-fg: #000;
  --snippet-highlight-line: #add6ff80;
  --snippet-comment: #008000;
  --snippet-error: #cd3131;
  --snippet-keyword: #af00db;
  --snippet-literal: #a31515;
  --snippet-comment-hashbang: #008000;
  --snippet-comment-multiline: #008000;
  --snippet-comment-preproc: #af00db;
  --snippet-comment-preproc-file: #a31515;
  --snippet-comment-single: #008000;
  --snippet-comment-special: #008000;
  --snippet-generic-deleted: #a31515;
  --snippet-generic-error: #cd3131;
  --snippet-generic-heading: #800000;
  --snippet-generic-inserted: #098658;
  --snippet-generic-output: #a31515;
  --snippet-generic-prompt: #000;
  --snippet-generic-strong: #800000;
  --snippet-generic-subheading: #800000;
  --snippet-generic-traceback: #cd3131;
  --snippet-keyword-constant: #0451a5;
  --snippet-keyword-declaration: #af00db;
  --snippet-keyword-namespace: #af00db;
  --snippet-keyword-pseudo: #800000;
  --snippet-keyword-reserved: #af00db;
  --snippet-keyword-type: #800000;
  --snippet-literal-date: #a31515;
  --snippet-literal-number: #098658;
  --snippet-literal-string: #a31515;
  --snippet-name-attribute: #e50000;
  --snippet-name-builtin: #795e26;
  --snippet-name-class: #267f99;
  --snippet-name-constant: #0451a5;
  --snippet-name-decorator: #795e26;
  --snippet-name-exception: #267f99;
  --snippet-name-function: #795e26;
  --snippet-name-label: #000;
  --snippet-name-other: #000;
  --snippet-name-tag: #800000;
  --snippet-text-whitespace: #000;
  --snippet-literal-number-bin: #098658;
  --snippet-literal-number-float: #098658;
  --snippet-literal-number-hex: #098658;
  --snippet-literal-number-integer: #098658;
  --snippet-literal-number-oct: #098658;
  --snippet-literal-string-affix: #a31515;
  --snippet-literal-string-backtick: #a31515;
  --snippet-literal-string-char: #a31515;
  --snippet-literal-string-delimiter: #a31515;
  --snippet-literal-string-doc: #a31515;
  --snippet-literal-string-double: #a31515;
  --snippet-literal-string-escape: #a31515;
  --snippet-literal-string-heredoc: #a31515;
  --snippet-literal-string-interpol: #800000;
  --snippet-literal-string-other: #a31515;
  --snippet-literal-string-regex: #811f3f;
  --snippet-literal-string-single: #a31515;
  --snippet-literal-string-symbol: #a31515;
  --snippet-name-builtin-pseudo: #800000;
  --snippet-name-function-magic: #795e26;
  --snippet-literal-number-integer-long: #098658;
}
