[data-theme="light-plus"] {
  --background: #FFFFFF;
  --foreground: #000;
  --highlight-line: #ADD6FF80;
  --comment: #008000;
  --error: #CD3131;
  --keyword: #AF00DB;
  --literal: #A31515;
  --comment-hashbang: #008000;
  --comment-multiline: #008000;
  --comment-preproc: #AF00DB;
  --comment-preproc-file: #A31515;
  --comment-single: #008000;
  --comment-special: #008000;
  --generic-deleted: #A31515;
  --generic-error: #CD3131;
  --generic-heading: #800000;
  --generic-inserted: #098658;
  --generic-output: #A31515;
  --generic-prompt: #000;
  --generic-strong: #800000;
  --generic-subheading: #800000;
  --generic-traceback: #CD3131;
  --keyword-constant: #0451A5;
  --keyword-declaration: #AF00DB;
  --keyword-namespace: #AF00DB;
  --keyword-pseudo: #800000;
  --keyword-reserved: #AF00DB;
  --keyword-type: #800000;
  --literal-date: #A31515;
  --literal-number: #098658;
  --literal-string: #A31515;
  --name-attribute: #E50000;
  --name-builtin: #795E26;
  --name-class: #267F99;
  --name-constant: #0451A5;
  --name-decorator: #795E26;
  --name-exception: #267F99;
  --name-function: #795E26;
  --name-label: #000;
  --name-other: #000;
  --name-tag: #800000;
  --text-whitespace: #000;
  --literal-number-bin: #098658;
  --literal-number-float: #098658;
  --literal-number-hex: #098658;
  --literal-number-integer: #098658;
  --literal-number-oct: #098658;
  --literal-string-affix: #A31515;
  --literal-string-backtick: #A31515;
  --literal-string-char: #A31515;
  --literal-string-delimiter: #A31515;
  --literal-string-doc: #A31515;
  --literal-string-double: #A31515;
  --literal-string-escape: #A31515;
  --literal-string-heredoc: #A31515;
  --literal-string-interpol: #800000;
  --literal-string-other: #A31515;
  --literal-string-regex: #811F3F;
  --literal-string-single: #A31515;
  --literal-string-symbol: #A31515;
  --name-builtin-pseudo: #800000;
  --name-function-magic: #795E26;
  --literal-number-integer-long: #098658;
}
