[data-theme="min-light"] {
  --snippet-bg: #ffffff;
  --snippet-fg: #24292e;
  --snippet-highlight-line: #e7f3ff52;
  --snippet-comment: #c2c3c5;
  --snippet-error: #cd3131;
  --snippet-escape: #1976d2;
  --snippet-keyword: #d32f2f;
  --snippet-literal: #1976d2;
  --snippet-operator: #d32f2f;
  --snippet-comment-hashbang: #c2c3c5;
  --snippet-comment-multiline: #c2c3c5;
  --snippet-comment-preproc: #d32f2f;
  --snippet-comment-preproc-file: #1976d2;
  --snippet-comment-single: #c2c3c5;
  --snippet-comment-special: #c2c3c5;
  --snippet-generic-deleted: #d32f2f;
  --snippet-generic-emph: #24292e;
  --snippet-generic-error: #cd3131;
  --snippet-generic-heading: #6f42c1;
  --snippet-generic-inserted: #22863a;
  --snippet-generic-output: #22863a;
  --snippet-generic-prompt: #d32f2f;
  --snippet-generic-strong: #6f42c1;
  --snippet-generic-subheading: #6f42c1;
  --snippet-generic-traceback: #cd3131;
  --snippet-keyword-constant: #1976d2;
  --snippet-keyword-declaration: #d32f2f;
  --snippet-keyword-namespace: #d32f2f;
  --snippet-keyword-pseudo: #d32f2f;
  --snippet-keyword-reserved: #d32f2f;
  --snippet-keyword-type: #d32f2f;
  --snippet-literal-date: #1976d2;
  --snippet-literal-number: #1976d2;
  --snippet-literal-string: #22863a;
  --snippet-name-attribute: #6f42c1;
  --snippet-name-builtin: #1976d2;
  --snippet-name-class: #6f42c1;
  --snippet-name-constant: #1976d2;
  --snippet-name-decorator: #1976d2;
  --snippet-name-entity: #6f42c1;
  --snippet-name-exception: #6f42c1;
  --snippet-name-function: #6f42c1;
  --snippet-name-label: #1976d2;
  --snippet-name-property: #1976d2;
  --snippet-name-tag: #22863a;
  --snippet-name-variable: #24292e;
  --snippet-operator-word: #d32f2f;
  --snippet-text-whitespace: #24292e;
  --snippet-literal-number-bin: #1976d2;
  --snippet-literal-number-float: #1976d2;
  --snippet-literal-number-hex: #1976d2;
  --snippet-literal-number-integer: #1976d2;
  --snippet-literal-number-oct: #1976d2;
  --snippet-literal-string-affix: #d32f2f;
  --snippet-literal-string-backtick: #1976d2;
  --snippet-literal-string-char: #22863a;
  --snippet-literal-string-delimiter: #22863a;
  --snippet-literal-string-doc: #22863a;
  --snippet-literal-string-double: #22863a;
  --snippet-literal-string-escape: #d32f2f;
  --snippet-literal-string-heredoc: #22863a;
  --snippet-literal-string-interpol: #1976d2;
  --snippet-literal-string-other: #22863a;
  --snippet-literal-string-regex: #22863a;
  --snippet-literal-string-single: #22863a;
  --snippet-literal-string-symbol: #1976d2;
  --snippet-name-builtin-pseudo: #6f42c1;
  --snippet-name-function-magic: #6f42c1;
  --snippet-name-variable-class: #24292e;
  --snippet-name-variable-global: #24292e;
  --snippet-name-variable-instance: #24292e;
  --snippet-name-variable-magic: #24292e;
  --snippet-literal-number-integer-long: #1976d2;
}
