[data-theme="min-dark"] {
  --background: #1f1f1f;
  --foreground: #EAEAEA;
  --highlight-line: #79b8ff33;
  --comment: #6B737C;
  --error: #CD3131;
  --escape: #79B8FF;
  --keyword: #F97583;
  --literal: #79B8FF;
  --operator: #F97583;
  --comment-hashbang: #6B737C;
  --comment-multiline: #6B737C;
  --comment-preproc: #F97583;
  --comment-preproc-file: #79B8FF;
  --comment-single: #6B737C;
  --comment-special: #6B737C;
  --generic-deleted: #CD3131;
  --generic-emph: #EAEAEA;
  --generic-error: #CD3131;
  --generic-heading: #B392F0;
  --generic-inserted: #3A632A;
  --generic-output: #FFAB70;
  --generic-prompt: #F97583;
  --generic-strong: #B392F0;
  --generic-subheading: #B392F0;
  --generic-traceback: #CD3131;
  --keyword-constant: #F8F8F8;
  --keyword-declaration: #F97583;
  --keyword-namespace: #F97583;
  --keyword-pseudo: #F97583;
  --keyword-reserved: #F97583;
  --keyword-type: #F97583;
  --literal-date: #79B8FF;
  --literal-number: #F8F8F8;
  --literal-string: #FFAB70;
  --name-attribute: #B392F0;
  --name-builtin: #B392F0;
  --name-class: #B392F0;
  --name-constant: #79B8FF;
  --name-decorator: #79B8FF;
  --name-entity: #B392F0;
  --name-exception: #79B8FF;
  --name-function: #B392F0;
  --name-label: #79B8FF;
  --name-property: #79B8FF;
  --name-tag: #FFAB70;
  --name-variable: #EAEAEA;
  --operator-word: #F97583;
  --text-whitespace: #EAEAEA;
  --literal-number-bin: #F8F8F8;
  --literal-number-float: #F8F8F8;
  --literal-number-hex: #F8F8F8;
  --literal-number-integer: #F8F8F8;
  --literal-number-oct: #F8F8F8;
  --literal-string-affix: #F97583;
  --literal-string-backtick: #79B8FF;
  --literal-string-char: #FFAB70;
  --literal-string-delimiter: #FFAB70;
  --literal-string-doc: #FFAB70;
  --literal-string-double: #FFAB70;
  --literal-string-escape: #F97583;
  --literal-string-heredoc: #FFAB70;
  --literal-string-interpol: #F97583;
  --literal-string-other: #FFAB70;
  --literal-string-regex: #FFAB70;
  --literal-string-single: #FFAB70;
  --literal-string-symbol: #79B8FF;
  --name-builtin-pseudo: #B392F0;
  --name-function-magic: #B392F0;
  --name-variable-class: #EAEAEA;
  --name-variable-global: #EAEAEA;
  --name-variable-instance: #EAEAEA;
  --name-variable-magic: #EAEAEA;
  --literal-number-integer-long: #F8F8F8;
}
