[data-theme="min-light"] {
  --background: #ffffff;
  --foreground: #24292E;
  --highlight-line: #E7F3FF52;
  --comment: #C2C3C5;
  --error: #CD3131;
  --escape: #1976D2;
  --keyword: #D32F2F;
  --literal: #1976D2;
  --operator: #D32F2F;
  --comment-hashbang: #C2C3C5;
  --comment-multiline: #C2C3C5;
  --comment-preproc: #D32F2F;
  --comment-preproc-file: #1976D2;
  --comment-single: #C2C3C5;
  --comment-special: #C2C3C5;
  --generic-deleted: #D32F2F;
  --generic-emph: #24292E;
  --generic-error: #CD3131;
  --generic-heading: #6F42C1;
  --generic-inserted: #22863A;
  --generic-output: #22863A;
  --generic-prompt: #D32F2F;
  --generic-strong: #6F42C1;
  --generic-subheading: #6F42C1;
  --generic-traceback: #CD3131;
  --keyword-constant: #1976D2;
  --keyword-declaration: #D32F2F;
  --keyword-namespace: #D32F2F;
  --keyword-pseudo: #D32F2F;
  --keyword-reserved: #D32F2F;
  --keyword-type: #D32F2F;
  --literal-date: #1976D2;
  --literal-number: #1976D2;
  --literal-string: #22863A;
  --name-attribute: #6F42C1;
  --name-builtin: #1976D2;
  --name-class: #6F42C1;
  --name-constant: #1976D2;
  --name-decorator: #1976D2;
  --name-entity: #6F42C1;
  --name-exception: #6F42C1;
  --name-function: #6F42C1;
  --name-label: #1976D2;
  --name-property: #1976D2;
  --name-tag: #22863A;
  --name-variable: #24292E;
  --operator-word: #D32F2F;
  --text-whitespace: #24292E;
  --literal-number-bin: #1976D2;
  --literal-number-float: #1976D2;
  --literal-number-hex: #1976D2;
  --literal-number-integer: #1976D2;
  --literal-number-oct: #1976D2;
  --literal-string-affix: #D32F2F;
  --literal-string-backtick: #1976D2;
  --literal-string-char: #22863A;
  --literal-string-delimiter: #22863A;
  --literal-string-doc: #22863A;
  --literal-string-double: #22863A;
  --literal-string-escape: #D32F2F;
  --literal-string-heredoc: #22863A;
  --literal-string-interpol: #1976D2;
  --literal-string-other: #22863A;
  --literal-string-regex: #22863A;
  --literal-string-single: #22863A;
  --literal-string-symbol: #1976D2;
  --name-builtin-pseudo: #6F42C1;
  --name-function-magic: #6F42C1;
  --name-variable-class: #24292E;
  --name-variable-global: #24292E;
  --name-variable-instance: #24292E;
  --name-variable-magic: #24292E;
  --literal-number-integer-long: #1976D2;
}
