[data-theme="min-dark"] {
  --snippet-bg: #1f1f1f;
  --snippet-fg: #eaeaea;
  --snippet-highlight-line: #79b8ff33;
  --snippet-comment: #6b737c;
  --snippet-error: #cd3131;
  --snippet-escape: #79b8ff;
  --snippet-keyword: #f97583;
  --snippet-literal: #79b8ff;
  --snippet-operator: #f97583;
  --snippet-comment-hashbang: #6b737c;
  --snippet-comment-multiline: #6b737c;
  --snippet-comment-preproc: #f97583;
  --snippet-comment-preproc-file: #79b8ff;
  --snippet-comment-single: #6b737c;
  --snippet-comment-special: #6b737c;
  --snippet-generic-deleted: #cd3131;
  --snippet-generic-emph: #eaeaea;
  --snippet-generic-error: #cd3131;
  --snippet-generic-heading: #b392f0;
  --snippet-generic-inserted: #3a632a;
  --snippet-generic-output: #ffab70;
  --snippet-generic-prompt: #f97583;
  --snippet-generic-strong: #b392f0;
  --snippet-generic-subheading: #b392f0;
  --snippet-generic-traceback: #cd3131;
  --snippet-keyword-constant: #f8f8f8;
  --snippet-keyword-declaration: #f97583;
  --snippet-keyword-namespace: #f97583;
  --snippet-keyword-pseudo: #f97583;
  --snippet-keyword-reserved: #f97583;
  --snippet-keyword-type: #f97583;
  --snippet-literal-date: #79b8ff;
  --snippet-literal-number: #f8f8f8;
  --snippet-literal-string: #ffab70;
  --snippet-name-attribute: #b392f0;
  --snippet-name-builtin: #b392f0;
  --snippet-name-class: #b392f0;
  --snippet-name-constant: #79b8ff;
  --snippet-name-decorator: #79b8ff;
  --snippet-name-entity: #b392f0;
  --snippet-name-exception: #79b8ff;
  --snippet-name-function: #b392f0;
  --snippet-name-label: #79b8ff;
  --snippet-name-property: #79b8ff;
  --snippet-name-tag: #ffab70;
  --snippet-name-variable: #eaeaea;
  --snippet-operator-word: #f97583;
  --snippet-text-whitespace: #eaeaea;
  --snippet-literal-number-bin: #f8f8f8;
  --snippet-literal-number-float: #f8f8f8;
  --snippet-literal-number-hex: #f8f8f8;
  --snippet-literal-number-integer: #f8f8f8;
  --snippet-literal-number-oct: #f8f8f8;
  --snippet-literal-string-affix: #f97583;
  --snippet-literal-string-backtick: #79b8ff;
  --snippet-literal-string-char: #ffab70;
  --snippet-literal-string-delimiter: #ffab70;
  --snippet-literal-string-doc: #ffab70;
  --snippet-literal-string-double: #ffab70;
  --snippet-literal-string-escape: #f97583;
  --snippet-literal-string-heredoc: #ffab70;
  --snippet-literal-string-interpol: #f97583;
  --snippet-literal-string-other: #ffab70;
  --snippet-literal-string-regex: #ffab70;
  --snippet-literal-string-single: #ffab70;
  --snippet-literal-string-symbol: #79b8ff;
  --snippet-name-builtin-pseudo: #b392f0;
  --snippet-name-function-magic: #b392f0;
  --snippet-name-variable-class: #eaeaea;
  --snippet-name-variable-global: #eaeaea;
  --snippet-name-variable-instance: #eaeaea;
  --snippet-name-variable-magic: #eaeaea;
  --snippet-literal-number-integer-long: #f8f8f8;
}
