[data-theme="one-dark"] {
  --snippet-bg: #282c34;
  --snippet-fg: #abb2bf;
  --snippet-highlight-line: #67769660;
  --snippet-comment: #7f848e;
  --snippet-error: #e06c75;
  --snippet-escape: #56b6c2;
  --snippet-keyword: #c678dd;
  --snippet-literal: #98c379;
  --snippet-operator: #56b6c2;
  --snippet-comment-hashbang: #7f848e;
  --snippet-comment-multiline: #7f848e;
  --snippet-comment-preproc: #c678dd;
  --snippet-comment-preproc-file: #98c379;
  --snippet-comment-single: #7f848e;
  --snippet-comment-special: #7f848e;
  --snippet-generic-deleted: #e06c75;
  --snippet-generic-emph: #c678dd;
  --snippet-generic-error: #e06c75;
  --snippet-generic-heading: #e06c75;
  --snippet-generic-inserted: #98c379;
  --snippet-generic-output: #98c379;
  --snippet-generic-prompt: #5c6370;
  --snippet-generic-strong: #d19a66;
  --snippet-generic-subheading: #e06c75;
  --snippet-generic-traceback: #e06c75;
  --snippet-keyword-constant: #d19a66;
  --snippet-keyword-declaration: #c678dd;
  --snippet-keyword-namespace: #c678dd;
  --snippet-keyword-pseudo: #61afef;
  --snippet-keyword-reserved: #c678dd;
  --snippet-keyword-type: #d19a66;
  --snippet-literal-date: #98c379;
  --snippet-literal-number: #d19a66;
  --snippet-literal-string: #98c379;
  --snippet-name-attribute: #d19a66;
  --snippet-name-builtin: #56b6c2;
  --snippet-name-class: #e5c07b;
  --snippet-name-constant: #e5c07b;
  --snippet-name-decorator: #56b6c2;
  --snippet-name-exception: #56b6c2;
  --snippet-name-function: #61afef;
  --snippet-name-label: #61afef;
  --snippet-name-tag: #e06c75;
  --snippet-name-variable: #e06c75;
  --snippet-operator-word: #56b6c2;
  --snippet-text-whitespace: #abb2bf;
  --snippet-literal-number-bin: #d19a66;
  --snippet-literal-number-float: #d19a66;
  --snippet-literal-number-hex: #d19a66;
  --snippet-literal-number-integer: #d19a66;
  --snippet-literal-number-oct: #d19a66;
  --snippet-literal-string-affix: #c678dd;
  --snippet-literal-string-backtick: #98c379;
  --snippet-literal-string-char: #98c379;
  --snippet-literal-string-delimiter: #98c379;
  --snippet-literal-string-doc: #98c379;
  --snippet-literal-string-double: #98c379;
  --snippet-literal-string-escape: #56b6c2;
  --snippet-literal-string-heredoc: #98c379;
  --snippet-literal-string-interpol: #d19a66;
  --snippet-literal-string-other: #98c379;
  --snippet-literal-string-regex: #e06c75;
  --snippet-literal-string-single: #98c379;
  --snippet-literal-string-symbol: #56b6c2;
  --snippet-name-builtin-pseudo: #e5c07b;
  --snippet-name-function-magic: #61afef;
  --snippet-name-variable-class: #e06c75;
  --snippet-name-variable-global: #e06c75;
  --snippet-name-variable-instance: #e06c75;
  --snippet-name-variable-magic: #e06c75;
  --snippet-literal-number-integer-long: #d19a66;
}
