[data-theme="one-light"] {
  --snippet-bg: #fafafa;
  --snippet-fg: #383a42;
  --snippet-highlight-line: #e5e5e6;
  --snippet-comment: #a0a1a7;
  --snippet-error: #ca1243;
  --snippet-escape: #0184bc;
  --snippet-keyword: #a626a4;
  --snippet-literal: #50a14f;
  --snippet-operator: #0184bc;
  --snippet-comment-hashbang: #a0a1a7;
  --snippet-comment-multiline: #a0a1a7;
  --snippet-comment-preproc: #a626a4;
  --snippet-comment-preproc-file: #50a14f;
  --snippet-comment-single: #a0a1a7;
  --snippet-comment-special: #a0a1a7;
  --snippet-generic-deleted: #e45649;
  --snippet-generic-emph: #a626a4;
  --snippet-generic-error: #ca1243;
  --snippet-generic-heading: #e45649;
  --snippet-generic-inserted: #50a14f;
  --snippet-generic-output: #50a14f;
  --snippet-generic-prompt: #9d9d9f;
  --snippet-generic-strong: #986801;
  --snippet-generic-subheading: #e45649;
  --snippet-generic-traceback: #ca1243;
  --snippet-keyword-constant: #986801;
  --snippet-keyword-declaration: #a626a4;
  --snippet-keyword-namespace: #a626a4;
  --snippet-keyword-pseudo: #4078f2;
  --snippet-keyword-reserved: #a626a4;
  --snippet-keyword-type: #986801;
  --snippet-literal-date: #50a14f;
  --snippet-literal-number: #986801;
  --snippet-literal-string: #50a14f;
  --snippet-name-attribute: #986801;
  --snippet-name-builtin: #0184bc;
  --snippet-name-class: #c18401;
  --snippet-name-constant: #c18401;
  --snippet-name-decorator: #0184bc;
  --snippet-name-exception: #0184bc;
  --snippet-name-function: #4078f2;
  --snippet-name-label: #4078f2;
  --snippet-name-tag: #e45649;
  --snippet-name-variable: #e45649;
  --snippet-operator-word: #0184bc;
  --snippet-text-whitespace: #383a42;
  --snippet-literal-number-bin: #986801;
  --snippet-literal-number-float: #986801;
  --snippet-literal-number-hex: #986801;
  --snippet-literal-number-integer: #986801;
  --snippet-literal-number-oct: #986801;
  --snippet-literal-string-affix: #a626a4;
  --snippet-literal-string-backtick: #50a14f;
  --snippet-literal-string-char: #50a14f;
  --snippet-literal-string-delimiter: #50a14f;
  --snippet-literal-string-doc: #50a14f;
  --snippet-literal-string-double: #50a14f;
  --snippet-literal-string-escape: #0184bc;
  --snippet-literal-string-heredoc: #50a14f;
  --snippet-literal-string-interpol: #986801;
  --snippet-literal-string-other: #50a14f;
  --snippet-literal-string-regex: #e45649;
  --snippet-literal-string-single: #50a14f;
  --snippet-literal-string-symbol: #0184bc;
  --snippet-name-builtin-pseudo: #c18401;
  --snippet-name-function-magic: #4078f2;
  --snippet-name-variable-class: #e45649;
  --snippet-name-variable-global: #e45649;
  --snippet-name-variable-instance: #e45649;
  --snippet-name-variable-magic: #e45649;
  --snippet-literal-number-integer-long: #986801;
}
