[data-theme="one-dark"] {
  --background: #282c34;
  --foreground: #abb2bf;
  --highlight-line: #67769660;
  --comment: #7f848e;
  --error: #e06c75;
  --escape: #56b6c2;
  --keyword: #c678dd;
  --literal: #98c379;
  --operator: #56b6c2;
  --comment-hashbang: #7f848e;
  --comment-multiline: #7f848e;
  --comment-preproc: #c678dd;
  --comment-preproc-file: #98c379;
  --comment-single: #7f848e;
  --comment-special: #7f848e;
  --generic-deleted: #e06c75;
  --generic-emph: #c678dd;
  --generic-error: #e06c75;
  --generic-heading: #e06c75;
  --generic-inserted: #98c379;
  --generic-output: #98c379;
  --generic-prompt: #5c6370;
  --generic-strong: #d19a66;
  --generic-subheading: #e06c75;
  --generic-traceback: #e06c75;
  --keyword-constant: #d19a66;
  --keyword-declaration: #c678dd;
  --keyword-namespace: #c678dd;
  --keyword-pseudo: #61afef;
  --keyword-reserved: #c678dd;
  --keyword-type: #d19a66;
  --literal-date: #98c379;
  --literal-number: #d19a66;
  --literal-string: #98c379;
  --name-attribute: #d19a66;
  --name-builtin: #56b6c2;
  --name-class: #e5c07b;
  --name-constant: #e5c07b;
  --name-decorator: #56b6c2;
  --name-exception: #56b6c2;
  --name-function: #61afef;
  --name-label: #61afef;
  --name-tag: #e06c75;
  --name-variable: #e06c75;
  --operator-word: #56b6c2;
  --text-whitespace: #abb2bf;
  --literal-number-bin: #d19a66;
  --literal-number-float: #d19a66;
  --literal-number-hex: #d19a66;
  --literal-number-integer: #d19a66;
  --literal-number-oct: #d19a66;
  --literal-string-affix: #c678dd;
  --literal-string-backtick: #98c379;
  --literal-string-char: #98c379;
  --literal-string-delimiter: #98c379;
  --literal-string-doc: #98c379;
  --literal-string-double: #98c379;
  --literal-string-escape: #56b6c2;
  --literal-string-heredoc: #98c379;
  --literal-string-interpol: #d19a66;
  --literal-string-other: #98c379;
  --literal-string-regex: #e06c75;
  --literal-string-single: #98c379;
  --literal-string-symbol: #56b6c2;
  --name-builtin-pseudo: #e5c07b;
  --name-function-magic: #61afef;
  --name-variable-class: #e06c75;
  --name-variable-global: #e06c75;
  --name-variable-instance: #e06c75;
  --name-variable-magic: #e06c75;
  --literal-number-integer-long: #d19a66;
}
