[data-theme="one-light"] {
  --background: #FAFAFA;
  --foreground: #383A42;
  --highlight-line: #E5E5E6;
  --comment: #A0A1A7;
  --error: #CA1243;
  --escape: #0184BC;
  --keyword: #A626A4;
  --literal: #50A14F;
  --operator: #0184BC;
  --comment-hashbang: #A0A1A7;
  --comment-multiline: #A0A1A7;
  --comment-preproc: #A626A4;
  --comment-preproc-file: #50A14F;
  --comment-single: #A0A1A7;
  --comment-special: #A0A1A7;
  --generic-deleted: #E45649;
  --generic-emph: #A626A4;
  --generic-error: #CA1243;
  --generic-heading: #E45649;
  --generic-inserted: #50A14F;
  --generic-output: #50A14F;
  --generic-prompt: #9D9D9F;
  --generic-strong: #986801;
  --generic-subheading: #E45649;
  --generic-traceback: #CA1243;
  --keyword-constant: #986801;
  --keyword-declaration: #A626A4;
  --keyword-namespace: #A626A4;
  --keyword-pseudo: #4078F2;
  --keyword-reserved: #A626A4;
  --keyword-type: #986801;
  --literal-date: #50A14F;
  --literal-number: #986801;
  --literal-string: #50A14F;
  --name-attribute: #986801;
  --name-builtin: #0184BC;
  --name-class: #C18401;
  --name-constant: #C18401;
  --name-decorator: #0184BC;
  --name-exception: #0184BC;
  --name-function: #4078F2;
  --name-label: #4078F2;
  --name-tag: #E45649;
  --name-variable: #E45649;
  --operator-word: #0184BC;
  --text-whitespace: #383A42;
  --literal-number-bin: #986801;
  --literal-number-float: #986801;
  --literal-number-hex: #986801;
  --literal-number-integer: #986801;
  --literal-number-oct: #986801;
  --literal-string-affix: #A626A4;
  --literal-string-backtick: #50A14F;
  --literal-string-char: #50A14F;
  --literal-string-delimiter: #50A14F;
  --literal-string-doc: #50A14F;
  --literal-string-double: #50A14F;
  --literal-string-escape: #0184BC;
  --literal-string-heredoc: #50A14F;
  --literal-string-interpol: #986801;
  --literal-string-other: #50A14F;
  --literal-string-regex: #E45649;
  --literal-string-single: #50A14F;
  --literal-string-symbol: #0184BC;
  --name-builtin-pseudo: #C18401;
  --name-function-magic: #4078F2;
  --name-variable-class: #E45649;
  --name-variable-global: #E45649;
  --name-variable-instance: #E45649;
  --name-variable-magic: #E45649;
  --literal-number-integer-long: #986801;
}
