[data-component="page"] {
  font-family: var(--lb-font-prose);
  color: var(--lb-page-color);
  background-color: var(--lb-page-background-color);
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  overflow: auto;

  .page-slat {
    padding-inline: var(--lb-spacing-xl);
  }

  .page-header {
    border-bottom: 1px solid var(--lb-page-divider-color);
    padding-block: var(--lb-spacing-xl);
  }

  .page-title {
    color: var(--lb-page-title-color);
    font-weight: var(--lb-font-weight-bold);
    font-size: var(--lb-font-size-2xl);
  }

  .page-body {
    padding-top: var(--lb-spacing-2xl);
    padding-bottom: var(--lb-spacing-3xl);
  }

  .page-footer {
    border-top: 1px solid var(--lb-page-divider-color);
    padding-block: var(--lb-spacing-xl);
  }

  .page-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--lb-font-ui);
  }

  .page-nav-link {
    display: flex;
    align-items: center;
    gap: var(--lb-spacing-2xs);
  }

  .page-nav-link-next {
    margin-left: auto;
  }
}
