[data-component="page"] {
  font-family: var(--lookbook-font-prose);
  background-color: var(--lookbook-color-white);
  min-height: 100vh;

  .page-slat {
    padding-inline: var(--lookbook-spacing-x-large);
  }

  .page-header {
    border-bottom: 1px solid var(--lookbook-color-base-300);
    padding-block: var(--lookbook-spacing-x-large);
  }

  .page-title {
    font-weight: var(--lookbook-font-weight-bold);
    font-size: var(--lookbook-font-size-2x-large);
  }

  .page-body {
    padding-top: var(--lookbook-spacing-2x-large);
    padding-bottom: var(--lookbook-spacing-3x-large);
  }

  .page-footer {
    border-top: 1px solid var(--lookbook-color-base-300);
    padding-block: var(--lookbook-spacing-x-large);
  }

  .page-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--lookbook-font-ui);
  }

  .page-nav-link {
    display: flex;
    align-items: center;
    gap: var(--lookbook-spacing-2x-small);
  }

  .page-nav-link-next {
    margin-left: auto;
  }
}
