<%= render component_tag(
  tag_name,
  id: nil,
  key: id,
  x: {
    data: "paneGroup(#{id.to_json}, #{opts.to_json})",
    effect: "initSplit",
    bind: "bindings.root",
  }) do %>
  <% panes.each do |pane| %>
    <div class="pane-group-pane">
      <%= pane %>
    </div>
    
    <% unless pane == panes.last %>
      <div class="pane-group-gutter" x-init="registerGutter">
        <div class="pane-group-gutter-handle"></div>
      </div>
    <% end %>
  <% end %> 
<% end %>
