.lb-prose {
  --prose-max-line-length: 70ch;
  --element-max-width: 100%;

  line-height: 1.5;
  color: var(--lookbook-text-base);
  font-family: var(--lookbook-font-family-prose);
  font-size: var(--lookbook-font-size-lg);

  address,
  audio,
  blockquote,
  dd,
  details,
  dl,
  fieldset,
  figure,
  iframe,
  ol,
  pre,
  table,
  ul,
  video {
    margin: 0;
    max-width: var(--prose-max-line-length);

    &:not(:last-child) {
      margin-block-end: var(--lookbook-prose-spacing);
    }

    /* No end margin on the last child */
    & > :last-child {
      margin-block-end: 0;
    }
  }

  /* Headings and paragraphs */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .lookbook-h1,
  .lookbook-h2,
  .lookbook-h3,
  .lookbook-h4 {
    margin: 0;
    font-weight: var(--lookbook-font-weight-semibold);
    line-height: 1.3;
    font-family: var(--lookbook-font-family-prose);
    text-wrap: balance;
    overflow-wrap: break-word;

    &:not(:first-child) {
      margin-block-start: var(--lookbook-prose-spacing);
    }

    &:not(:last-child) {
      margin-block-end: calc(var(--lookbook-prose-spacing));
    }
  }

  h1,
  .lookbook-h1,
  h2,
  .lookbook-h2 {
    font-size: 1.5rem;
  }

  h3,
  .lookbook-h3 {
    font-size: 1.3rem;
  }

  h4,
  .lookbook-h4 {
    font-size: 1.1rem;
  }

  p {
    margin-block: 0;
    text-wrap: pretty;
    overflow-wrap: break-word;
    max-width: var(--prose-max-line-length);

    &:not(:last-child) {
      margin-block: 0 var(--lookbook-prose-spacing);
    }
  }

  /* Lookbook elements */

  lb-prose {
    max-width: var(--prose-max-line-length);

    &:not(:last-child) {
      margin-block-end: calc(var(--lookbook-prose-spacing) * 1.5);
    }
  }

  lb-embed,
  lb-viewport,
  lb-snippet {
    max-width: var(--element-max-width);

    &:not(:last-child) {
      margin-block-end: calc(var(--lookbook-prose-spacing) * 1.5);
    }
  }

  /* Block quotes */
  blockquote {
    max-width: var(--prose-max-line-length);
    position: relative;
    padding: calc(var(--lookbook-prose-spacing) / 1.5) var(--lookbook-prose-spacing);
    border-left: solid calc(var(--lookbook-divider-width) * 4) var(--lookbook-divider-color);
    color: var(--lookbook-text-muted);
    font-size: 1.125em;
  }

  /* Inline quotes & citations */
  q,
  cite {
    font-style: normal;
  }

  q {
    quotes: "“" "”" "‘" "’"; /* Smart quotes */
  }

  cite {
    font-style: italic;
  }

  /* Dividers */
  hr {
    max-width: var(--prose-max-line-length);
    margin: calc(var(--lookbook-prose-spacing) * 1.5) 0;
    border: none;
    border-top: 1px solid var(--lookbook-neutral-stroke-quiet);
  }

  /* Media */
  img,
  iframe,
  picture,
  video,
  canvas {
    display: block;
    width: 100%;
    max-width: var(--prose-max-line-length);
    border-radius: var(--lookbook-divider-radius-md);
  }

  iframe {
    max-width: var(--element-max-width);
    aspect-ratio: 9 / 6;
    width: 100%;
    border: solid var(--lookbook-divider-width) var(--lookbook-divider-color);
    background-color: var(--lookbook-background-color);
  }

  /* Inline text elements */
  a {
    color: var(--lookbook-accent-text-on-quiet);
    font-weight: var(--lookbook-font-weight-normal);
    text-decoration-thickness: 0.0625em;
    text-underline-offset: 0.125em;
    transition: 150ms color ease;
    text-decoration: underline;

    @media (hover: hover) {
      &:hover {
        color: color-mix(in oklab, var(--lookbook-accent-text-on-quiet), black 10%);
      }
    }
  }

  a,
  button {
    &:focus-visible {
      outline: var(--lookbook-focus-ring);
      outline-offset: var(--lookbook-focus-offset);
    }
  }

  /* Code inside an anchor should remain the anchor color */
  a code,
  a pre {
    background-color: inherit;
    color: inherit;
  }

  abbr[title] {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--lookbook-neutral-fill-mid);
    text-decoration-thickness: 0.09375em;
    text-underline-offset: 0.125em;
    cursor: help;
  }

  del {
    text-decoration-style: solid;
    text-decoration-color: var(--lookbook-destructive-fill-mid);
    text-decoration-thickness: 0.09375em;
  }

  ins {
    text-decoration-style: solid;
    text-decoration-color: var(--lookbook-constructive-fill-mid);
    text-decoration-thickness: 0.09375em;
    text-underline-offset: 0.125em;
  }

  kbd {
    padding: 0.2125em 0.33em;
    border: solid max(1px, 0.0715em) var(--lookbook-neutral-fill-soft);
    border-radius: var(--lookbook-divider-radius-sm);
    box-shadow: 0 max(1px, 0.0715em) 0 0 var(--lookbook-neutral-fill-soft);
    font: inherit;
    font-size: 0.9375em;
    letter-spacing: 0.0625em;
    vertical-align: baseline;
  }

  mark {
    padding: 0.125em 0.25em;
    border-radius: 0;
    border-radius: var(--lookbook-divider-radius-sm);
    background-color: color-mix(in oklab, #f4dd01, transparent 75%);
    color: inherit;
  }

  small {
    color: var(--lookbook-text-muted);
    font-size: 0.875em;
  }

  strong {
    font-weight: var(--lookbook-font-weight-bold);
  }

  u {
    text-decoration-thickness: 0.09375em;
    text-underline-offset: 0.125em;
  }

  /* Code */
  code,
  samp,
  tt {
    padding: 0.125em 0.25em;
    border-radius: var(--lookbook-divider-radius-sm);
    background: var(--lookbook-neutral-fill-softer);
    color: var(--lookbook-neutral-text-on-soft);
    font-size: 0.875em;
    font-family: var(--lookbook-font-family-code);
    tab-size: 2;
  }

  a:has(code, samp, tt, pre) {
    font-weight: inherit;
  }

  pre,
  lb-snippet {
    position: relative;
    border-radius: var(--lookbook-divider-radius-md);
    background: var(--lookbook-neutral-fill-softer);
    color: var(--lookbook-neutral-text-on-soft);
    font-size: 0.9375rem;
    font-family: var(--lookbook-font-family-code);
    tab-size: 2;
    border: 1px solid var(--lookbook-divider-color);
    border-radius: var(--lookbook-border-radius-md);

    code {
      font-size: inherit;
    }
  }

  pre {
    padding: var(--lookbook-size-md);
  }

  /* Lists */
  ul,
  ol {
    margin-inline-start: 1.1em;
    padding: 0;
  }

  ul li {
    list-style-type: disc;
  }

  li > ol,
  li > ul {
    margin-inline-start: 1.25em;
  }

  ul ul,
  ol ol {
    margin-block-end: 0;
  }

  /* Figures */
  figure {
    padding: calc(var(--lookbook-prose-spacing) / 2);
    border: solid var(--lookbook-divider-width) var(--lookbook-divider-color);
    border-radius: var(--lookbook-divider-radius-md);
    box-shadow: var(--lookbook-shadow-softer);
  }

  figcaption {
    padding-block-start: calc(var(--lookbook-prose-spacing) / 2);
  }

  /* Definition lists */
  dt {
    font-weight: var(--lookbook-font-weight-bold);
  }

  dd:not(:last-of-type) {
    margin-block-end: calc(var(--lookbook-prose-spacing) / 2);
  }

  /* Details */
  details {
    padding-inline: calc(var(--lookbook-prose-spacing) / 2);
    border: solid var(--lookbook-divider-width) var(--lookbook-divider-color);
    border-radius: var(--lookbook-divider-radius-md);
    background-color: var(--lookbook-paper-color);
    box-shadow: var(--lookbook-shadow-softer);
    interpolate-size: allow-keywords;

    &[open] {
      padding-block-end: calc(var(--lookbook-prose-spacing) / 2);
    }

    &[open] > summary::before {
      rotate: 90deg;
    }

    &::details-content {
      height: 0;
      overflow: hidden;
      transition:
        height 200ms ease,
        content-visibility 200ms ease allow-discrete;
    }

    &[open]::details-content {
      height: auto;
    }

    @starting-style {
      &[open]::details-content {
        height: 0;
      }
    }

    summary {
      font-weight: var(--lookbook-font-weight-semibold);
      font-size: 0.9375em;
      text-wrap: balance;

      &:focus {
        outline: none;
      }
    }

    &:has(summary:focus-visible) {
      outline: var(--lookbook-focus-ring);
      outline-offset: var(--lookbook-focus-offset);
    }

    > :first-child {
      margin-block-start: 0;
    }

    + details {
      margin-block-start: calc(var(--lookbook-prose-spacing) / -1.5);
    }
  }

  summary {
    display: block;
    position: relative;
    margin-inline: -1rem;
    margin-block: 0;
    padding-inline-start: 1em;
    padding-inline-end: 2.5em;
    padding-block: calc(var(--lookbook-prose-spacing) / 2);
    cursor: pointer;
    user-select: none;

    ~ * {
      margin-block-start: 0;
    }

    &::before {
      position: absolute;
      top: calc(50% - 0.5em);
      right: 1em;
      width: 1em;
      height: 1em;
      transform-origin: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 6l6 6l-6 6' /%3E%3C/svg%3E");
      background-position: center;
      background-size: 1.25em;
      background-repeat: no-repeat;
      content: "";
      color: var(--lookbook-text-body);
      transition: rotate 200ms ease;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  .lookbook-dark summary::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ddd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 6l6 6l-6 6' /%3E%3C/svg%3E");
  }

  /* Tables */
  table {
    width: 100%;
    border-spacing: 0;
    font-size: 0.9375rem;

    caption {
      margin-block-start: 1em;
      color: var(--lookbook-text-muted);
      font-size: 0.9375em;
      caption-side: bottom;
    }
  }

  thead th,
  thead td,
  tr:not(:last-of-type) th,
  tr:not(:last-of-type) td {
    border-bottom: solid var(--lookbook-divider-width) var(--lookbook-divider-color);
  }

  tfoot th,
  tfoot td {
    border-top: solid var(--lookbook-divider-width) var(--lookbook-divider-color);
  }

  th,
  td[scope],
  tfoot td {
    font-weight: var(--lookbook-font-weight-bold);
  }

  th,
  td {
    padding: 0.75em;
    font-variant-numeric: tabular-nums;
    text-align: start;
  }

  table.lookbook-striped tbody tr:nth-child(2n) {
    background-color: color-mix(in oklab, var(--lookbook-neutral-fill-softer), transparent 50%);
  }
}

.lb-prose-condensed {
  --lookbook-prose-spacing: calc(var(--lookbook-prose-spacing) * 0.75);
}
