<!DOCTYPE html>
<html>
<head>
  <title>Lookbook Demo App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag "demo.css" %>
</head>
<body>
  <%= yield %>
</body>
</html>
