<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    html {
      background: #fff;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>