<!DOCTYPE html>
<html data-theme="light">
<head>
  <title>Lookbook Demo App | Preview</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "pico.css" %>
  <style>
    body {
      padding: 1rem;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>