<%= render component_tag(id: "sidebar", x: {data: "sidebar"}) do %>
  <% if previews_nav? && pages_nav? %>
    <sl-split-panel
      key="sidebar-layout"
      class="sidebar-layout"
      primary="end"
      :position="splitPosition"
      @sl-reposition="splitPosition = $el.position"
      vertical>
      <div slot="start">
        <%= previews_nav %>
      </div>
      <div slot="end">
        <%= pages_nav %>
      </div>
    </sl-split-panel>
  <% else %>
    <%= previews_nav || pages_nav %>
  <% end %>
<% end %>
