[data-component="sidebar"] {
  height: 100%;
  width: 100%;
  background-color: var(--sl-color-neutral-50);

  .sidebar-layout {
    --divider-width: 1px;
    --min: 200px;
    --max: calc(100% - var(--min));

    height: 100%;
    width: 100%;

    &::part(divider) {
      background-color: var(--lookbook-divider-color);
    }
  }

  .pane-content {
  }

  .sidebar-nav {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;

    &.with-filter {
      grid-template-rows: min-content 1fr;
    }
  }

  .sidebar-nav {
    height: 100%;
    overflow: auto;
    padding-bottom: var(--sl-spacing-medium);
  }

  .sidebar-nav-filter {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    padding-block: var(--sl-spacing-x-small);
    padding-inline: var(--sl-spacing-small);
  }

  .sidebar-nav-tree {
  }
}
