@layer components {
  [data-component="toolbar"] {
    & .toolbar-sections > * {
      @apply h-10 flex items-center whitespace-nowrap border-lookbook-toolbar-divider;
    }

    & [data-component="button-group"] {
      padding-left: 0.45rem;
      padding-right: 0.45rem;
    }

    & [data-component="tabs"] {
      @apply relative -mb-px px-4;
    }

    & select {
      font-size: 0.8rem;
      line-height: 1.1rem;
      border-radius: 0.375rem;
      padding: 0.26rem 1.5rem 0.26rem 0.6rem;
      background-size: 1.2em 1.2em;
      background-position: right 0.4rem center;
    }
  }
}
