<%= render_component_tag class: "h-10 border-b border-lookbook-divider w-full flex items-center text-sm flex-none bg-lookbook-toolbar-bg" do %>
  <div class="toolbar-sections flex items-stretch w-full h-10">
    <%= safe_join(sections) %>
  </div>
<% end %>