<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Lookbook Test App
    <% end %>
  </title>
</head>
<body
  style="padding: 24px; font-family: sans-serif;"
  data-theme="<%= params.dig(:lookbook, :display, :theme) || "none" %>"
  data-language="<%= params.dig(:lookbook, :display, :language) || "none" %>">

  <%= yield %>
  
</body>
</html>
