<%= render_component_tag do %>
  <div class="relative">
  <input
    type="text"
    class="form-input text-sm"
    placeholder="<%== @placeholder %>"
    x-ref="input"
    x-model="<%= @model %>"
    x-effect="$dispatch('filter:change', { text, filter: this })"
    @keydown.esc.stop="clear"
    @keydown.f.stop.prevent.window="focus"
    @keydown.stop>
    <button class="text-lookbook-icon-button-stroke hover:text-lookbook-icon-button-stroke-hover focus:ring-0 focus:outline-none absolute top-1/2 right-3 -translate-y-1/2" @click="clear" :class="{hidden: !active}">
      <%= icon  :x, size: 3 %>
    </button>
</div>
<% end %>