<div id="sidebar" class="h-full">
  <div class="bg-white h-10 border-b border-gray-300 flex items-center relative">
    <button class="flex-none ml-4 md:hidden" @click="$store.sidebar.toggle">
      <svg class="feather w-5 h-5 hover:text-indigo-500 transition">
        <use xlink:href="/lookbook-assets/feather-sprite.svg#x" />
      </svg>
    </button>
    <div x-data="filter" class="flex items-center w-full">
      <input
        type="text"
        class="text-sm px-4 h-10 w-full border-0 bg-transparent focus:outline-none outline-none focus:ring-0"
        placeholder="Filter previews&hellip;"
        x-ref="input"
        x-model="$store.filter.raw"
        x-effect="if (!$store.layout.desktop && $store.sidebar.open) focus()"
        @keyup.stop="checkEsc"
        @keyup.f.document="focus"
      >
      <button class="text-gray-400 hover:text-indigo-500 focus:ring-0 focus:outline-none absolute top-1/2 right-2 transform -translate-y-1/2" @click="clear">
        <svg class="feather w-3 h-3">
          <use xlink:href="/lookbook-assets/feather-sprite.svg#x" />
        </svg>
      </button>
    </div>
  </div>
  <div>
    <nav id="nav" x-data="nav" @popstate.window="setActive">
      <% if @nav.items.any? %>
        <ul x-ref="items" x-show="!empty">
          <% @nav.items.each do |item| %>
            <%= render "app/nav/#{item.type.to_s}", node: item %>
          <% end %>
        </ul>
        <div class="p-4 text-center" x-show="empty" x-cloak>
          <em class="text-gray-400">No matching previews found.</em>
        </div>
      <% else %>
        <div class="p-4">
          <h4 class="text-gray-500 mb-1">No previews found.</h4>
          <p class="text-gray-400 text-xs">Have you set your <a class="underline" href="https://viewcomponent.org/api.html#preview_paths">preview paths</a> config correctly?</p>
        </div>
      <% end %>
    </nav>
  </div>
</div>