<div class="flex flex-col items-center justify-center h-screen w-full">
  <div class="p-4 text-center">
    <svg class="feather w-10 h-10 text-gray-300 mx-auto">
      <use xlink:href="#layers" />
    </svg>
    <h5 class="mt-4 text-gray-400 text-base">Select a preview to get started</h5>
  </div>
</div>