[data-component="pane"] {
  height: 100%;
  width: 100%;
  position: relative;

  .pane-toolbar {
    height: var(--lookbook-toolbar-height);
    display: flex;
    align-items: center;
    padding-right: var(--sl-spacing-2x-small);
    padding-left: var(--sl-spacing-medium);
    border-bottom: 1px solid var(--lookbook-divider-color);

    sl-button-group {
      font-size: var(--lookbook-toolbar-icon-button-size);
      position: relative;
      margin-left: auto;
      z-index: 1;
    }

    sl-icon-button {
      color: var(--lookbook-toolbar-icon-button-color);
    }
  }

  .pane-title {
    display: flex;
    align-items: center;
  }

  .pane-content {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
}
