[data-component="panel"][data-panel="code"] {
  .code-panel-code {
    height: 100%;
    position: relative;

    [data-component="code"] {
      height: 100%;

      pre,
      code {
        height: 100%;
      }

      code {
        overflow: auto;
      }
    }
  }

  .code-panel-raw {
    display: none;
  }
}
