:host {
  --wa-color-text-normal: var(--lookbook-text-base);
  --wa-space-xs: var(--lookbook-size-xs);
  --wa-space-m: var(--lookbook-size-xs);
  --wa-form-control-value-line-height: 1.2;
  --wa-font-size-m: var(--lookbook-font-size-md);
  --wa-color-text-quiet: var(--lookbook-text-base);
  --wa-color-neutral-fill-quiet: var(--lookbook-neutral-fill-quietest);
  --wa-color-brand-fill-loud: var(--lookbook-accent-fill-mid);

  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  height: 100%;
  overflow: auto;
}

wa-tree {
  --indent-size: 16px;
  --indent-guide-color: var(--lookbook-divider-quiet);
  --indent-guide-offset: 1px;
  --indent-guide-style: solid;
  --indent-guide-width: 1px;

  padding-block: var(--lookbook-size-sm);
  cursor: pointer;
}

wa-tree-item {
  --show-duration: 200ms;
  --hide-duration: 200ms;

  color: var(--lookbook-text-quiet);

  lb-icon {
    width: 16px;
    color: var(--lookbook-accent-stroke-loud);
  }

  &::part(base) {
    cursor: pointer;
    width: 100%;
  }

  &::part(label) {
    font-size: var(--lookbook-font-size-sm);
    white-space: nowrap;
    font-weight: var(--lookbook-font-weight-semibold);
    width: 100%;
    padding-inline-end: var(--lookbook-size-2xs);
  }

  &::part(item) {
    transition: all 250ms ease;
  }

  &::part(expand-button),
  &::part(collapse-button) {
    width: auto;
    height: auto;
    padding-inline: 4px;
  }

  .nav-label {
    display: flex;
    align-items: center;
    column-gap: var(--lookbook-size-2xs);
    padding-block: 5px;
    width: 100%;
  }

  .nav-label-leaf {
    padding-inline-start: 8px;
    font-weight: var(--lookbook-font-weight-normal);
  }

  .child-count {
    font-style: normal;
    font-weight: var(--lookbook-font-weight-normal);
    color: var(--lookbook-text-quietest);
    font-family: var(--lookbook-font-family-code);
    position: relative;
    top: -1px;
    margin-left: auto;
    transition: color 200ms ease;
  }

  &:hover .child-count {
    color: var(--lookbook-text-quiet);
    /*background-color: color-mix(in oklab, var(--lookbook-neutral-fill-quietest), transparent 40%);*/
  }

  &[selected] > .nav-label,
  &[selected] > .nav-label-leaf {
    color: var(--lookbook-accent-text);

    lb-icon::part(svg) {
      stroke-width: 2 !important;
    }
  }

  &[selected] > .nav-label {
    font-weight: var(--lookbook-font-weight-semibold);
  }

  &[selected] > .nav-label-leaf {
    font-weight: var(--lookbook-font-weight-medium);
  }
}
