[data-component="button-group"] {
  display: flex;
  align-items: center;
  width: fit-content;

  .button-group-divider {
    flex: none;
    width: 1px;
    background-color: var(--lb-divider-color);
    height: 38px;
    display: block;
  }
}
