<div class="flex justify-center w-full h-full bg-checked">
  <div class="px-4 py-6 xs:py-8 sm:p-8 md:p-12">
    <div class="w-full xs:w-auto xs:mx-auto xs:min-w-[440px] xs:max-w-[680px]">
      <%= yield %>
    </div>
  </div>
</div>
