<div class="w-full bg-gray-50">
  <div class="h-full relative mx-auto bg-white" x-data="preview" :style="`width: ${$store.preview.width}`">
    <iframe
      src="<%= url_for lookbook.preview_path %>"
      srcdoc="<%== @preview_srcdoc %>"
      frameborder="0"
      class="h-full w-full border-l border-gray-300 pr-4 -mx-px"
      x-data="sizeObserver"
      x-effect="viewportWidth = observedWidth; viewportHeight = observedHeight;"
      seamless></iframe>
    <div class="absolute opacity-0 inset-0 pointer-events-none" :class="{ 'pointer-events-none': !$store.app.reflowing }"></div>
    <div x-bind="handle" class="border-l border-r border-gray-300 bg-white hover:bg-indigo-100 hover:bg-opacity-20 transition absolute right-0 inset-y-0 flex items-center w-4 cursor-[col-resize] select-none" style="touch-action: none">
      <svg class="h-4 w-4 text-gray-600 pointer-events-none" fill="currentColor" viewBox="0 0 24 24">
        <path d="M8 5h2v14H8zM14 5h2v14h-2z"></path>
      </svg>
    </div>
  </div>
</div>