<div id="sidebar">
  <section>
    <%= Toolbar id: "previews-toolbar", title: @config.preview_collection_label %>

    <%= NavTree(@previews, id: "previews-nav", label: @config.preview_collection_label) %>
  </section>
</div>
