<% examples.each do |example| %>
  <div style="margin-bottom: 30px;">
    <h6 style="color: #999; font-family: sans-serif; font-size: 14px; margin-top: 0; margin-bottom: 10px;">
      <%= example[:label] %>
    </h6>
    <%= example[:html] %>
  </div>
<% end %>