<%= render component_tag do %>
  <table>
    <tbody>
      <tr>
        <td><strong>Page ID</strong></td>
        <td><code><%= page.id %></code></td>
      </tr>
      <tr>
        <td><strong>UUID</strong></td>
        <td><code><%= page.uuid %></code></td>
      </tr>
    </tbody>
  </table>
<% end %>