:root {
  /*
   * Default values
   */

  --lb-color-surface-1: var(--lb-color-white);
  --lb-color-surface-2: var(--lb-color-gray-50);
  --lb-color-surface-3: var(--lb-color-gray-100);

  --lb-color-surface-divider: var(--lb-color-gray-300);
  --lb-color-surface-inverted: var(--lb-color-gray-800);
  --lb-color-surface-accent: var(--lb-color-indigo-600);

  --lb-color-content-1: var(--lb-color-gray-800);
  --lb-color-content-2: var(--lb-color-gray-500);
  --lb-color-content-3: var(--lb-color-gray-300);

  --lb-color-content-1-accent: var(--lb-color-indigo-700);
  --lb-color-content-2-accent: var(--lb-color-indigo-500);
  --lb-color-content-3-accent: var(--lb-color-indigo-300);

  --lb-color-content-inverted: var(--lb-color-white);
  --lb-color-content-positive: var(--lb-color-positive-600);
  --lb-color-content-negative: var(--lb-color-negative-600);
  --lb-color-content-info: var(--lb-color-info-600);

  --lb-color-content-positive: var(--lb-color-positive-600);
  --lb-color-content-negative: var(--lb-color-negative-600);
  --lb-color-content-info: var(--lb-color-info-600);
  --lb-color-content-warning: var(--lb-color-warning-600);

  /*
   * General
   */

  --lb-focus-outline-color: var(--lb-color-content-3-accent);
  --lb-background-checked: var(--lb-checked-background-light);

  /*
   * Buttons
   */

  --lb-button-color: var(--lb-color-content-2);
  --lb-button-color-hover: var(--lb-color-content-1);
  --lb-button-color-active: var(--lb-color-content-2-accent);

  /*
   * Inputs
   */

  --lb-input-color: var(--lb-color-content-1);
  --lb-input-background-color: var(--lb-color-surface-1);
  --lb-input-border-color: var(--lb-color-surface-divider);
  --lb-input-outline-color-focus: var(--lb-color-content-3-accent);
  --lb-input-placeholder-color: var(--lb-color-content-2);

  --lb-checkbox-color: var(--lb-color-content-1-accent);
  --lb-checkbox-background-color: var(--lb-color-surface-1);
  --lb-checkbox-border-color: var(--lb-color-content-3);
  --lb-checkbox-outline-color-focus: var(--lb-color-content-2-accent);

  /*
   * Tables
   */

  --lb-table-color: var(--lb-color-content-1);
  --lb-table-border-color: var(--lb-color-surface-divider);
  --lb-table-background-color: var(--lb-color-surface-1);

  /*
   * Dropdowns
   */

  --lb-dropdown-color: var(--lb-color-content-1);
  --lb-dropdown-background-color: var(--lb-color-surface-1);
  --lb-dropdown-border-color: var(--lb-color-surface-divider);

  /*
   * Toolbars
   */

  --lb-toolbar-color: var(--lb-color-content-1);
  --lb-toolbar-background-color: var(--lb-color-surface-1);

  /*
   * Tabs
   */

  --lb-tab-color: var(--lb-color-content-2);
  --lb-tab-color-disabled: var(--lb-color-content-3);
  --lb-tab-color-selected: var(--lb-color-content-2-accent);
  --lb-tab-border-color-selected: var(--lb-color-content-2-accent);
  --lb-tab-panel-color: var(--lb-color-content-1);
  --lb-tab-panel-background-color: var(--lb-color-surface-2);

  /*
   * Panes
   */

  --lb-pane-background-color: var(--lb-color-surface-2);

  /*
   * Prose
   */

  --lb-prose-color: var(--lb-color-content-1);
  --lb-prose-list-counter-color: var(--lb-color-content-2);
  --lb-prose-list-marker-color: var(--lb-color-content-2);
  --lb-prose-hr-color: var(--lb-color-content-2);
  --lb-prose-blockquote-color: var(--lb-color-content-2);
  --lb-prose-blockquote-border-color: var(--lb-color-content-3);
  --lb-prose-figcaption-color: var(--lb-color-content-2);
  --lb-prose-inline-code-color: var(--lb-color-content-accent-1);
  --lb-prose-inline-code-background-color: var(--lb-color-surface-2);
  --lb-prose-code-background-color: var(--lb-color-surface-1);
  --lb-prose-code-border-color: var(--lb-color-surface-divider);

  /*
   * Breadcrumbs
   */

  --lb-breadrumbs-color: var(--lb-color-content-2);
  --lb-breadrumbs-color-current: var(--lb-color-content-1);
  --lb-breadrumbs-link-color: var(--lb-color-content-2);
  --lb-breadrumbs-link-color-hover: var(--lb-color-content-2-accent);

  /*
   * Header
   */

  --lb-header-color: var(--lb-color-content-inverted);
  --lb-header-background-color: var(--lb-color-surface-accent);

  /*
   * Nav
   */

  --lb-nav-item-background-color: transparent;
  --lb-nav-item-border-color: transparent;
  --lb-nav-item-label-color: var(--lb-color-content-1);
  --lb-nav-item-icon-color: var(--lb-color-content-1-accent);
  --lb-nav-item-toggle-color: var(--lb-color-content-2);

  --lb-nav-item-background-color-selected: var(--lb-color-surface-3);
  --lb-nav-item-border-color-selected: var(--lb-color-content-2-accent);
  --lb-nav-item-label-color-selected: var(--lb-color-content-1);
  --lb-nav-item-label-color-hover: var(--lb-color-content-1);

  --lb-nav-placeholder-color: var(--lb-color-content-2);
  --lb-nav-placeholder-border-color: var(--lb-color-surface-divider);
  --lb-nav-placeholder-background-color: var(--lb-color-surface-1);

  /*
   * Status bar
   */

  --lb-status-bar-color: var(--lb-color-content-2);
  --lb-status-bar-background-color: var(--lb-color-surface-1);
  --lb-status-bar-action-color: var(--lb-color-content-1-accent);

  /*
   * Page
   */

  --lb-page-color: var(--lb-color-content-1);
  --lb-page-background-color: var(--lb-color-surface-1);
  --lb-page-divider-color: var(--lb-color-surface-divider);
  --lb-page-title-color: var(--lb-color-content-1);

  /*
   * System pages
   */

  --lb-system-message-color: var(--lb-color-content-2);
  --lb-system-message-background-color: var(--lb-color-surface-1);
  --lb-system-message-border-color: var(--lb-color-surface-divider);
  --lb-system-message-title-color: var(--lb-color-content-1);
  --lb-system-message-icon-color: var(--lb-color-content-3);

  --lb-system-message-title-color-error: var(--lb-color-content-negative);
  --lb-system-message-icon-color-error: var(--lb-color-content-negative);

  /*
   * Viewport
   */

  --lb-viewport-background-color: var(--lb-color-surface-1);
  --lb-viewport-dimensions-background-color: var(--lb-color-surface-3);
  --lb-viewport-handle-background-color: var(--lb-color-surface-1);
  --lb-viewport-handle-icon-color: var(--lb-color-content-2);

  /*
   * Color scheme switcher
   */

  --lb-color-scheme-switcher-button-color: var(--lb-color-content-2);
  --lb-color-scheme-switcher-button-color-hover: var(--lb-color-content-1);
  --lb-color-scheme-switcher-icon-color: var(--lb-color-content-2);
  --lb-color-scheme-switcher-icon-color-hover: var(--lb-color-content-1);
  --lb-color-scheme-switcher-button-color-selected: var(
    --lb-color-content-1-accent
  );
  --lb-color-scheme-switcher-icon-color-selected: var(
    --lb-color-content-1-accent
  );
}
