:root {
  /*
   * Primitives
   */

  /* Colors */

  --lb-color-white: #fff;
  --lb-color-black: #000;

  --lb-color-stone-50: #fafaf9;
  --lb-color-stone-100: #f5f5f4;
  --lb-color-stone-200: #e7e5e4;
  --lb-color-stone-300: #d6d3d1;
  --lb-color-stone-400: #a8a29e;
  --lb-color-stone-500: #78716c;
  --lb-color-stone-600: #57534e;
  --lb-color-stone-700: #44403c;
  --lb-color-stone-800: #292524;
  --lb-color-stone-900: #1c1917;
  --lb-color-stone-950: #0c0a09;

  --lb-color-gray-50: #f9fafb;
  --lb-color-gray-100: #f3f4f6;
  --lb-color-gray-200: #e5e7eb;
  --lb-color-gray-300: #d1d5db;
  --lb-color-gray-400: #9ca3af;
  --lb-color-gray-500: #6b7280;
  --lb-color-gray-600: #4b5563;
  --lb-color-gray-700: #374151;
  --lb-color-gray-800: #1f2937;
  --lb-color-gray-900: #111827;
  --lb-color-gray-950: #030712;

  --lb-color-slate-50: #f8fafc;
  --lb-color-slate-100: #f1f5f9;
  --lb-color-slate-200: #e2e8f0;
  --lb-color-slate-300: #cbd5e1;
  --lb-color-slate-400: #94a3b8;
  --lb-color-slate-500: #64748b;
  --lb-color-slate-600: #475569;
  --lb-color-slate-700: #334155;
  --lb-color-slate-800: #1e293b;
  --lb-color-slate-900: #0f172a;
  --lb-color-slate-950: #020617;

  --lb-color-zinc-50: #fafafa;
  --lb-color-zinc-100: #f4f4f5;
  --lb-color-zinc-200: #e4e4e7;
  --lb-color-zinc-300: #d4d4d8;
  --lb-color-zinc-400: #a1a1aa;
  --lb-color-zinc-500: #71717a;
  --lb-color-zinc-600: #52525b;
  --lb-color-zinc-700: #3f3f46;
  --lb-color-zinc-800: #27272a;
  --lb-color-zinc-900: #18181b;
  --lb-color-zinc-950: #09090b;

  --lb-color-red-50: #fef2f2;
  --lb-color-red-100: #fee2e2;
  --lb-color-red-200: #fecaca;
  --lb-color-red-300: #fca5a5;
  --lb-color-red-400: #f87171;
  --lb-color-red-500: #ef4444;
  --lb-color-red-600: #dc2626;
  --lb-color-red-700: #b91c1c;
  --lb-color-red-800: #991b1b;
  --lb-color-red-900: #7f1d1d;
  --lb-color-red-950: #450a0a;

  --lb-color-amber-50: #fffbeb;
  --lb-color-amber-100: #fef3c7;
  --lb-color-amber-200: #fde68a;
  --lb-color-amber-300: #fcd34d;
  --lb-color-amber-400: #fbbf24;
  --lb-color-amber-500: #f59e0b;
  --lb-color-amber-600: #d97706;
  --lb-color-amber-700: #b45309;
  --lb-color-amber-800: #92400e;
  --lb-color-amber-900: #78350f;
  --lb-color-amber-950: #451a03;

  --lb-color-green-50: #f0fdf4;
  --lb-color-green-100: #dcfce7;
  --lb-color-green-200: #bbf7d0;
  --lb-color-green-300: #86efac;
  --lb-color-green-400: #4ade80;
  --lb-color-green-500: #22c55e;
  --lb-color-green-600: #16a34a;
  --lb-color-green-700: #15803d;
  --lb-color-green-800: #166534;
  --lb-color-green-900: #14532d;
  --lb-color-green-950: #052e16;

  --lb-color-emerald-50: #ecfdf5;
  --lb-color-emerald-100: #d1fae5;
  --lb-color-emerald-200: #a7f3d0;
  --lb-color-emerald-300: #6ee7b7;
  --lb-color-emerald-400: #34d399;
  --lb-color-emerald-500: #10b981;
  --lb-color-emerald-600: #059669;
  --lb-color-emerald-700: #047857;
  --lb-color-emerald-800: #065f46;
  --lb-color-emerald-900: #064e3b;
  --lb-color-emerald-950: #022c22;

  --lb-color-blue-50: #eff6ff;
  --lb-color-blue-100: #dbeafe;
  --lb-color-blue-200: #bfdbfe;
  --lb-color-blue-300: #93c5fd;
  --lb-color-blue-400: #60a5fa;
  --lb-color-blue-500: #3b82f6;
  --lb-color-blue-600: #2563eb;
  --lb-color-blue-700: #1d4ed8;
  --lb-color-blue-800: #1e40af;
  --lb-color-blue-900: #1e3a8a;
  --lb-color-blue-950: #172554;

  --lb-color-indigo-50: #eef2ff;
  --lb-color-indigo-100: #e0e7ff;
  --lb-color-indigo-200: #c7d2fe;
  --lb-color-indigo-300: #a5b4fc;
  --lb-color-indigo-400: #818cf8;
  --lb-color-indigo-500: #6366f1;
  --lb-color-indigo-600: #4f46e5;
  --lb-color-indigo-700: #4338ca;
  --lb-color-indigo-800: #3730a3;
  --lb-color-indigo-900: #312e81;
  --lb-color-indigo-950: #1e1b4b;

  --lb-color-violet-50: #f5f3ff;
  --lb-color-violet-100: #ede9fe;
  --lb-color-violet-200: #ddd6fe;
  --lb-color-violet-300: #c4b5fd;
  --lb-color-violet-400: #a78bfa;
  --lb-color-violet-500: #8b5cf6;
  --lb-color-violet-600: #7c3aed;
  --lb-color-violet-700: #6d28d9;
  --lb-color-violet-800: #5b21b6;
  --lb-color-violet-900: #4c1d95;
  --lb-color-violet-950: #2e1065;

  --lb-color-pink-50: #fdf2f8;
  --lb-color-pink-100: #fce7f3;
  --lb-color-pink-200: #fbcfe8;
  --lb-color-pink-300: #f9a8d4;
  --lb-color-pink-400: #f472b6;
  --lb-color-pink-500: #ec4899;
  --lb-color-pink-600: #db2777;
  --lb-color-pink-700: #be185d;
  --lb-color-pink-800: #9d174d;
  --lb-color-pink-900: #831843;
  --lb-color-pink-950: #500724;

  --lb-color-fuscia-50: #fdf4ff;
  --lb-color-fuscia-100: #fae8ff;
  --lb-color-fuscia-200: #f5d0fe;
  --lb-color-fuscia-300: #f0abfc;
  --lb-color-fuscia-400: #e879f9;
  --lb-color-fuscia-500: #d946ef;
  --lb-color-fuscia-600: #c026d3;
  --lb-color-fuscia-700: #a21caf;
  --lb-color-fuscia-800: #86198f;
  --lb-color-fuscia-900: #701a75;
  --lb-color-fuscia-950: #4a044e;

  --lb-color-positive-50: var(--lb-color-green-50);
  --lb-color-positive-100: var(--lb-color-green-100);
  --lb-color-positive-200: var(--lb-color-green-200);
  --lb-color-positive-300: var(--lb-color-green-300);
  --lb-color-positive-400: var(--lb-color-green-400);
  --lb-color-positive-500: var(--lb-color-green-500);
  --lb-color-positive-600: var(--lb-color-green-600);
  --lb-color-positive-700: var(--lb-color-green-700);
  --lb-color-positive-800: var(--lb-color-green-800);
  --lb-color-positive-900: var(--lb-color-green-900);
  --lb-color-positive-950: var(--lb-color-green-950);

  --lb-color-info-50: var(--lb-color-blue-50);
  --lb-color-info-100: var(--lb-color-blue-100);
  --lb-color-info-200: var(--lb-color-blue-200);
  --lb-color-info-300: var(--lb-color-blue-300);
  --lb-color-info-400: var(--lb-color-blue-400);
  --lb-color-info-500: var(--lb-color-blue-500);
  --lb-color-info-600: var(--lb-color-blue-600);
  --lb-color-info-700: var(--lb-color-blue-700);
  --lb-color-info-800: var(--lb-color-blue-800);
  --lb-color-info-900: var(--lb-color-blue-900);
  --lb-color-info-950: var(--lb-color-blue-950);

  --lb-color-warning-50: var(--lb-color-amber-50);
  --lb-color-warning-100: var(--lb-color-amber-100);
  --lb-color-warning-200: var(--lb-color-amber-200);
  --lb-color-warning-300: var(--lb-color-amber-300);
  --lb-color-warning-400: var(--lb-color-amber-400);
  --lb-color-warning-500: var(--lb-color-amber-500);
  --lb-color-warning-600: var(--lb-color-amber-600);
  --lb-color-warning-700: var(--lb-color-amber-700);
  --lb-color-warning-800: var(--lb-color-amber-800);
  --lb-color-warning-900: var(--lb-color-amber-900);
  --lb-color-warning-950: var(--lb-color-amber-950);

  --lb-color-negative-50: var(--lb-color-red-50);
  --lb-color-negative-100: var(--lb-color-red-100);
  --lb-color-negative-200: var(--lb-color-red-200);
  --lb-color-negative-300: var(--lb-color-red-300);
  --lb-color-negative-400: var(--lb-color-red-400);
  --lb-color-negative-500: var(--lb-color-red-500);
  --lb-color-negative-600: var(--lb-color-red-600);
  --lb-color-negative-700: var(--lb-color-red-700);
  --lb-color-negative-800: var(--lb-color-red-800);
  --lb-color-negative-900: var(--lb-color-red-900);
  --lb-color-negative-950: var(--lb-color-red-950);

  /* Spacing and sizes */

  --lb-spacing-3xs: 0.125rem; /* 2px */
  --lb-spacing-2xs: 0.25rem; /* 4px */
  --lb-spacing-xs: 0.5rem; /* 8px */
  --lb-spacing-sm: 0.75rem; /* 12px */
  --lb-spacing-md: 1rem; /* 16px */
  --lb-spacing-lg: 1.25rem; /* 20px */
  --lb-spacing-xl: 1.5rem; /* 24px */
  --lb-spacing-2xl: 2rem; /* 32px */
  --lb-spacing-3xl: 2.5rem; /* 40px */
  --lb-spacing-4xl: 3rem; /* 48px */

  --lb-size-3xs: 0.125rem; /* 2px */
  --lb-size-2xs: 0.25rem; /* 4px */
  --lb-size-xs: 0.5rem; /* 8px */
  --lb-size-sm: 0.75rem; /* 12px */
  --lb-size-md: 1rem; /* 16px */
  --lb-size-lg: 1.25rem; /* 20px */
  --lb-size-xl: 1.5rem; /* 24px */
  --lb-size-2xl: 2rem; /* 32px */
  --lb-size-3xl: 2.5rem; /* 40px */
  --lb-size-4xl: 3rem; /* 48px */

  /* Typography */

  --lb-font-ui: "Inter Var", Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  --lb-font-prose: "Open Sans Var", Avenir, Montserrat, Corbel, "URW Gothic",
    source-sans-pro, sans-serif;
  --lb-font-mono: "Source Code Pro Var", ui-monospace, "Cascadia Code", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;

  --lb-font-size-xs: 0.75rem; /* 12px */
  --lb-font-size-sm: 0.875rem; /* 14px */
  --lb-font-size-md: 1rem; /* 16px */
  --lb-font-size-lg: 1.25rem; /* 20px */
  --lb-font-size-xl: 1.5rem; /* 24px */
  --lb-font-size-2xl: 2.25rem; /* 36px */

  --lb-font-weight-light: 300;
  --lb-font-weight-normal: 400;
  --lb-font-weight-medium: 500;
  --lb-font-weight-semibold: 600;
  --lb-font-weight-bold: 700;

  /* Borders */

  --lb-border-radius-sm: 0.25rem; /* 4px */
  --lb-border-radius-md: 0.5rem; /* 8px */
  --lb-border-radius-lg: 1rem; /* 16px */

  /* Shadows */

  --lb-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --lb-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --lb-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  /* Backgrounds */

  --lb-checked-background-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f3f3f3' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  --lb-checked-background-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23333333' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");

  /*
   * Components
   */

  /* Panels */

  --lb-panel-padding: var(--lb-spacing-md);
}
