html,
body {
  font-family: var(--lookbook-font-ui);
  font-size: var(--lookbook-font-size-medium);
  color: var(--lookbook-app-color);
}

body {
  min-height: 100vh;
  font-size: var(--lookbook-font-size-medium);
}

code {
  font-family: var(--lookbook-font-mono);
}

a {
  transition: color 0.25s ease;
}

router {
  display: contents;
}

[x-cloak] {
  display: none !important;
}

table {
  background: var(--lookbook-table-background-color);
  border: 1px solid var(--lookbook-table-border-color);
  color: var(--lookbook-table-color);
  width: 100%;
  border-collapse: collapse;
  font-size: var(--lookbook-font-size-small);
}

th,
td {
  text-align: left;
  padding-inline: var(--lookbook-spacing-medium);
  padding-block: var(--lookbook-spacing-small);
  width: 1%;
}

thead tr,
tr:not(:last-child) {
  border-bottom: 1px solid var(--lookbook-table-border-color);
}

:focus-visible {
  outline: 1px solid transparent;
  outline-offset: 0;
  outline-color: var(--lookbook-app-focus-outline-color);
}

/* Utilities */

.bg-checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f3f3f3' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
