@import "tippy.js/dist/tippy.css";
@import "tippy.js/dist/svg-arrow.css";

.tippy-box[data-theme~="tooltip"] {
  background-color: var(--lb-tooltip-background-color);

  .tippy-content {
    color: var(--lb-tooltip-color);
    font-size: var(--lb-font-size-xs);
  }

  > .tippy-svg-arrow {
    fill: var(--lb-tooltip-background-color);
  }
}

.tippy-box[data-theme~="dropdown"] {
  background-color: var(--lb-dropdown-background-color);
  color: var(--lb-dropdown-color);
  border: 1px solid var(--lb-dropdown-border-color);
  box-shadow: var(--lb-shadow-md);
  max-width: 100%;
  border-radius: 0;
  width: fit-content;

  .tippy-content {
    padding: 0;
  }
}
