@import "tippy.js/dist/tippy.css";

.tippy-box[data-theme~="dropdown"] {
  background-color: var(--lb-dropdown-background-color);
  color: var(--lb-dropdown-color);
  border: 1px solid var(--lb-dropdown-border-color);
  box-shadow: var(--lb-shadow-md);
  max-width: 100%;
  border-radius: 0;
  width: fit-content;

  .tippy-content {
    padding: 0;
  }
}
