:root {
  --lookbook-toolbar-height: 40px;
  --lookbook-toolbar-icon-button-size: 18px;
  --lookbook-toolbar-icon-button-color: var(--sl-color-neutral-400);

  --lookbook-divider-color: var(--sl-color-neutral-300);
}
