:root {
  --sl-color-primary-50: rgb(249 249 254);
  --sl-color-primary-100: rgb(235 235 252);
  --sl-color-primary-200: rgb(219 220 249);
  --sl-color-primary-300: rgb(202 203 246);
  --sl-color-primary-400: rgb(179 181 243);
  --sl-color-primary-500: rgb(149 152 238);
  --sl-color-primary-600: rgb(117 120 233);
  --sl-color-primary-700: rgb(87 90 228);
  --sl-color-primary-800: rgb(67 70 204);
  --sl-color-primary-900: rgb(48 50 146);
  --sl-color-primary-950: rgb(30 31 90);

  --lookbook-toolbar-height: 40px;
  --lookbook-toolbar-icon-button-size: 18px;
  --lookbook-toolbar-icon-button-color: var(--sl-color-neutral-400);

  --lookbook-divider-color: var(--sl-color-neutral-300);
}
