<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="/assets/docs.css">
  
  <title><%= @item[:title] %> | Lookbook v3 docs</title>
</head>
<body>
  <%= yield %> 
</body>
</html>

