[data-component="toolbar"] {
  background-color: var(--surface-0);
  font-size: var(--font-size-0);
  height: var(--size-10);
  display: flex;
  align-items: center;
  border-bottom: var(--border-size-1) solid var(--divider-1);

  .toolbar-title {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-semibold);
    padding-inline: var(--size-4);
  }
}

[data-component="toolbar-button"] {
  line-height: 1em;
  padding: var(--size-2);

  .icon {
    font-size: var(--font-size-1);
  }
}
