[data-component="breadcrumbs"] {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: var(--lookbook-font-size-small);
  color: var(--lookbook-breadrumbs-color);

  a.breadcrumb {
    color: var(--lookbook-breadrumbs-link-color);
    &:hover {
      text-decoration: underline;
      color: var(--lookbook-breadrumbs-link-color-hover);
    }
  }

  .breadcrumb:last-child {
    color: var(--lookbook-breadrumbs-color-current);
  }

  .breadcrumb-divider {
    flex: none;
    display: block;
    margin-left: var(--lookbook-spacing-2x-small);
    margin-right: var(--lookbook-spacing-2x-small);
  }
}
