[data-component="breadcrumbs"] {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: var(--lookbook-font-size-small);
  color: var(--lookbook-color-base-500);

  a.breadcrumb {
    &:hover {
      text-decoration: underline;
      color: var(--lookbook-color-accent-700);
    }
  }

  .breadcrumb:last-child {
    color: var(--lookbook-color-base-700);
  }

  .breadcrumb-divider {
    flex: none;
    display: block;
    margin-left: var(--lookbook-spacing-2x-small);
    margin-right: var(--lookbook-spacing-2x-small);
  }
}
