<% items = examples.select { |example| example.notes.present? } %>
<% if items.many? %>
  <div class="divide-y divide-dashed divide-lookbook-divider bg-lookbook-prose-bg h-full w-full">
    <% items.each do |item| %>
      <div class="px-4 py-6 relative">
        <h6 class="italic font-mono mb-4 opacity-40">
          # <%= item.label %>
        </h6>
        <%= lookbook_render :prose, content: item.notes %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="px-4 py-6 bg-lookbook-prose-bg w-full h-full">
    <%= lookbook_render :prose do %>
      <%== items.any? ? items.first.notes : "<em class='opacity-50'>No notes provided.</em>" %>
    <% end %>
  </div>
<% end %>