<% if @example.params.none? %>
  <div class="p-4 w-full h-full bg-lookbook-prose-bg">
    <%= render_component :prose do %>
      <em class='opacity-50'>No params configured.</em>
    <% end %>
  </div>
<% else %>
  <div class="py-3 h-full">
    <% @example.params.each_with_index do |param, i| %>
      <%= render_component :param_field, **param %>
    <% end %>
  </div>
<% end %>
