<%= lookbook_render :button,
  name: "copy-button",
  **@button_attrs,
  "x-data": prepare_alpine_data,
  "@click.prevent": "copyToClipboard" do |button| %>
  <% button.icon name: @icon, size: icon_size, "x-show": "!copied", cloak: true %>
  <%= icon :check, size: icon_size, class: "text-green-500", "x-show": "copied", cloak: true  %>
  <% if content %>
    <div x-ref="copyTarget" class="hidden"><%== content %></div>
  <% end %>
<% end %>