:root {
  --brand-50: #ebfef7;
  --brand-100: #cefdeb;
  --brand-200: #a2f8da;
  --brand-300: #66efca;
  --brand-400: #29deb2;
  --brand-500: #04c59c;
  --brand-600: #00a080;
  --brand-700: #008069;
  --brand-800: #006555;
  --brand-900: #014e43;
  --brand-950: #002f2a;

  --accent-1: #dcff00;
  --accent-2: #9eed47;

  --neutral-50: #f9f9fa;
  --neutral-100: #f4f4f5;
  --neutral-200: #e5e6e6;
  --neutral-300: #d3d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #7f8080;
  --neutral-600: #525253;
  --neutral-700: #404040;
  --neutral-800: #262727;
  --neutral-900: #191a1a;
  --neutral-950: #0a0b0b;

  --warning-50: #fef7ee;
  --warning-100: #feecd6;
  --warning-200: #fcd6ac;
  --warning-300: #f9b878;
  --warning-400: #f69041;
  --warning-500: #f3711c;
  --warning-600: #ec5a13;
  --warning-700: #bd4011;
  --warning-800: #963416;
  --warning-900: #792c15;
  --warning-950: #411409;

  --danger-50: #fdf4f3;
  --danger-100: #fbe9e8;
  --danger-200: #f6d6d5;
  --danger-300: #efb4b2;
  --danger-400: #e58887;
  --danger-500: #d75c5d;
  --danger-600: #c23d45;
  --danger-700: #a22e38;
  --danger-800: #882934;
  --danger-900: #752631;
  --danger-950: #401117;
}
