[data-component="toolbar-tab"] {
  color: var(--lookbook-tab-color);
  height: var(--lookbook-toolbar-height);
  display: flex;
  align-items: center;
  font-size: var(--lookbook-font-size-small);
  padding-inline: var(--lookbook-spacing-small);
  border-bottom: 2px solid transparent;
  cursor: pointer;
  user-select: none;

  &.disabled {
    color: var(--lookbook-tab-color-disabled);
  }

  &[aria-selected="true"] {
    color: var(--lookbook-tab-color-selected);
    border-bottom-color: var(--lookbook-tab-border-color-selected);
  }
}
