[data-component="toolbar-tab"] {
  color: var(--lookbook-color-base-800);
  height: var(--lookbook-toolbar-height);
  display: flex;
  align-items: center;
  font-size: var(--lookbook-font-size-small);
  padding-inline: var(--lookbook-spacing-small);
  border-bottom: 2px solid transparent;
  cursor: pointer;
  user-select: none;

  &.disabled {
    color: var(--lookbook-color-base-300);
  }

  &[aria-selected="true"] {
    color: var(--lookbook-color-accent-500);
    border-bottom-color: var(--lookbook-color-accent-500);
  }
}
