[data-component="toolbar-tab"] {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: var(--lookbook-font-size-small);
  padding-inline: var(--lookbook-spacing-small);
  border-bottom: 1px solid transparent;
  cursor: pointer;
  user-select: none;

  &[aria-selected="true"] {
    color: var(--lookbook-color-accent-500);
    border-bottom-color: var(--lookbook-color-accent-500);
  }
}
