<h1>Lookbook dummy app</h1>

<p>Used for developing and testing Lookbook.</p>
<p>All system/integration tests in the Minitest test suite run against this app.</p>

<p>
  <%= link_to lookbook_path, id: "lookbook-link" do %>
    Go to the Lookbook UI &rarr;
  <% end %>
</p>
