<div class="flex flex-col h-full w-full">
  <%= component "header" %>
  <div class="flex flex-col items-center justify-center h-full">
    <div class="p-4 text-center">
      <%= icon "layers", size: 10, class: "text-gray-300 mx-auto" %>
      <h5 class="mt-4 text-gray-400 text-base">Select a preview to get started</h5>
    </div>
  </div>
</div>
