<% if examples.many? %>
  <%# Render a group of examples %>
  <% examples.each do |example| %>
    <div style="all: unset; margin-bottom: 30px; display: block;">
      <h6 style="all: unset; display: block; color: #999; font-family: sans-serif; font-size: 14px; margin-top: 0; margin-bottom: 10px;">
        <%= example.label %>
      </h6>
      <%= example.output %>
    </div>
  <% end %>
<% else %>
  <%# Render a single example %>
  <%= examples.first.output %>
<% end %>