:root,
:host,
.sl-theme-light {
  --csstools-color-scheme--light: initial;
  --csstools-color-scheme--dark:  ;
  color-scheme: light;

  --sl-color-gray-50: hsl(0, 0%, 98%);
  --sl-color-gray-100: hsl(240, 5%, 96%);
  --sl-color-gray-200: hsl(240, 6%, 90%);
  --sl-color-gray-300: hsl(240, 5%, 84%);
  --sl-color-gray-400: hsl(240, 5%, 65%);
  --sl-color-gray-500: hsl(240, 4%, 46%);
  --sl-color-gray-600: hsl(240, 5%, 34%);
  --sl-color-gray-700: hsl(240, 5%, 26%);
  --sl-color-gray-800: hsl(240, 4%, 16%);
  --sl-color-gray-900: hsl(240, 6%, 10%);
  --sl-color-gray-950: hsl(240, 7%, 8%);

  --sl-color-red-50: hsl(0, 86%, 97%);
  --sl-color-red-100: hsl(0, 93%, 94%);
  --sl-color-red-200: hsl(0, 96%, 89%);
  --sl-color-red-300: hsl(0, 94%, 82%);
  --sl-color-red-400: hsl(0, 91%, 71%);
  --sl-color-red-500: hsl(0, 84%, 60%);
  --sl-color-red-600: hsl(0, 72%, 51%);
  --sl-color-red-700: hsl(0, 74%, 42%);
  --sl-color-red-800: hsl(0, 70%, 35%);
  --sl-color-red-900: hsl(0, 63%, 31%);
  --sl-color-red-950: hsl(0, 60%, 20%);

  --sl-color-orange-50: hsl(33, 100%, 97%);
  --sl-color-orange-100: hsl(34, 100%, 92%);
  --sl-color-orange-200: hsl(32, 98%, 83%);
  --sl-color-orange-300: hsl(31, 97%, 72%);
  --sl-color-orange-400: hsl(27, 96%, 61%);
  --sl-color-orange-500: hsl(25, 95%, 53%);
  --sl-color-orange-600: hsl(21, 90%, 48%);
  --sl-color-orange-700: hsl(18, 88%, 40%);
  --sl-color-orange-800: hsl(15, 79%, 34%);
  --sl-color-orange-900: hsl(15, 75%, 28%);
  --sl-color-orange-950: hsl(15, 69%, 19%);

  --sl-color-amber-50: hsl(48, 100%, 96%);
  --sl-color-amber-100: hsl(48, 97%, 89%);
  --sl-color-amber-200: hsl(48, 97%, 77%);
  --sl-color-amber-300: hsl(46, 97%, 65%);
  --sl-color-amber-400: hsl(43, 96%, 56%);
  --sl-color-amber-500: hsl(38, 92%, 50%);
  --sl-color-amber-600: hsl(32, 95%, 44%);
  --sl-color-amber-700: hsl(26, 91%, 37%);
  --sl-color-amber-800: hsl(23, 83%, 31%);
  --sl-color-amber-900: hsl(22, 78%, 27%);
  --sl-color-amber-950: hsl(23, 74%, 17%);

  --sl-color-yellow-50: hsl(55, 92%, 95%);
  --sl-color-yellow-100: hsl(55, 97%, 88%);
  --sl-color-yellow-200: hsl(53, 98%, 77%);
  --sl-color-yellow-300: hsl(50, 98%, 64%);
  --sl-color-yellow-400: hsl(48, 96%, 53%);
  --sl-color-yellow-500: hsl(45, 93%, 48%);
  --sl-color-yellow-600: hsl(41, 96%, 40%);
  --sl-color-yellow-700: hsl(36, 92%, 33%);
  --sl-color-yellow-800: hsl(32, 81%, 29%);
  --sl-color-yellow-900: hsl(28, 73%, 26%);
  --sl-color-yellow-950: hsl(33, 69%, 14%);

  --sl-color-lime-50: hsl(78, 92%, 95%);
  --sl-color-lime-100: hsl(80, 89%, 89%);
  --sl-color-lime-200: hsl(81, 89%, 80%);
  --sl-color-lime-300: hsl(82, 85%, 67%);
  --sl-color-lime-400: hsl(83, 78%, 56%);
  --sl-color-lime-500: hsl(84, 81%, 44%);
  --sl-color-lime-600: hsl(85, 85%, 35%);
  --sl-color-lime-700: hsl(86, 78%, 27%);
  --sl-color-lime-800: hsl(86, 69%, 23%);
  --sl-color-lime-900: hsl(88, 61%, 20%);
  --sl-color-lime-950: hsl(87, 61%, 14%);

  --sl-color-green-50: hsl(139, 77%, 97%);
  --sl-color-green-100: hsl(141, 84%, 93%);
  --sl-color-green-200: hsl(141, 79%, 85%);
  --sl-color-green-300: hsl(142, 77%, 73%);
  --sl-color-green-400: hsl(142, 69%, 58%);
  --sl-color-green-500: hsl(142, 71%, 45%);
  --sl-color-green-600: hsl(142, 76%, 36%);
  --sl-color-green-700: hsl(142, 72%, 29%);
  --sl-color-green-800: hsl(143, 64%, 24%);
  --sl-color-green-900: hsl(144, 61%, 20%);
  --sl-color-green-950: hsl(144, 61%, 12%);

  --sl-color-emerald-50: hsl(152, 81%, 96%);
  --sl-color-emerald-100: hsl(149, 80%, 90%);
  --sl-color-emerald-200: hsl(152, 76%, 80%);
  --sl-color-emerald-300: hsl(156, 72%, 67%);
  --sl-color-emerald-400: hsl(158, 64%, 52%);
  --sl-color-emerald-500: hsl(160, 84%, 39%);
  --sl-color-emerald-600: hsl(161, 94%, 30%);
  --sl-color-emerald-700: hsl(163, 94%, 24%);
  --sl-color-emerald-800: hsl(163, 88%, 20%);
  --sl-color-emerald-900: hsl(164, 86%, 17%);
  --sl-color-emerald-950: hsl(164, 88%, 9%);

  --sl-color-teal-50: hsl(166, 77%, 97%);
  --sl-color-teal-100: hsl(167, 86%, 89%);
  --sl-color-teal-200: hsl(168, 84%, 78%);
  --sl-color-teal-300: hsl(171, 77%, 64%);
  --sl-color-teal-400: hsl(173, 66%, 50%);
  --sl-color-teal-500: hsl(173, 80%, 40%);
  --sl-color-teal-600: hsl(175, 84%, 32%);
  --sl-color-teal-700: hsl(175, 77%, 26%);
  --sl-color-teal-800: hsl(176, 69%, 22%);
  --sl-color-teal-900: hsl(176, 61%, 19%);
  --sl-color-teal-950: hsl(177, 59%, 11%);

  --sl-color-cyan-50: hsl(183, 100%, 96%);
  --sl-color-cyan-100: hsl(185, 96%, 90%);
  --sl-color-cyan-200: hsl(186, 94%, 82%);
  --sl-color-cyan-300: hsl(187, 92%, 69%);
  --sl-color-cyan-400: hsl(188, 86%, 53%);
  --sl-color-cyan-500: hsl(189, 95%, 43%);
  --sl-color-cyan-600: hsl(192, 91%, 37%);
  --sl-color-cyan-700: hsl(193, 82%, 31%);
  --sl-color-cyan-800: hsl(194, 70%, 27%);
  --sl-color-cyan-900: hsl(196, 64%, 24%);
  --sl-color-cyan-950: hsl(197, 61%, 16%);

  --sl-color-sky-50: hsl(204, 100%, 97%);
  --sl-color-sky-100: hsl(204, 94%, 94%);
  --sl-color-sky-200: hsl(201, 94%, 86%);
  --sl-color-sky-300: hsl(199, 96%, 74%);
  --sl-color-sky-400: hsl(198, 93%, 60%);
  --sl-color-sky-500: hsl(199, 89%, 48%);
  --sl-color-sky-600: hsl(200, 98%, 39%);
  --sl-color-sky-700: hsl(201, 96%, 32%);
  --sl-color-sky-800: hsl(201, 90%, 28%);
  --sl-color-sky-900: hsl(202, 80%, 24%);
  --sl-color-sky-950: hsl(202, 74%, 17%);

  --sl-color-blue-50: hsl(214, 100%, 97%);
  --sl-color-blue-100: hsl(214, 95%, 93%);
  --sl-color-blue-200: hsl(213, 97%, 87%);
  --sl-color-blue-300: hsl(212, 96%, 78%);
  --sl-color-blue-400: hsl(213, 94%, 68%);
  --sl-color-blue-500: hsl(217, 91%, 60%);
  --sl-color-blue-600: hsl(221, 83%, 53%);
  --sl-color-blue-700: hsl(224, 76%, 48%);
  --sl-color-blue-800: hsl(226, 71%, 40%);
  --sl-color-blue-900: hsl(224, 64%, 33%);
  --sl-color-blue-950: hsl(226, 55%, 18%);

  --sl-color-indigo-50: hsl(226, 100%, 97%);
  --sl-color-indigo-100: hsl(227, 100%, 94%);
  --sl-color-indigo-200: hsl(228, 97%, 89%);
  --sl-color-indigo-300: hsl(230, 94%, 82%);
  --sl-color-indigo-400: hsl(235, 90%, 74%);
  --sl-color-indigo-500: hsl(239, 84%, 67%);
  --sl-color-indigo-600: hsl(243, 75%, 59%);
  --sl-color-indigo-700: hsl(245, 58%, 51%);
  --sl-color-indigo-800: hsl(244, 55%, 41%);
  --sl-color-indigo-900: hsl(242, 47%, 34%);
  --sl-color-indigo-950: hsl(244, 44%, 23%);

  --sl-color-violet-50: hsl(250, 100%, 98%);
  --sl-color-violet-100: hsl(251, 91%, 96%);
  --sl-color-violet-200: hsl(251, 95%, 92%);
  --sl-color-violet-300: hsl(253, 95%, 85%);
  --sl-color-violet-400: hsl(255, 92%, 76%);
  --sl-color-violet-500: hsl(258, 90%, 66%);
  --sl-color-violet-600: hsl(262, 83%, 58%);
  --sl-color-violet-700: hsl(263, 70%, 50%);
  --sl-color-violet-800: hsl(263, 69%, 42%);
  --sl-color-violet-900: hsl(264, 67%, 35%);
  --sl-color-violet-950: hsl(265, 62%, 21%);

  --sl-color-purple-50: hsl(270, 100%, 98%);
  --sl-color-purple-100: hsl(269, 100%, 96%);
  --sl-color-purple-200: hsl(269, 100%, 92%);
  --sl-color-purple-300: hsl(269, 97%, 85%);
  --sl-color-purple-400: hsl(270, 95%, 75%);
  --sl-color-purple-500: hsl(271, 91%, 65%);
  --sl-color-purple-600: hsl(272, 81%, 56%);
  --sl-color-purple-700: hsl(272, 72%, 47%);
  --sl-color-purple-800: hsl(273, 67%, 39%);
  --sl-color-purple-900: hsl(274, 66%, 32%);
  --sl-color-purple-950: hsl(276, 60%, 17%);

  --sl-color-fuchsia-50: hsl(289, 100%, 98%);
  --sl-color-fuchsia-100: hsl(287, 100%, 96%);
  --sl-color-fuchsia-200: hsl(288, 96%, 91%);
  --sl-color-fuchsia-300: hsl(291, 93%, 83%);
  --sl-color-fuchsia-400: hsl(292, 91%, 73%);
  --sl-color-fuchsia-500: hsl(292, 84%, 61%);
  --sl-color-fuchsia-600: hsl(293, 70%, 49%);
  --sl-color-fuchsia-700: hsl(295, 72%, 40%);
  --sl-color-fuchsia-800: hsl(295, 70%, 33%);
  --sl-color-fuchsia-900: hsl(297, 64%, 28%);
  --sl-color-fuchsia-950: hsl(297, 57%, 15%);

  --sl-color-pink-50: hsl(327, 73%, 97%);
  --sl-color-pink-100: hsl(326, 78%, 95%);
  --sl-color-pink-200: hsl(326, 85%, 90%);
  --sl-color-pink-300: hsl(327, 87%, 82%);
  --sl-color-pink-400: hsl(329, 86%, 70%);
  --sl-color-pink-500: hsl(330, 81%, 60%);
  --sl-color-pink-600: hsl(333, 71%, 51%);
  --sl-color-pink-700: hsl(335, 78%, 42%);
  --sl-color-pink-800: hsl(336, 74%, 35%);
  --sl-color-pink-900: hsl(336, 69%, 30%);
  --sl-color-pink-950: hsl(336, 65%, 16%);

  --sl-color-rose-50: hsl(356, 100%, 97%);
  --sl-color-rose-100: hsl(356, 100%, 95%);
  --sl-color-rose-200: hsl(353, 96%, 90%);
  --sl-color-rose-300: hsl(353, 96%, 82%);
  --sl-color-rose-400: hsl(351, 95%, 71%);
  --sl-color-rose-500: hsl(350, 89%, 60%);
  --sl-color-rose-600: hsl(347, 77%, 50%);
  --sl-color-rose-700: hsl(345, 83%, 41%);
  --sl-color-rose-800: hsl(343, 80%, 35%);
  --sl-color-rose-900: hsl(342, 76%, 30%);
  --sl-color-rose-950: hsl(341, 70%, 17%);

  --sl-color-primary-50: var(--sl-color-sky-50);
  --sl-color-primary-100: var(--sl-color-sky-100);
  --sl-color-primary-200: var(--sl-color-sky-200);
  --sl-color-primary-300: var(--sl-color-sky-300);
  --sl-color-primary-400: var(--sl-color-sky-400);
  --sl-color-primary-500: var(--sl-color-sky-500);
  --sl-color-primary-600: var(--sl-color-sky-600);
  --sl-color-primary-700: var(--sl-color-sky-700);
  --sl-color-primary-800: var(--sl-color-sky-800);
  --sl-color-primary-900: var(--sl-color-sky-900);
  --sl-color-primary-950: var(--sl-color-sky-950);

  --sl-color-success-50: var(--sl-color-green-50);
  --sl-color-success-100: var(--sl-color-green-100);
  --sl-color-success-200: var(--sl-color-green-200);
  --sl-color-success-300: var(--sl-color-green-300);
  --sl-color-success-400: var(--sl-color-green-400);
  --sl-color-success-500: var(--sl-color-green-500);
  --sl-color-success-600: var(--sl-color-green-600);
  --sl-color-success-700: var(--sl-color-green-700);
  --sl-color-success-800: var(--sl-color-green-800);
  --sl-color-success-900: var(--sl-color-green-900);
  --sl-color-success-950: var(--sl-color-green-950);

  --sl-color-warning-50: var(--sl-color-amber-50);
  --sl-color-warning-100: var(--sl-color-amber-100);
  --sl-color-warning-200: var(--sl-color-amber-200);
  --sl-color-warning-300: var(--sl-color-amber-300);
  --sl-color-warning-400: var(--sl-color-amber-400);
  --sl-color-warning-500: var(--sl-color-amber-500);
  --sl-color-warning-600: var(--sl-color-amber-600);
  --sl-color-warning-700: var(--sl-color-amber-700);
  --sl-color-warning-800: var(--sl-color-amber-800);
  --sl-color-warning-900: var(--sl-color-amber-900);
  --sl-color-warning-950: var(--sl-color-amber-950);

  --sl-color-danger-50: var(--sl-color-red-50);
  --sl-color-danger-100: var(--sl-color-red-100);
  --sl-color-danger-200: var(--sl-color-red-200);
  --sl-color-danger-300: var(--sl-color-red-300);
  --sl-color-danger-400: var(--sl-color-red-400);
  --sl-color-danger-500: var(--sl-color-red-500);
  --sl-color-danger-600: var(--sl-color-red-600);
  --sl-color-danger-700: var(--sl-color-red-700);
  --sl-color-danger-800: var(--sl-color-red-800);
  --sl-color-danger-900: var(--sl-color-red-900);
  --sl-color-danger-950: var(--sl-color-red-950);

  --sl-color-neutral-50: var(--sl-color-gray-50);
  --sl-color-neutral-100: var(--sl-color-gray-100);
  --sl-color-neutral-200: var(--sl-color-gray-200);
  --sl-color-neutral-300: var(--sl-color-gray-300);
  --sl-color-neutral-400: var(--sl-color-gray-400);
  --sl-color-neutral-500: var(--sl-color-gray-500);
  --sl-color-neutral-600: var(--sl-color-gray-600);
  --sl-color-neutral-700: var(--sl-color-gray-700);
  --sl-color-neutral-800: var(--sl-color-gray-800);
  --sl-color-neutral-900: var(--sl-color-gray-900);
  --sl-color-neutral-950: var(--sl-color-gray-950);

  --sl-color-neutral-0: hsl(0, 0%, 100%);
  --sl-color-neutral-1000: hsl(0, 0%, 0%);

  --sl-border-radius-small: 0.1875rem;
  --sl-border-radius-medium: 0.25rem;
  --sl-border-radius-large: 0.5rem;
  --sl-border-radius-x-large: 1rem;

  --sl-border-radius-circle: 50%;
  --sl-border-radius-pill: 9999px;

  --sl-shadow-x-small: 0 1px 2px hsla(240, 4%, 46%, 0.06);
  --sl-shadow-small: 0 1px 2px hsla(240, 4%, 46%, 0.12);
  --sl-shadow-medium: 0 2px 4px hsla(240, 4%, 46%, 0.12);
  --sl-shadow-large: 0 2px 8px hsla(240, 4%, 46%, 0.12);
  --sl-shadow-x-large: 0 4px 16px hsla(240, 4%, 46%, 0.12);

  --sl-spacing-3x-small: 0.125rem;
  --sl-spacing-2x-small: 0.25rem;
  --sl-spacing-x-small: 0.5rem;
  --sl-spacing-small: 0.75rem;
  --sl-spacing-medium: 1rem;
  --sl-spacing-large: 1.25rem;
  --sl-spacing-x-large: 1.75rem;
  --sl-spacing-2x-large: 2.25rem;
  --sl-spacing-3x-large: 3rem;
  --sl-spacing-4x-large: 4.5rem;

  --sl-transition-x-slow: 1000ms;
  --sl-transition-slow: 500ms;
  --sl-transition-medium: 250ms;
  --sl-transition-fast: 150ms;
  --sl-transition-x-fast: 50ms;

  --sl-font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  --sl-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --sl-font-serif: Georgia, "Times New Roman", serif;

  --sl-font-size-2x-small: 0.625rem;
  --sl-font-size-x-small: 0.75rem;
  --sl-font-size-small: 0.875rem;
  --sl-font-size-medium: 1rem;
  --sl-font-size-large: 1.25rem;
  --sl-font-size-x-large: 1.5rem;
  --sl-font-size-2x-large: 2.25rem;
  --sl-font-size-3x-large: 3rem;
  --sl-font-size-4x-large: 4.5rem;

  --sl-font-weight-light: 300;
  --sl-font-weight-normal: 400;
  --sl-font-weight-semibold: 500;
  --sl-font-weight-bold: 700;

  --sl-letter-spacing-denser: -0.03em;
  --sl-letter-spacing-dense: -0.015em;
  --sl-letter-spacing-normal: normal;
  --sl-letter-spacing-loose: 0.075em;
  --sl-letter-spacing-looser: 0.15em;

  --sl-line-height-denser: 1;
  --sl-line-height-dense: 1.4;
  --sl-line-height-normal: 1.8;
  --sl-line-height-loose: 2.2;
  --sl-line-height-looser: 2.6;

  --sl-focus-ring-color: var(--sl-color-primary-600);
  --sl-focus-ring-style: solid;
  --sl-focus-ring-width: 3px;
  --sl-focus-ring: var(--sl-focus-ring-style) var(--sl-focus-ring-width)
    var(--sl-focus-ring-color);
  --sl-focus-ring-offset: 1px;

  --sl-button-font-size-small: var(--sl-font-size-x-small);
  --sl-button-font-size-medium: var(--sl-font-size-small);
  --sl-button-font-size-large: var(--sl-font-size-medium);

  --sl-input-height-small: 1.875rem;
  --sl-input-height-medium: 2.5rem;
  --sl-input-height-large: 3.125rem;

  --sl-input-background-color: var(--sl-color-neutral-0);
  --sl-input-background-color-hover: var(--sl-input-background-color);
  --sl-input-background-color-focus: var(--sl-input-background-color);
  --sl-input-background-color-disabled: var(--sl-color-neutral-100);
  --sl-input-border-color: var(--sl-color-neutral-300);
  --sl-input-border-color-hover: var(--sl-color-neutral-400);
  --sl-input-border-color-focus: var(--sl-color-primary-500);
  --sl-input-border-color-disabled: var(--sl-color-neutral-300);
  --sl-input-border-width: 1px;
  --sl-input-required-content: "*";
  --sl-input-required-content-offset: -2px;
  --sl-input-required-content-color: var(--sl-input-label-color);

  --sl-input-border-radius-small: var(--sl-border-radius-medium);
  --sl-input-border-radius-medium: var(--sl-border-radius-medium);
  --sl-input-border-radius-large: var(--sl-border-radius-medium);

  --sl-input-font-family: var(--sl-font-sans);
  --sl-input-font-weight: var(--sl-font-weight-normal);
  --sl-input-font-size-small: var(--sl-font-size-small);
  --sl-input-font-size-medium: var(--sl-font-size-medium);
  --sl-input-font-size-large: var(--sl-font-size-large);
  --sl-input-letter-spacing: var(--sl-letter-spacing-normal);

  --sl-input-color: var(--sl-color-neutral-700);
  --sl-input-color-hover: var(--sl-color-neutral-700);
  --sl-input-color-focus: var(--sl-color-neutral-700);
  --sl-input-color-disabled: var(--sl-color-neutral-900);
  --sl-input-icon-color: var(--sl-color-neutral-500);
  --sl-input-icon-color-hover: var(--sl-color-neutral-600);
  --sl-input-icon-color-focus: var(--sl-color-neutral-600);
  --sl-input-placeholder-color: var(--sl-color-neutral-500);
  --sl-input-placeholder-color-disabled: var(--sl-color-neutral-600);
  --sl-input-spacing-small: var(--sl-spacing-small);
  --sl-input-spacing-medium: var(--sl-spacing-medium);
  --sl-input-spacing-large: var(--sl-spacing-large);

  --sl-input-focus-ring-color: hsla(199, 89%, 48%, 0.4);
  --sl-input-focus-ring-offset: 0;

  --sl-input-filled-background-color: var(--sl-color-neutral-100);
  --sl-input-filled-background-color-hover: var(--sl-color-neutral-100);
  --sl-input-filled-background-color-focus: var(--sl-color-neutral-100);
  --sl-input-filled-background-color-disabled: var(--sl-color-neutral-100);
  --sl-input-filled-color: var(--sl-color-neutral-800);
  --sl-input-filled-color-hover: var(--sl-color-neutral-800);
  --sl-input-filled-color-focus: var(--sl-color-neutral-700);
  --sl-input-filled-color-disabled: var(--sl-color-neutral-800);

  --sl-input-label-font-size-small: var(--sl-font-size-small);
  --sl-input-label-font-size-medium: var(--sl-font-size-medium);
  --sl-input-label-font-size-large: var(--sl-font-size-large);
  --sl-input-label-color: inherit;

  --sl-input-help-text-font-size-small: var(--sl-font-size-x-small);
  --sl-input-help-text-font-size-medium: var(--sl-font-size-small);
  --sl-input-help-text-font-size-large: var(--sl-font-size-medium);
  --sl-input-help-text-color: var(--sl-color-neutral-500);

  --sl-toggle-size-small: 0.875rem;
  --sl-toggle-size-medium: 1.125rem;
  --sl-toggle-size-large: 1.375rem;

  --sl-overlay-background-color: hsla(240, 4%, 46%, 0.33);

  --sl-panel-background-color: var(--sl-color-neutral-0);
  --sl-panel-border-color: var(--sl-color-neutral-200);
  --sl-panel-border-width: 1px;

  --sl-tooltip-border-radius: var(--sl-border-radius-medium);
  --sl-tooltip-background-color: var(--sl-color-neutral-800);
  --sl-tooltip-color: var(--sl-color-neutral-0);
  --sl-tooltip-font-family: var(--sl-font-sans);
  --sl-tooltip-font-weight: var(--sl-font-weight-normal);
  --sl-tooltip-font-size: var(--sl-font-size-small);
  --sl-tooltip-line-height: var(--sl-line-height-dense);
  --sl-tooltip-padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
  --sl-tooltip-arrow-size: 6px;

  --sl-z-index-drawer: 700;
  --sl-z-index-dialog: 800;
  --sl-z-index-dropdown: 900;
  --sl-z-index-toast: 950;
  --sl-z-index-tooltip: 1000;
}

@supports (scrollbar-gutter: stable) {
  .sl-scroll-lock {
    scrollbar-gutter: stable !important;
    overflow: hidden !important;
  }
}

@supports not (scrollbar-gutter: stable) {
  .sl-scroll-lock {
    padding-right: var(--sl-scroll-lock-size) !important;
    overflow: hidden !important;
  }
}

.sl-toast-stack {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 950;
  z-index: var(--sl-z-index-toast);
  width: 28rem;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.sl-toast-stack sl-alert {
  margin: 1rem;
  margin: var(--sl-spacing-medium);
}

.sl-toast-stack sl-alert::part(base) {
  box-shadow: 0 2px 8px hsla(240, 4%, 46%, 0.12);
  box-shadow: var(--sl-shadow-large);
}

:root {
  --sl-color-primary-50: rgb(249, 249, 254);
  --sl-color-primary-100: rgb(235, 235, 252);
  --sl-color-primary-200: rgb(219, 220, 249);
  --sl-color-primary-300: rgb(202, 203, 246);
  --sl-color-primary-400: rgb(179, 181, 243);
  --sl-color-primary-500: rgb(149, 152, 238);
  --sl-color-primary-600: rgb(117, 120, 233);
  --sl-color-primary-700: rgb(87, 90, 228);
  --sl-color-primary-800: rgb(67, 70, 204);
  --sl-color-primary-900: rgb(48, 50, 146);
  --sl-color-primary-950: rgb(30, 31, 90);

  --lookbook-toolbar-height: 40px;
  --lookbook-toolbar-icon-button-size: 18px;
  --lookbook-toolbar-icon-button-color: var(--sl-color-neutral-400);

  --lookbook-status-bar-height: 24px;

  --lookbook-divider-color: var(--sl-color-neutral-300);
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

input[type="text"],
input:where(:not([type])),
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="week"],
input[multiple],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: hsl(240, 5%, 84%);
  border-color: var(--sl-color-neutral-300);
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: var(--sl-spacing-x-small);
  padding-bottom: var(--sl-spacing-x-small);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-left: var(--sl-spacing-small);
  padding-right: var(--sl-spacing-small);
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 0.25rem;
  border-radius: var(--sl-border-radius-medium);
  width: 100%;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: rgb(179, 181, 243);
  outline-color: var(--sl-color-primary-400);
  /* border-color: var(--sl-color-primary-400); */
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: hsl(240, 5%, 65%);
  color: var(--sl-color-neutral-400);
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: hsl(240, 5%, 65%);
  color: var(--sl-color-neutral-400);
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: hsl(240, 5%, 65%);
  color: var(--sl-color-neutral-400);
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
  text-align: inherit;
}

::-webkit-datetime-edit {
  display: inline-flex;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

[multiple],
[size]:where(select:not([size="1"])) {
  background-image: none;
  background-image: initial;
  background-position: 0 0;
  background-position: initial;
  background-repeat: repeat;
  background-repeat: initial;
  background-size: auto auto;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
  print-color-adjust: inherit;
}

[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(87, 90, 228);
  color: var(--sl-color-primary-700);
  background-color: #fff;
  border-color: rgb(179, 181, 243);
  border-color: var(--sl-color-primary-400);
  border-width: 1px;
}

[type="checkbox"] {
  border-radius: 0px;
}

[type="radio"] {
  border-radius: 100%;
}

[type="checkbox"]:focus,
[type="radio"]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: rgb(149, 152, 238);
  outline-color: var(--sl-color-primary-500);
}

[type="checkbox"]:checked,
[type="radio"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

@media (forced-colors: active) {
  [type="checkbox"]:checked {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
}

[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

@media (forced-colors: active) {
  [type="radio"]:checked {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
}

[type="checkbox"]:checked:hover,
[type="checkbox"]:checked:focus,
[type="radio"]:checked:hover,
[type="radio"]:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type="checkbox"]:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (forced-colors: active) {
  [type="checkbox"]:indeterminate {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
}

[type="checkbox"]:indeterminate:hover,
[type="checkbox"]:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type="file"] {
  background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
  background: initial;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-family: var(--sl-font-sans);
  font-size: 1rem;
  font-size: var(--sl-font-size-medium);
  color: hsl(240, 6%, 10%);
  color: var(--sl-color-neutral-900);
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-size: var(--sl-font-size-medium);
}

code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-family: var(--sl-font-mono);
}

router {
  display: contents;
}

[x-cloak] {
  display: none !important;
}

sl-tooltip::part(body) {
    font-size: 0.75rem;
    font-size: var(--sl-font-size-x-small);
  }

[data-component="code"] {
  display: block;

  height: 100%;
  width: 100%;
  overflow: hidden;
}

[data-component="code"] .code-raw {
    display: none;
  }

[data-component="code"] .code-highlighted {
    height: 100%;
  }

[data-component="code"] .code-highlighted code,
    [data-component="code"] .code-highlighted pre {
      display: block;
      height: 100%;
      width: 100%;
    }

[data-component="code"] .code-highlighted code:focus-visible, [data-component="code"] .code-highlighted pre:focus-visible {
        outline: 0;
      }

[data-component="code"] .code-highlighted pre > code {
      font-size: 0.875rem;
      font-size: var(--sl-font-size-small);
      line-height: 1.5;
      padding-left: 0.75rem !important;
      padding-right: 0.75rem !important;
      padding-left: var(--sl-spacing-small) !important;
      padding-right: var(--sl-spacing-small) !important;
      padding-top: 0.75rem !important;
      padding-bottom: 0.75rem !important;
      padding-top: var(--sl-spacing-small) !important;
      padding-bottom: var(--sl-spacing-small) !important;
      overflow: auto;
    }

.wrap-lines[data-component="code"] .code-highlighted code {
    white-space: pre-wrap;
  }

[data-component="page"] .page-slat {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-left: var(--sl-spacing-x-large);
    padding-right: var(--sl-spacing-x-large);
  }

[data-component="page"] .page-header {
    border-bottom: 1px solid hsl(240, 5%, 84%);
    border-bottom: 1px solid var(--sl-color-neutral-300);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-top: var(--sl-spacing-x-large);
    padding-bottom: var(--sl-spacing-x-large);
  }

[data-component="page"] .page-title {
    font-weight: 700;
    font-weight: var(--sl-font-weight-bold);
    font-size: 2.25rem;
    font-size: var(--sl-font-size-2x-large);
  }

[data-component="page"] .page-body {
    padding-top: 2.25rem;
    padding-top: var(--sl-spacing-2x-large);
    padding-bottom: 3rem;
    padding-bottom: var(--sl-spacing-3x-large);
  }

[data-component="page"] .page-footer {
    border-top: 1px solid hsl(240, 5%, 84%);
    border-top: 1px solid var(--sl-color-neutral-300);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-top: var(--sl-spacing-x-large);
    padding-bottom: var(--sl-spacing-x-large);
  }

[data-component="prose"] {
  color: hsl(240, 6%, 10%);
  color: var(--sl-color-neutral-900);
  font-size: 1rem;
  line-height: 1.75;
}

[data-component="prose"] [class~="lead"] {
    color: hsl(240, 6%, 10%);
    color: var(--sl-color-neutral-900);
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

[data-component="prose"] a {
    position: relative;
  }

[data-component="prose"] strong {
    font-weight: 600;
  }

[data-component="prose"] ol {
    counter-reset: list-counter;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

[data-component="prose"] ol > li {
    position: relative;
    counter-increment: list-counter;
    padding-left: 1.75em;
  }

[data-component="prose"] ol > li::before {
    content: counter(list-counter) ".";
    position: absolute;
    font-weight: 400;
    color: hsl(240, 5%, 34%);
    color: var(--sl-color-neutral-600);
  }

[data-component="prose"] ul > li {
    position: relative;
    padding-left: 1.75em;
  }

[data-component="prose"] ul > li::before {
    content: "";
    position: absolute;
    background-color: hsl(240, 5%, 65%);
    background-color: var(--sl-color-neutral-400);
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: 0.25em;
  }

[data-component="prose"] hr {
    border-color: hsl(240, 5%, 84%);
    border-color: var(--lookbook-divider-color);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }

[data-component="prose"] blockquote {
    font-weight: 500;
    font-style: italic;
    color: #1a202c;
    border-left-width: 0.25rem;
    border-left-color: hsl(240, 5%, 84%);
    border-left-color: var(--lookbook-divider-color);
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
  }

[data-component="prose"] blockquote p:first-of-type::before {
    content: open-quote;
  }

[data-component="prose"] blockquote p:last-of-type::after {
    content: close-quote;
  }

[data-component="prose"] h1,
  [data-component="prose"] h2,
  [data-component="prose"] h3,
  [data-component="prose"] h4 {
    line-height: 1.4;
    line-height: var(--sl-line-height-dense);
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

[data-component="prose"] h1 {
    font-weight: 700;
    font-weight: var(--sl-font-weight-bold);
    font-size: 2.25rem;
    font-size: var(--sl-font-size-2x-large);
  }

[data-component="prose"] h2 {
    font-weight: 700;
    font-weight: var(--sl-font-weight-bold);
    font-size: 1.5rem;
    font-size: var(--sl-font-size-x-large);
  }

[data-component="prose"] h3 {
    font-weight: 700;
    font-weight: var(--sl-font-weight-bold);
    font-size: 1.25rem;
    font-size: var(--sl-font-size-large);
  }

[data-component="prose"] h4 {
    font-weight: 700;
    font-weight: var(--sl-font-weight-bold);
    font-size: 1rem;
    font-size: var(--sl-font-size-medium);
  }

[data-component="prose"] figure figcaption {
    color: hsl(240, 5%, 34%);
    color: var(--sl-color-neutral-600);
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
  }

[data-component="prose"] code:not(pre code) {
    font-size: 0.8em;
    display: inline-block;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-family: var(--sl-font-mono);
    background-color: hsl(240, 5%, 96%);
    background-color: var(--sl-color-neutral-100);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-left: var(--sl-spacing-2x-small);
    padding-right: var(--sl-spacing-2x-small);
    border-radius: 0.1875rem;
    border-radius: var(--sl-border-radius-small);
    color: rgb(48, 50, 146);
    color: var(--sl-color-primary-900);
  }

/* 

  code::before {
    content: "`";
  }

  code::after {
    content: "`";
  }

  pre {
    color: var(--sl-color-neutral-300);
    background-color: var(--sl-color-neutral-800);
    overflow-x: auto;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding-top: 0.8571429em;
    padding-right: 1.1428571em;
    padding-bottom: 0.8571429em;
    padding-left: 1.1428571em;
  }

  pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 400;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  pre code::before {
    content: "";
  }

  pre code::after {
    content: "";
  } */

[data-component="prose"] table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
  }

[data-component="prose"] thead {
    color: #1a202c;
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-color: hsl(240, 5%, 84%);
    border-bottom-color: var(--lookbook-divider-color);
  }

[data-component="prose"] thead th {
    vertical-align: bottom;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

[data-component="prose"] tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: hsl(240, 5%, 84%);
    border-bottom-color: var(--lookbook-divider-color);
  }

[data-component="prose"] tbody tr:last-child {
    border-bottom-width: 0;
  }

[data-component="prose"] tbody td {
    vertical-align: top;
    padding-top: 0.5714286em;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

[data-component="prose"] p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

[data-component="prose"] img {
    margin-top: 2em;
    margin-bottom: 2em;
  }

[data-component="prose"] video {
    margin-top: 2em;
    margin-bottom: 2em;
  }

[data-component="prose"] figure {
    margin-top: 2em;
    margin-bottom: 2em;
  }

[data-component="prose"] figure > * {
    margin-top: 0;
    margin-bottom: 0;
  }

[data-component="prose"] h2 code {
    font-size: 0.875em;
  }

[data-component="prose"] h3 code {
    font-size: 0.9em;
  }

[data-component="prose"] ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

[data-component="prose"] li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

[data-component="prose"] ol > li:before {
    left: 0;
  }

[data-component="prose"] > ul > li p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

[data-component="prose"] > ul > li > *:first-child {
    margin-top: 1.25em;
  }

[data-component="prose"] > ul > li > *:last-child {
    margin-bottom: 1.25em;
  }

[data-component="prose"] > ol > li > *:first-child {
    margin-top: 1.25em;
  }

[data-component="prose"] > ol > li > *:last-child {
    margin-bottom: 1.25em;
  }

[data-component="prose"] ul ul,
  [data-component="prose"] ul ol,
  [data-component="prose"] ol ul,
  [data-component="prose"] ol ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

[data-component="prose"] hr + * {
    margin-top: 0;
  }

[data-component="prose"] h2 + * {
    margin-top: 0;
  }

[data-component="prose"] h3 + * {
    margin-top: 0;
  }

[data-component="prose"] h4 + * {
    margin-top: 0;
  }

[data-component="prose"] thead th:first-child {
    padding-left: 0;
  }

[data-component="prose"] thead th:last-child {
    padding-right: 0;
  }

[data-component="prose"] tbody td:first-child {
    padding-left: 0;
  }

[data-component="prose"] tbody td:last-child {
    padding-right: 0;
  }

[data-component="prose"] > :first-child {
    margin-top: 0;
  }

[data-component="prose"] > :last-child {
    margin-bottom: 0;
  }

[data-component="prose"] [data-component="code"] {
    background-color: hsl(0, 0%, 98%);
    background-color: var(--sl-color-neutral-50);
    border: 1px solid hsl(240, 5%, 84%);
    border: 1px solid var(--sl-color-neutral-300);
    border-radius: 0.1875rem;
    border-radius: var(--sl-border-radius-small);
  }
