:root {
  /*
   * Color primitives
   */

  --lb-color-white: #fff;
  --lb-color-black: #000;
  --lb-color-transparent: transparent;

  --lb-color-gray-50: hsl(0, 0%, 98%);
  --lb-color-gray-100: hsl(240, 5%, 96%);
  --lb-color-gray-200: hsl(240, 6%, 90%);
  --lb-color-gray-300: hsl(240, 5%, 84%);
  --lb-color-gray-400: hsl(240, 5%, 65%);
  --lb-color-gray-500: hsl(240, 4%, 46%);
  --lb-color-gray-600: hsl(240, 5%, 34%);
  --lb-color-gray-700: hsl(240, 5%, 26%);
  --lb-color-gray-800: hsl(240, 4%, 16%);
  --lb-color-gray-900: hsl(240, 6%, 10%);
  --lb-color-gray-950: hsl(240, 7%, 8%);

  --lb-color-red-50: hsl(0, 86%, 97%);
  --lb-color-red-100: hsl(0, 93%, 94%);
  --lb-color-red-200: hsl(0, 96%, 89%);
  --lb-color-red-300: hsl(0, 94%, 82%);
  --lb-color-red-400: hsl(0, 91%, 71%);
  --lb-color-red-500: hsl(0, 84%, 60%);
  --lb-color-red-600: hsl(0, 72%, 51%);
  --lb-color-red-700: hsl(0, 74%, 42%);
  --lb-color-red-800: hsl(0, 70%, 35%);
  --lb-color-red-900: hsl(0, 63%, 31%);
  --lb-color-red-950: hsl(0, 60%, 20%);

  --lb-color-orange-50: hsl(33, 100%, 97%);
  --lb-color-orange-100: hsl(34, 100%, 92%);
  --lb-color-orange-200: hsl(32, 98%, 83%);
  --lb-color-orange-300: hsl(31, 97%, 72%);
  --lb-color-orange-400: hsl(27, 96%, 61%);
  --lb-color-orange-500: hsl(25, 95%, 53%);
  --lb-color-orange-600: hsl(21, 90%, 48%);
  --lb-color-orange-700: hsl(18, 88%, 40%);
  --lb-color-orange-800: hsl(15, 79%, 34%);
  --lb-color-orange-900: hsl(15, 75%, 28%);
  --lb-color-orange-950: hsl(15, 69%, 19%);

  --lb-color-amber-50: hsl(48, 100%, 96%);
  --lb-color-amber-100: hsl(48, 97%, 89%);
  --lb-color-amber-200: hsl(48, 97%, 77%);
  --lb-color-amber-300: hsl(46, 97%, 65%);
  --lb-color-amber-400: hsl(43, 96%, 56%);
  --lb-color-amber-500: hsl(38, 92%, 50%);
  --lb-color-amber-600: hsl(32, 95%, 44%);
  --lb-color-amber-700: hsl(26, 91%, 37%);
  --lb-color-amber-800: hsl(23, 83%, 31%);
  --lb-color-amber-900: hsl(22, 78%, 27%);
  --lb-color-amber-950: hsl(23, 74%, 17%);

  --lb-color-yellow-50: hsl(55, 92%, 95%);
  --lb-color-yellow-100: hsl(55, 97%, 88%);
  --lb-color-yellow-200: hsl(53, 98%, 77%);
  --lb-color-yellow-300: hsl(50, 98%, 64%);
  --lb-color-yellow-400: hsl(48, 96%, 53%);
  --lb-color-yellow-500: hsl(45, 93%, 48%);
  --lb-color-yellow-600: hsl(41, 96%, 40%);
  --lb-color-yellow-700: hsl(36, 92%, 33%);
  --lb-color-yellow-800: hsl(32, 81%, 29%);
  --lb-color-yellow-900: hsl(28, 73%, 26%);
  --lb-color-yellow-950: hsl(33, 69%, 14%);

  --lb-color-lime-50: hsl(78, 92%, 95%);
  --lb-color-lime-100: hsl(80, 89%, 89%);
  --lb-color-lime-200: hsl(81, 89%, 80%);
  --lb-color-lime-300: hsl(82, 85%, 67%);
  --lb-color-lime-400: hsl(83, 78%, 56%);
  --lb-color-lime-500: hsl(84, 81%, 44%);
  --lb-color-lime-600: hsl(85, 85%, 35%);
  --lb-color-lime-700: hsl(86, 78%, 27%);
  --lb-color-lime-800: hsl(86, 69%, 23%);
  --lb-color-lime-900: hsl(88, 61%, 20%);
  --lb-color-lime-950: hsl(87, 61%, 14%);

  --lb-color-green-50: hsl(139, 77%, 97%);
  --lb-color-green-100: hsl(141, 84%, 93%);
  --lb-color-green-200: hsl(141, 79%, 85%);
  --lb-color-green-300: hsl(142, 77%, 73%);
  --lb-color-green-400: hsl(142, 69%, 58%);
  --lb-color-green-500: hsl(142, 71%, 45%);
  --lb-color-green-600: hsl(142, 76%, 36%);
  --lb-color-green-700: hsl(142, 72%, 29%);
  --lb-color-green-800: hsl(143, 64%, 24%);
  --lb-color-green-900: hsl(144, 61%, 20%);
  --lb-color-green-950: hsl(144, 61%, 12%);

  --lb-color-emerald-50: hsl(152, 81%, 96%);
  --lb-color-emerald-100: hsl(149, 80%, 90%);
  --lb-color-emerald-200: hsl(152, 76%, 80%);
  --lb-color-emerald-300: hsl(156, 72%, 67%);
  --lb-color-emerald-400: hsl(158, 64%, 52%);
  --lb-color-emerald-500: hsl(160, 84%, 39%);
  --lb-color-emerald-600: hsl(161, 94%, 30%);
  --lb-color-emerald-700: hsl(163, 94%, 24%);
  --lb-color-emerald-800: hsl(163, 88%, 20%);
  --lb-color-emerald-900: hsl(164, 86%, 17%);
  --lb-color-emerald-950: hsl(164, 88%, 9%);

  --lb-color-teal-50: hsl(166, 77%, 97%);
  --lb-color-teal-100: hsl(167, 86%, 89%);
  --lb-color-teal-200: hsl(168, 84%, 78%);
  --lb-color-teal-300: hsl(171, 77%, 64%);
  --lb-color-teal-400: hsl(173, 66%, 50%);
  --lb-color-teal-500: hsl(173, 80%, 40%);
  --lb-color-teal-600: hsl(175, 84%, 32%);
  --lb-color-teal-700: hsl(175, 77%, 26%);
  --lb-color-teal-800: hsl(176, 69%, 22%);
  --lb-color-teal-900: hsl(176, 61%, 19%);
  --lb-color-teal-950: hsl(177, 59%, 11%);

  --lb-color-cyan-50: hsl(183, 100%, 96%);
  --lb-color-cyan-100: hsl(185, 96%, 90%);
  --lb-color-cyan-200: hsl(186, 94%, 82%);
  --lb-color-cyan-300: hsl(187, 92%, 69%);
  --lb-color-cyan-400: hsl(188, 86%, 53%);
  --lb-color-cyan-500: hsl(189, 95%, 43%);
  --lb-color-cyan-600: hsl(192, 91%, 37%);
  --lb-color-cyan-700: hsl(193, 82%, 31%);
  --lb-color-cyan-800: hsl(194, 70%, 27%);
  --lb-color-cyan-900: hsl(196, 64%, 24%);
  --lb-color-cyan-950: hsl(197, 61%, 16%);

  --lb-color-sky-50: hsl(204, 100%, 97%);
  --lb-color-sky-100: hsl(204, 94%, 94%);
  --lb-color-sky-200: hsl(201, 94%, 86%);
  --lb-color-sky-300: hsl(199, 96%, 74%);
  --lb-color-sky-400: hsl(198, 93%, 60%);
  --lb-color-sky-500: hsl(199, 89%, 48%);
  --lb-color-sky-600: hsl(200, 98%, 39%);
  --lb-color-sky-700: hsl(201, 96%, 32%);
  --lb-color-sky-800: hsl(201, 90%, 28%);
  --lb-color-sky-900: hsl(202, 80%, 24%);
  --lb-color-sky-950: hsl(202, 74%, 17%);

  --lb-color-blue-50: hsl(214, 100%, 97%);
  --lb-color-blue-100: hsl(214, 95%, 93%);
  --lb-color-blue-200: hsl(213, 97%, 87%);
  --lb-color-blue-300: hsl(212, 96%, 78%);
  --lb-color-blue-400: hsl(213, 94%, 68%);
  --lb-color-blue-500: hsl(217, 91%, 60%);
  --lb-color-blue-600: hsl(221, 83%, 53%);
  --lb-color-blue-700: hsl(224, 76%, 48%);
  --lb-color-blue-800: hsl(226, 71%, 40%);
  --lb-color-blue-900: hsl(224, 64%, 33%);
  --lb-color-blue-950: hsl(226, 55%, 18%);

  --lb-color-indigo-50: hsl(226, 100%, 97%);
  --lb-color-indigo-100: hsl(227, 100%, 94%);
  --lb-color-indigo-200: hsl(228, 97%, 89%);
  --lb-color-indigo-300: hsl(230, 94%, 82%);
  --lb-color-indigo-400: hsl(235, 90%, 74%);
  --lb-color-indigo-500: hsl(239, 84%, 67%);
  --lb-color-indigo-600: hsl(243, 75%, 59%);
  --lb-color-indigo-700: hsl(245, 58%, 51%);
  --lb-color-indigo-800: hsl(244, 55%, 41%);
  --lb-color-indigo-900: hsl(242, 47%, 34%);
  --lb-color-indigo-950: hsl(244, 44%, 23%);

  --lb-color-violet-50: hsl(250, 100%, 98%);
  --lb-color-violet-100: hsl(251, 91%, 96%);
  --lb-color-violet-200: hsl(251, 95%, 92%);
  --lb-color-violet-300: hsl(253, 95%, 85%);
  --lb-color-violet-400: hsl(255, 92%, 76%);
  --lb-color-violet-500: hsl(258, 90%, 66%);
  --lb-color-violet-600: hsl(262, 83%, 58%);
  --lb-color-violet-700: hsl(263, 70%, 50%);
  --lb-color-violet-800: hsl(263, 69%, 42%);
  --lb-color-violet-900: hsl(264, 67%, 35%);
  --lb-color-violet-950: hsl(265, 62%, 21%);

  --lb-color-purple-50: hsl(270, 100%, 98%);
  --lb-color-purple-100: hsl(269, 100%, 96%);
  --lb-color-purple-200: hsl(269, 100%, 92%);
  --lb-color-purple-300: hsl(269, 97%, 85%);
  --lb-color-purple-400: hsl(270, 95%, 75%);
  --lb-color-purple-500: hsl(271, 91%, 65%);
  --lb-color-purple-600: hsl(272, 81%, 56%);
  --lb-color-purple-700: hsl(272, 72%, 47%);
  --lb-color-purple-800: hsl(273, 67%, 39%);
  --lb-color-purple-900: hsl(274, 66%, 32%);
  --lb-color-purple-950: hsl(276, 60%, 17%);

  --lb-color-fuchsia-50: hsl(289, 100%, 98%);
  --lb-color-fuchsia-100: hsl(287, 100%, 96%);
  --lb-color-fuchsia-200: hsl(288, 96%, 91%);
  --lb-color-fuchsia-300: hsl(291, 93%, 83%);
  --lb-color-fuchsia-400: hsl(292, 91%, 73%);
  --lb-color-fuchsia-500: hsl(292, 84%, 61%);
  --lb-color-fuchsia-600: hsl(293, 70%, 49%);
  --lb-color-fuchsia-700: hsl(295, 72%, 40%);
  --lb-color-fuchsia-800: hsl(295, 70%, 33%);
  --lb-color-fuchsia-900: hsl(297, 64%, 28%);
  --lb-color-fuchsia-950: hsl(297, 57%, 15%);

  --lb-color-pink-50: hsl(327, 73%, 97%);
  --lb-color-pink-100: hsl(326, 78%, 95%);
  --lb-color-pink-200: hsl(326, 85%, 90%);
  --lb-color-pink-300: hsl(327, 87%, 82%);
  --lb-color-pink-400: hsl(329, 86%, 70%);
  --lb-color-pink-500: hsl(330, 81%, 60%);
  --lb-color-pink-600: hsl(333, 71%, 51%);
  --lb-color-pink-700: hsl(335, 78%, 42%);
  --lb-color-pink-800: hsl(336, 74%, 35%);
  --lb-color-pink-900: hsl(336, 69%, 30%);
  --lb-color-pink-950: hsl(336, 65%, 16%);

  --lb-color-rose-50: hsl(356, 100%, 97%);
  --lb-color-rose-100: hsl(356, 100%, 95%);
  --lb-color-rose-200: hsl(353, 96%, 90%);
  --lb-color-rose-300: hsl(353, 96%, 82%);
  --lb-color-rose-400: hsl(351, 95%, 71%);
  --lb-color-rose-500: hsl(350, 89%, 60%);
  --lb-color-rose-600: hsl(347, 77%, 50%);
  --lb-color-rose-700: hsl(345, 83%, 41%);
  --lb-color-rose-800: hsl(343, 80%, 35%);
  --lb-color-rose-900: hsl(342, 76%, 30%);
  --lb-color-rose-950: hsl(341, 70%, 17%);

  /*
   * Spacing and sizes
   */

  --lb-spacing-3x-small: 0.125rem; /* 2px */
  --lb-spacing-2x-small: 0.25rem; /* 4px */
  --lb-spacing-x-small: 0.5rem; /* 8px */
  --lb-spacing-small: 0.75rem; /* 12px */
  --lb-spacing-medium: 1rem; /* 16px */
  --lb-spacing-large: 1.25rem; /* 20px */
  --lb-spacing-x-large: 1.75rem; /* 28px */
  --lb-spacing-2x-large: 2.25rem; /* 36px */
  --lb-spacing-3x-large: 3rem; /* 48px */
  --lb-spacing-4x-large: 4.5rem; /* 72px */

  --lb-size-3x-small: 0.125rem; /* 2px */
  --lb-size-2x-small: 0.25rem; /* 4px */
  --lb-size-x-small: 0.5rem; /* 8px */
  --lb-size-small: 0.75rem; /* 12px */
  --lb-size-medium: 1rem; /* 16px */
  --lb-size-large: 1.25rem; /* 20px */
  --lb-size-x-large: 1.75rem; /* 28px */
  --lb-size-2x-large: 2.25rem; /* 36px */
  --lb-size-3x-large: 3rem; /* 48px */
  --lb-size-4x-large: 4.5rem; /* 72px */

  /*
   * Typography
   */

  --lb-font-ui: "Inter Var", Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  --lb-font-prose: "Open Sans Var", Avenir, Montserrat, Corbel, "URW Gothic",
    source-sans-pro, sans-serif;
  --lb-font-mono: "Source Code Pro Var", ui-monospace, "Cascadia Code", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;

  --lb-font-size-2x-small: 0.625rem; /* 10px */
  --lb-font-size-x-small: 0.75rem; /* 12px */
  --lb-font-size-small: 0.875rem; /* 14px */
  --lb-font-size-medium: 1rem; /* 16px */
  --lb-font-size-large: 1.25rem; /* 20px */
  --lb-font-size-x-large: 1.5rem; /* 24px */
  --lb-font-size-2x-large: 2.25rem; /* 36px */
  --lb-font-size-3x-large: 3rem; /* 48px */
  --lb-font-size-4x-large: 4.5rem; /* 72px */

  --lb-font-weight-light: 300;
  --lb-font-weight-normal: 400;
  --lb-font-weight-medium: 500;
  --lb-font-weight-semibold: 600;
  --lb-font-weight-bold: 700;

  /*
   * Border radii
   */

  --lb-border-radius-small: 0.1875rem; /* 3px */
  --lb-border-radius-medium: 0.25rem; /* 4px */
  --lb-border-radius-large: 0.5rem; /* 8px */
  --lb-border-radius-x-large: 1rem; /* 16px */

  /*
   * Shadows
   */

  --lb-shadow-x-small: 0 0 2px 0 rgba(0, 0, 0, 0.05);
  --lb-shadow-small: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 0 2px -1px rgba(0, 0, 0, 0.1);
  --lb-shadow-medium: 0 0 6px -1px rgba(0, 0, 0, 0.1),
    0 0 4px -2px rgba(0, 0, 0, 0.1);
  --lb-shadow-large: 0 0 15px -3px rgba(0, 0, 0, 0.1),
    0 0 6px -4px rgba(0, 0, 0, 0.1);
  --lb-shadow-x-large: 0 0 25px -5px rgba(0, 0, 0, 0.1),
    0 0 10px -6px rgba(0, 0, 0, 0.1);
}
:root {
  /*
   * App header
   */

  --lb-header-height: 2.5rem;

  /*
   * Toolbars
   */

  --lb-toolbar-height: 2.5rem;

  /*
   * Panels
   */

  --lb-panel-padding: var(--lb-spacing-medium);

  /*
   * Status bar
   */

  --lb-status-bar-height: 1.5rem;

  /*
   * Nav
   */

  --lb-nav-item-height: 1.75rem;
}
:root,
:host,
.lookbook-theme-light {
  --csstools-color-scheme--light: initial;
  --csstools-color-scheme--dark:  ;
  color-scheme: light;

  /*
   * Colour scheme
   */

  --lb-color-accent-50: var(--lb-color-indigo-50);
  --lb-color-accent-100: var(--lb-color-indigo-100);
  --lb-color-accent-200: var(--lb-color-indigo-200);
  --lb-color-accent-300: var(--lb-color-indigo-300);
  --lb-color-accent-400: var(--lb-color-indigo-400);
  --lb-color-accent-500: var(--lb-color-indigo-500);
  --lb-color-accent-600: var(--lb-color-indigo-600);
  --lb-color-accent-700: var(--lb-color-indigo-700);
  --lb-color-accent-800: var(--lb-color-indigo-800);
  --lb-color-accent-900: var(--lb-color-indigo-900);
  --lb-color-accent-950: var(--lb-color-indigo-950);

  --lb-color-base-50: var(--lb-color-gray-50);
  --lb-color-base-100: var(--lb-color-gray-100);
  --lb-color-base-200: var(--lb-color-gray-200);
  --lb-color-base-300: var(--lb-color-gray-300);
  --lb-color-base-400: var(--lb-color-gray-400);
  --lb-color-base-500: var(--lb-color-gray-500);
  --lb-color-base-600: var(--lb-color-gray-600);
  --lb-color-base-700: var(--lb-color-gray-700);
  --lb-color-base-800: var(--lb-color-gray-800);
  --lb-color-base-900: var(--lb-color-gray-900);
  --lb-color-base-950: var(--lb-color-gray-950);

  --lb-color-success-50: var(--lb-color-green-50);
  --lb-color-success-100: var(--lb-color-green-100);
  --lb-color-success-200: var(--lb-color-green-200);
  --lb-color-success-300: var(--lb-color-green-300);
  --lb-color-success-400: var(--lb-color-green-400);
  --lb-color-success-500: var(--lb-color-green-500);
  --lb-color-success-600: var(--lb-color-green-600);
  --lb-color-success-700: var(--lb-color-green-700);
  --lb-color-success-800: var(--lb-color-green-800);
  --lb-color-success-900: var(--lb-color-green-900);
  --lb-color-success-950: var(--lb-color-green-950);

  --lb-color-warning-50: var(--lb-color-amber-50);
  --lb-color-warning-100: var(--lb-color-amber-100);
  --lb-color-warning-200: var(--lb-color-amber-200);
  --lb-color-warning-300: var(--lb-color-amber-300);
  --lb-color-warning-400: var(--lb-color-amber-400);
  --lb-color-warning-500: var(--lb-color-amber-500);
  --lb-color-warning-600: var(--lb-color-amber-600);
  --lb-color-warning-700: var(--lb-color-amber-700);
  --lb-color-warning-800: var(--lb-color-amber-800);
  --lb-color-warning-900: var(--lb-color-amber-900);
  --lb-color-warning-950: var(--lb-color-amber-950);

  --lb-color-danger-50: var(--lb-color-red-50);
  --lb-color-danger-100: var(--lb-color-red-100);
  --lb-color-danger-200: var(--lb-color-red-200);
  --lb-color-danger-300: var(--lb-color-red-300);
  --lb-color-danger-400: var(--lb-color-red-400);
  --lb-color-danger-500: var(--lb-color-red-500);
  --lb-color-danger-600: var(--lb-color-red-600);
  --lb-color-danger-700: var(--lb-color-red-700);
  --lb-color-danger-800: var(--lb-color-red-800);
  --lb-color-danger-900: var(--lb-color-red-900);
  --lb-color-danger-950: var(--lb-color-red-950);

  /*
   * App
   */

  --lb-app-color: var(--lb-color-base-900);
  --lb-app-divider-color: var(--lb-color-base-300);
  --lb-app-focus-outline-color: var(--lb-color-accent-200);

  /*
   * Header
   */

  --lb-header-color: var(--lb-color-white);
  --lb-header-background-color: var(--lb-color-accent-600);

  /*
   * Tables
   */

  --lb-table-color: var(--lb-color-base-900);
  --lb-table-border-color: var(--lb-app-divider-color);
  --lb-table-background-color: var(--lb-color-white);

  /*
   * Panes
   */

  --lb-pane-background-color: var(--lb-color-base-50);

  /*
   * Status bar
   */

  --lb-status-bar-color: var(--lb-base-600);
  --lb-status-bar-background-color: var(--lb-color-white);
  --lb-status-bar-action-color: var(--lb-color-accent-700);
  --lb-status-bar-item-color-positive: var(--lb-color-success-700);
  --lb-status-bar-item-color-error: var(--lb-color-danger-600);
  --lb-status-bar-item-color-warning: var(--lb-color-warning-600);
  --lb-status-bar-item-color-info: var(--lb-color-info-600);
  --lb-status-bar-notifications-color: var(--lb-app-color);
  --lb-status-bar-notifications-background-color: var(--lb-color-white);

  /*
   * System message
   */

  --lb-system-message-color: var(--lb-color-base-500);
  --lb-system-message-background-color: var(--lb-color-white);
  --lb-system-message-border-color: var(--lb-app-divider-color);
  --lb-system-message-title-color: var(--lb-color-base-900);
  --lb-system-message-icon-color: var(--lb-color-base-300);

  --lb-system-message-title-color-error: var(--lb-color-danger-600);
  --lb-system-message-border-color-error: var(--lb-color-danger-200);
  --lb-system-message-icon-color-error: var(--lb-color-danger-300);

  /*
   * Breadcrumbs
   */

  --lb-breadrumbs-color: var(--lb-color-base-400);
  --lb-breadrumbs-color-current: var(--lb-color-base-600);
  --lb-breadrumbs-link-color: var(--lb-color-base-400);
  --lb-breadrumbs-link-color-hover: var(--lb-color-accent-600);

  /*
   * Buttons
   */

  --lb-button-color: var(--lb-color-base-500);
  --lb-button-color-hover: var(--lb-color-base-700);
  --lb-button-color-active: var(--lb-color-accent-700);

  /*
   * Button groups
   */

  --lb-button-group-divider-color: var(--lb-app-divider-color);

  /*
   * Nav
   */

  --lb-nav-item-background-color: var(--lb-color-transparent);
  --lb-nav-item-border-color: var(--lb-color-transparent);
  --lb-nav-item-label-color: var(--lb-app-color);
  --lb-nav-item-icon-color: var(--lb-color-accent-700);
  --lb-nav-item-toggle-color: var(--lb-color-base-600);

  --lb-nav-item-background-color-selected: var(--lb-color-base-100);
  --lb-nav-item-border-color-selected: var(--lb-color-accent-500);
  --lb-nav-item-label-color-selected: var(--lb-app-color);

  --lb-nav-placeholder-color: var(--lb-color-base-500);
  --lb-nav-placeholder-border-color: var(--lb-app-divider-color);
  --lb-nav-placeholder-background-color: var(--lb-color-white);

  /*
   * Tabs
   */

  --lb-tab-color: var(--lb-color-base-800);
  --lb-tab-color-disabled: var(--lb-color-base-300);
  --lb-tab-color-selected: var(--lb-color-accent-500);
  --lb-tab-border-color-selected: var(--lb-color-accent-500);
  --lb-tab-panel-color: var(--lb-app-color);
  --lb-tab-panel-background-color: var(--lb-color-base-50);

  /*
   * Prose
   */

  --lb-prose-color: var(--lb-app-color);
  --lb-prose-list-counter-color: var(--lb-color-base-600);
  --lb-prose-list-marker-color: var(--lb-color-base-400);
  --lb-prose-hr-color: var(--lb-color-base-600);
  --lb-prose-blockquote-color: var(--lb-color-base-700);
  --lb-prose-blockquote-border-color: var(--lb-color-base-300);
  --lb-prose-figcaption-color: var(--lb-color-base-600);
  --lb-prose-inline-code-color: var(--lb-color-accent-900);
  --lb-prose-inline-code-background-color: var(--lb-color-base-100);
  --lb-prose-code-background-color: var(--lb-color---lb-color-base-800);
  --lb-prose-code-background-color: var(--lb-color-white);
  --lb-prose-code-border-color: var(--lb-color-base-300);

  /*
   * Toolbars
   */

  --lb-toolbar-color: var(--lb-app-color);
  --lb-toolbar-background-color: var(--lb-color-white);

  /*
   * Viewport
   */

  --lb-viewport-background-color: var(--lb-color-white);
  --lb-viewport-dimensions-background-color: var(--lb-color-base-200);
  --lb-viewport-handle-background-color: var(--lb-color-white);
  --lb-viewport-handle-icon-color: var(--lb-color-base-500);
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("./fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Source Code Pro Var";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("./fonts/SourceCodeVariable-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro Var";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("./fonts/SourceCodeVariable-italic.var.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans Var";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("./fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
  font-variation-settings: "wdth" 100;
}
@font-face {
  font-family: "Open Sans Var";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("./fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2")
    format("woff2");
  font-variation-settings: "wdth" 100;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
html,
body {
  font-family: "Inter Var", Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  font-family: var(--lb-font-ui);
  font-size: 1rem;
  font-size: var(--lb-font-size-medium);
  color: hsl(240, 6%, 10%);
  color: var(--lb-app-color);
}
body {
  min-height: 100vh;
  font-size: 1rem;
  font-size: var(--lb-font-size-medium);
}
code {
  font-family: "Source Code Pro Var", ui-monospace, "Cascadia Code", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
  font-family: var(--lb-font-mono);
}
a {
  transition: color 0.25s ease;
}
router {
  display: contents;
}
[x-cloak] {
  display: none !important;
}
table {
  background: #fff;
  background: var(--lb-table-background-color);
  border: 1px solid hsl(240, 5%, 84%);
  border: 1px solid var(--lb-table-border-color);
  color: hsl(240, 6%, 10%);
  color: var(--lb-table-color);
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  font-size: var(--lb-font-size-small);
}
th,
td {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-left: var(--lb-spacing-medium);
  padding-right: var(--lb-spacing-medium);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-top: var(--lb-spacing-small);
  padding-bottom: var(--lb-spacing-small);
  width: 1%;
}
thead tr,
tr:not(:last-child) {
  border-bottom: 1px solid hsl(240, 5%, 84%);
  border-bottom: 1px solid var(--lb-table-border-color);
}
:focus-visible {
  outline: 1px solid transparent;
  outline-offset: 0;
  outline-color: hsl(228, 97%, 89%);
  outline-color: var(--lb-app-focus-outline-color);
}
/* Utilities */
.bg-checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f3f3f3' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
.tippy-box[data-animation=fade][data-state=hidden]{opacity:0}
[data-tippy-root]{max-width:calc(100vw - 10px)}
.tippy-box{position:relative;background-color:#333;color:#fff;border-radius:4px;font-size:14px;line-height:1.4;white-space:normal;outline:0;transition-property:transform,visibility,opacity}
.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}
.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:currentcolor;border-top-color:initial;transform-origin:center top}
.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}
.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:currentcolor;border-bottom-color:initial;transform-origin:center bottom}
.tippy-box[data-placement^=left]>.tippy-arrow{right:0}
.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:currentcolor;border-left-color:initial;right:-7px;transform-origin:center left}
.tippy-box[data-placement^=right]>.tippy-arrow{left:0}
.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:currentcolor;border-right-color:initial;transform-origin:center right}
.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}
.tippy-arrow{width:16px;height:16px;color:#333}
.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}
.tippy-content{position:relative;padding:5px 9px;z-index:1}
.tippy-box[data-theme~="dropdown"] {
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.1),
    0 0 4px -2px rgba(0, 0, 0, 0.1);
  box-shadow: var(--lb-shadow-medium);
  background: #fff;
  background: var(--lb-color-white);
  color: hsl(240, 4%, 16%);
  color: var(--lb-color-base-800);
  max-width: 100%;
  border: 1px solid hsl(240, 5%, 84%);
  border: 1px solid var(--lb-app-divider-color);
  border-radius: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.tippy-box[data-theme~="dropdown"] .tippy-content {
    padding: 0;
  }
[data-component="code"] {
  display: block;

  height: 100%;
  width: 100%;
  overflow: hidden;
}
[data-component="code"] .code-raw {
    display: none;
  }
[data-component="code"] .code-highlighted {
    height: 100%;
  }
[data-component="code"] .code-highlighted code,
    [data-component="code"] .code-highlighted pre {
      display: block;
      height: 100%;
      width: 100%;
    }
[data-component="code"] .code-highlighted code:focus-visible, [data-component="code"] .code-highlighted pre:focus-visible {
        outline: 0;
      }
[data-component="code"] .code-highlighted pre > code {
      font-size: 0.875rem;
      font-size: var(--lb-font-size-small);
      line-height: 1.5;
      padding-left: 0.75rem !important;
      padding-right: 0.75rem !important;
      padding-left: var(--lb-spacing-small) !important;
      padding-right: var(--lb-spacing-small) !important;
      padding-top: 0.75rem !important;
      padding-bottom: 0.75rem !important;
      padding-top: var(--lb-spacing-small) !important;
      padding-bottom: var(--lb-spacing-small) !important;
      overflow: auto;
    }
.wrap-lines[data-component="code"] .code-highlighted code {
    white-space: pre-wrap;
  }
[data-component="icon"] {
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 1rem;
}
[data-component="icon"] svg {
    width: 100%;
    height: 100%;
  }
.stroke-1[data-component="icon"] svg {
    stroke-width: 1px;
  }
.stroke-2[data-component="icon"] svg {
    stroke-width: 2px;
  }
[data-component="prose"] {
  font-family: "Open Sans Var", Avenir, Montserrat, Corbel, "URW Gothic",
    source-sans-pro, sans-serif;
  font-family: var(--lb-font-prose);
  color: hsl(240, 6%, 10%);
  color: var(--lb-prose-color);
  font-size: 1rem;
  line-height: 1.75;
}
[data-component="prose"] [class~="lead"] {
    color: hsl(240, 6%, 10%);
    color: var(--lb-prose-color);
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }
[data-component="prose"] a {
    position: relative;
    -webkit-text-decoration: underline;
    text-decoration: underline;
  }
[data-component="prose"] strong {
    font-weight: 600;
  }
[data-component="prose"] ol {
    counter-reset: list-counter;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
[data-component="prose"] ol > li {
    position: relative;
    counter-increment: list-counter;
    padding-left: 1.75em;
  }
[data-component="prose"] ol > li::before {
    content: counter(list-counter) ".";
    position: absolute;
    font-weight: 400;
    color: hsl(240, 5%, 34%);
    color: var(--lb-prose-list-counter-color);
  }
[data-component="prose"] ul > li {
    position: relative;
    padding-left: 1.75em;
  }
[data-component="prose"] ul > li::before {
    content: "";
    position: absolute;
    background-color: hsl(240, 5%, 65%);
    background-color: var(--lb-prose-list-marker-color);
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: 0.25em;
  }
[data-component="prose"] hr {
    border-color: hsl(240, 5%, 34%);
    border-color: var(--lb-prose-hr-color);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }
[data-component="prose"] blockquote {
    font-weight: 500;
    font-style: italic;
    color: hsl(240, 5%, 26%);
    color: var(--lb-prose-blockquote-color);
    border-left-width: 0.25rem;
    border-left-color: hsl(240, 5%, 84%);
    border-left-color: var(--lb-prose-blockquote-border-color);
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
  }
[data-component="prose"] blockquote p:first-of-type::before {
    content: open-quote;
  }
[data-component="prose"] blockquote p:last-of-type::after {
    content: close-quote;
  }
[data-component="prose"] h1,
  [data-component="prose"] h2,
  [data-component="prose"] h3,
  [data-component="prose"] h4 {
    line-height: var(--lb-line-height-dense);
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }
[data-component="prose"] h1 {
    font-weight: 600;
    font-size: 2.25rem;
    font-size: var(--lb-font-size-2x-large);
  }
[data-component="prose"] h2 {
    font-weight: 600;
    font-size: 1.5rem;
    font-size: var(--lb-font-size-x-large);
  }
[data-component="prose"] h3 {
    font-weight: 600;
    font-size: 1.25rem;
    font-size: var(--lb-font-size-large);
  }
[data-component="prose"] h4 {
    font-weight: 600;
    font-size: 1rem;
    font-size: var(--lb-font-size-medium);
  }
[data-component="prose"] figure figcaption {
    color: hsl(240, 5%, 34%);
    color: var(--lb-prose-figcaption-color);
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
  }
[data-component="prose"] code:not(pre code) {
    font-size: 0.8em;
    display: inline-block;
    font-family: "Source Code Pro Var", ui-monospace, "Cascadia Code", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
    font-family: var(--lb-font-mono);
    background-color: hsl(240, 5%, 96%);
    background-color: var(--lb-prose-inline-code-background-color);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-left: var(--lb-spacing-2x-small);
    padding-right: var(--lb-spacing-2x-small);
    border-radius: 0.1875rem;
    border-radius: var(--lb-border-radius-small);
    color: hsl(242, 47%, 34%);
    color: var(--lb-prose-inline-code-color);
  }
[data-component="prose"] table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
  }
[data-component="prose"] thead th {
    vertical-align: bottom;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }
[data-component="prose"] tbody tr:last-child {
    border-bottom-width: 0;
  }
[data-component="prose"] tbody td {
    vertical-align: top;
    padding-top: 0.5714286em;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }
[data-component="prose"] p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
[data-component="prose"] img {
    margin-top: 2em;
    margin-bottom: 2em;
  }
[data-component="prose"] video {
    margin-top: 2em;
    margin-bottom: 2em;
  }
[data-component="prose"] figure {
    margin-top: 2em;
    margin-bottom: 2em;
  }
[data-component="prose"] figure > * {
    margin-top: 0;
    margin-bottom: 0;
  }
[data-component="prose"] lookbook-embed {
    margin-top: 2em;
    margin-bottom: 2em;
  }
[data-component="prose"] h2 code {
    font-size: 0.875em;
  }
[data-component="prose"] h3 code {
    font-size: 0.9em;
  }
[data-component="prose"] ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
[data-component="prose"] li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
[data-component="prose"] ol > li:before {
    left: 0;
  }
[data-component="prose"] ul ul,
  [data-component="prose"] ul ol,
  [data-component="prose"] ol ul,
  [data-component="prose"] ol ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
[data-component="prose"] hr + * {
    margin-top: 0;
  }
[data-component="prose"] h2 + * {
    margin-top: 0;
  }
[data-component="prose"] h3 + * {
    margin-top: 0;
  }
[data-component="prose"] h4 + * {
    margin-top: 0;
  }
[data-component="prose"] thead th:first-child {
    padding-left: 0;
  }
[data-component="prose"] thead th:last-child {
    padding-right: 0;
  }
[data-component="prose"] tbody td:first-child {
    padding-left: 0;
  }
[data-component="prose"] tbody td:last-child {
    padding-right: 0;
  }
[data-component="prose"] > :first-child {
    margin-top: 0;
  }
[data-component="prose"] > :last-child {
    margin-bottom: 0;
  }
[data-component="prose"] [data-component="code"] {
    color: var(--lb-prose-code-color);
    background-color: #fff;
    background-color: var(--lb-prose-code-background-color);
    border: 1px solid hsl(240, 5%, 84%);
    border: 1px solid var(--lb-prose-code-border-color);
    border-radius: 0.1875rem;
    border-radius: var(--lb-border-radius-small);
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    margin-top: var(--lb-spacing-x-large);
    margin-bottom: var(--lb-spacing-x-large);
  }
[data-component="page"] {
  font-family: "Open Sans Var", Avenir, Montserrat, Corbel, "URW Gothic",
    source-sans-pro, sans-serif;
  font-family: var(--lb-font-prose);
  background-color: #fff;
  background-color: var(--lb-color-white);
  min-height: 100vh;
}
[data-component="page"] .page-slat {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-left: var(--lb-spacing-x-large);
    padding-right: var(--lb-spacing-x-large);
  }
[data-component="page"] .page-header {
    border-bottom: 1px solid hsl(240, 5%, 84%);
    border-bottom: 1px solid var(--lb-color-base-300);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-top: var(--lb-spacing-x-large);
    padding-bottom: var(--lb-spacing-x-large);
  }
[data-component="page"] .page-title {
    font-weight: 700;
    font-weight: var(--lb-font-weight-bold);
    font-size: 2.25rem;
    font-size: var(--lb-font-size-2x-large);
  }
[data-component="page"] .page-body {
    padding-top: 2.25rem;
    padding-top: var(--lb-spacing-2x-large);
    padding-bottom: 3rem;
    padding-bottom: var(--lb-spacing-3x-large);
  }
[data-component="page"] .page-footer {
    border-top: 1px solid hsl(240, 5%, 84%);
    border-top: 1px solid var(--lb-color-base-300);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-top: var(--lb-spacing-x-large);
    padding-bottom: var(--lb-spacing-x-large);
  }
[data-component="page"] .page-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "Inter Var", Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
    font-family: var(--lb-font-ui);
  }
[data-component="page"] .page-nav-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    gap: var(--lb-spacing-2x-small);
  }
[data-component="page"] .page-nav-link-next {
    margin-left: auto;
  }
