:root {
  --lookbook-color-gray-50: hsl(0, 0%, 98%);
  --lookbook-color-gray-100: hsl(240, 5%, 96%);
  --lookbook-color-gray-200: hsl(240, 6%, 90%);
  --lookbook-color-gray-300: hsl(240, 5%, 84%);
  --lookbook-color-gray-400: hsl(240, 5%, 65%);
  --lookbook-color-gray-500: hsl(240, 4%, 46%);
  --lookbook-color-gray-600: hsl(240, 5%, 34%);
  --lookbook-color-gray-700: hsl(240, 5%, 26%);
  --lookbook-color-gray-800: hsl(240, 4%, 16%);
  --lookbook-color-gray-900: hsl(240, 6%, 10%);
  --lookbook-color-gray-950: hsl(240, 7%, 8%);

  --lookbook-color-red-50: hsl(0, 86%, 97%);
  --lookbook-color-red-100: hsl(0, 93%, 94%);
  --lookbook-color-red-200: hsl(0, 96%, 89%);
  --lookbook-color-red-300: hsl(0, 94%, 82%);
  --lookbook-color-red-400: hsl(0, 91%, 71%);
  --lookbook-color-red-500: hsl(0, 84%, 60%);
  --lookbook-color-red-600: hsl(0, 72%, 51%);
  --lookbook-color-red-700: hsl(0, 74%, 42%);
  --lookbook-color-red-800: hsl(0, 70%, 35%);
  --lookbook-color-red-900: hsl(0, 63%, 31%);
  --lookbook-color-red-950: hsl(0, 60%, 20%);

  --lookbook-color-orange-50: hsl(33, 100%, 97%);
  --lookbook-color-orange-100: hsl(34, 100%, 92%);
  --lookbook-color-orange-200: hsl(32, 98%, 83%);
  --lookbook-color-orange-300: hsl(31, 97%, 72%);
  --lookbook-color-orange-400: hsl(27, 96%, 61%);
  --lookbook-color-orange-500: hsl(25, 95%, 53%);
  --lookbook-color-orange-600: hsl(21, 90%, 48%);
  --lookbook-color-orange-700: hsl(18, 88%, 40%);
  --lookbook-color-orange-800: hsl(15, 79%, 34%);
  --lookbook-color-orange-900: hsl(15, 75%, 28%);
  --lookbook-color-orange-950: hsl(15, 69%, 19%);

  --lookbook-color-amber-50: hsl(48, 100%, 96%);
  --lookbook-color-amber-100: hsl(48, 97%, 89%);
  --lookbook-color-amber-200: hsl(48, 97%, 77%);
  --lookbook-color-amber-300: hsl(46, 97%, 65%);
  --lookbook-color-amber-400: hsl(43, 96%, 56%);
  --lookbook-color-amber-500: hsl(38, 92%, 50%);
  --lookbook-color-amber-600: hsl(32, 95%, 44%);
  --lookbook-color-amber-700: hsl(26, 91%, 37%);
  --lookbook-color-amber-800: hsl(23, 83%, 31%);
  --lookbook-color-amber-900: hsl(22, 78%, 27%);
  --lookbook-color-amber-950: hsl(23, 74%, 17%);

  --lookbook-color-yellow-50: hsl(55, 92%, 95%);
  --lookbook-color-yellow-100: hsl(55, 97%, 88%);
  --lookbook-color-yellow-200: hsl(53, 98%, 77%);
  --lookbook-color-yellow-300: hsl(50, 98%, 64%);
  --lookbook-color-yellow-400: hsl(48, 96%, 53%);
  --lookbook-color-yellow-500: hsl(45, 93%, 48%);
  --lookbook-color-yellow-600: hsl(41, 96%, 40%);
  --lookbook-color-yellow-700: hsl(36, 92%, 33%);
  --lookbook-color-yellow-800: hsl(32, 81%, 29%);
  --lookbook-color-yellow-900: hsl(28, 73%, 26%);
  --lookbook-color-yellow-950: hsl(33, 69%, 14%);

  --lookbook-color-lime-50: hsl(78, 92%, 95%);
  --lookbook-color-lime-100: hsl(80, 89%, 89%);
  --lookbook-color-lime-200: hsl(81, 89%, 80%);
  --lookbook-color-lime-300: hsl(82, 85%, 67%);
  --lookbook-color-lime-400: hsl(83, 78%, 56%);
  --lookbook-color-lime-500: hsl(84, 81%, 44%);
  --lookbook-color-lime-600: hsl(85, 85%, 35%);
  --lookbook-color-lime-700: hsl(86, 78%, 27%);
  --lookbook-color-lime-800: hsl(86, 69%, 23%);
  --lookbook-color-lime-900: hsl(88, 61%, 20%);
  --lookbook-color-lime-950: hsl(87, 61%, 14%);

  --lookbook-color-green-50: hsl(139, 77%, 97%);
  --lookbook-color-green-100: hsl(141, 84%, 93%);
  --lookbook-color-green-200: hsl(141, 79%, 85%);
  --lookbook-color-green-300: hsl(142, 77%, 73%);
  --lookbook-color-green-400: hsl(142, 69%, 58%);
  --lookbook-color-green-500: hsl(142, 71%, 45%);
  --lookbook-color-green-600: hsl(142, 76%, 36%);
  --lookbook-color-green-700: hsl(142, 72%, 29%);
  --lookbook-color-green-800: hsl(143, 64%, 24%);
  --lookbook-color-green-900: hsl(144, 61%, 20%);
  --lookbook-color-green-950: hsl(144, 61%, 12%);

  --lookbook-color-emerald-50: hsl(152, 81%, 96%);
  --lookbook-color-emerald-100: hsl(149, 80%, 90%);
  --lookbook-color-emerald-200: hsl(152, 76%, 80%);
  --lookbook-color-emerald-300: hsl(156, 72%, 67%);
  --lookbook-color-emerald-400: hsl(158, 64%, 52%);
  --lookbook-color-emerald-500: hsl(160, 84%, 39%);
  --lookbook-color-emerald-600: hsl(161, 94%, 30%);
  --lookbook-color-emerald-700: hsl(163, 94%, 24%);
  --lookbook-color-emerald-800: hsl(163, 88%, 20%);
  --lookbook-color-emerald-900: hsl(164, 86%, 17%);
  --lookbook-color-emerald-950: hsl(164, 88%, 9%);

  --lookbook-color-teal-50: hsl(166, 77%, 97%);
  --lookbook-color-teal-100: hsl(167, 86%, 89%);
  --lookbook-color-teal-200: hsl(168, 84%, 78%);
  --lookbook-color-teal-300: hsl(171, 77%, 64%);
  --lookbook-color-teal-400: hsl(173, 66%, 50%);
  --lookbook-color-teal-500: hsl(173, 80%, 40%);
  --lookbook-color-teal-600: hsl(175, 84%, 32%);
  --lookbook-color-teal-700: hsl(175, 77%, 26%);
  --lookbook-color-teal-800: hsl(176, 69%, 22%);
  --lookbook-color-teal-900: hsl(176, 61%, 19%);
  --lookbook-color-teal-950: hsl(177, 59%, 11%);

  --lookbook-color-cyan-50: hsl(183, 100%, 96%);
  --lookbook-color-cyan-100: hsl(185, 96%, 90%);
  --lookbook-color-cyan-200: hsl(186, 94%, 82%);
  --lookbook-color-cyan-300: hsl(187, 92%, 69%);
  --lookbook-color-cyan-400: hsl(188, 86%, 53%);
  --lookbook-color-cyan-500: hsl(189, 95%, 43%);
  --lookbook-color-cyan-600: hsl(192, 91%, 37%);
  --lookbook-color-cyan-700: hsl(193, 82%, 31%);
  --lookbook-color-cyan-800: hsl(194, 70%, 27%);
  --lookbook-color-cyan-900: hsl(196, 64%, 24%);
  --lookbook-color-cyan-950: hsl(197, 61%, 16%);

  --lookbook-color-sky-50: hsl(204, 100%, 97%);
  --lookbook-color-sky-100: hsl(204, 94%, 94%);
  --lookbook-color-sky-200: hsl(201, 94%, 86%);
  --lookbook-color-sky-300: hsl(199, 96%, 74%);
  --lookbook-color-sky-400: hsl(198, 93%, 60%);
  --lookbook-color-sky-500: hsl(199, 89%, 48%);
  --lookbook-color-sky-600: hsl(200, 98%, 39%);
  --lookbook-color-sky-700: hsl(201, 96%, 32%);
  --lookbook-color-sky-800: hsl(201, 90%, 28%);
  --lookbook-color-sky-900: hsl(202, 80%, 24%);
  --lookbook-color-sky-950: hsl(202, 74%, 17%);

  --lookbook-color-blue-50: hsl(214, 100%, 97%);
  --lookbook-color-blue-100: hsl(214, 95%, 93%);
  --lookbook-color-blue-200: hsl(213, 97%, 87%);
  --lookbook-color-blue-300: hsl(212, 96%, 78%);
  --lookbook-color-blue-400: hsl(213, 94%, 68%);
  --lookbook-color-blue-500: hsl(217, 91%, 60%);
  --lookbook-color-blue-600: hsl(221, 83%, 53%);
  --lookbook-color-blue-700: hsl(224, 76%, 48%);
  --lookbook-color-blue-800: hsl(226, 71%, 40%);
  --lookbook-color-blue-900: hsl(224, 64%, 33%);
  --lookbook-color-blue-950: hsl(226, 55%, 18%);

  --lookbook-color-indigo-50: hsl(226, 100%, 97%);
  --lookbook-color-indigo-100: hsl(227, 100%, 94%);
  --lookbook-color-indigo-200: hsl(228, 97%, 89%);
  --lookbook-color-indigo-300: hsl(230, 94%, 82%);
  --lookbook-color-indigo-400: hsl(235, 90%, 74%);
  --lookbook-color-indigo-500: hsl(239, 84%, 67%);
  --lookbook-color-indigo-600: hsl(243, 75%, 59%);
  --lookbook-color-indigo-700: hsl(245, 58%, 51%);
  --lookbook-color-indigo-800: hsl(244, 55%, 41%);
  --lookbook-color-indigo-900: hsl(242, 47%, 34%);
  --lookbook-color-indigo-950: hsl(244, 44%, 23%);

  --lookbook-color-violet-50: hsl(250, 100%, 98%);
  --lookbook-color-violet-100: hsl(251, 91%, 96%);
  --lookbook-color-violet-200: hsl(251, 95%, 92%);
  --lookbook-color-violet-300: hsl(253, 95%, 85%);
  --lookbook-color-violet-400: hsl(255, 92%, 76%);
  --lookbook-color-violet-500: hsl(258, 90%, 66%);
  --lookbook-color-violet-600: hsl(262, 83%, 58%);
  --lookbook-color-violet-700: hsl(263, 70%, 50%);
  --lookbook-color-violet-800: hsl(263, 69%, 42%);
  --lookbook-color-violet-900: hsl(264, 67%, 35%);
  --lookbook-color-violet-950: hsl(265, 62%, 21%);

  --lookbook-color-purple-50: hsl(270, 100%, 98%);
  --lookbook-color-purple-100: hsl(269, 100%, 96%);
  --lookbook-color-purple-200: hsl(269, 100%, 92%);
  --lookbook-color-purple-300: hsl(269, 97%, 85%);
  --lookbook-color-purple-400: hsl(270, 95%, 75%);
  --lookbook-color-purple-500: hsl(271, 91%, 65%);
  --lookbook-color-purple-600: hsl(272, 81%, 56%);
  --lookbook-color-purple-700: hsl(272, 72%, 47%);
  --lookbook-color-purple-800: hsl(273, 67%, 39%);
  --lookbook-color-purple-900: hsl(274, 66%, 32%);
  --lookbook-color-purple-950: hsl(276, 60%, 17%);

  --lookbook-color-fuchsia-50: hsl(289, 100%, 98%);
  --lookbook-color-fuchsia-100: hsl(287, 100%, 96%);
  --lookbook-color-fuchsia-200: hsl(288, 96%, 91%);
  --lookbook-color-fuchsia-300: hsl(291, 93%, 83%);
  --lookbook-color-fuchsia-400: hsl(292, 91%, 73%);
  --lookbook-color-fuchsia-500: hsl(292, 84%, 61%);
  --lookbook-color-fuchsia-600: hsl(293, 70%, 49%);
  --lookbook-color-fuchsia-700: hsl(295, 72%, 40%);
  --lookbook-color-fuchsia-800: hsl(295, 70%, 33%);
  --lookbook-color-fuchsia-900: hsl(297, 64%, 28%);
  --lookbook-color-fuchsia-950: hsl(297, 57%, 15%);

  --lookbook-color-pink-50: hsl(327, 73%, 97%);
  --lookbook-color-pink-100: hsl(326, 78%, 95%);
  --lookbook-color-pink-200: hsl(326, 85%, 90%);
  --lookbook-color-pink-300: hsl(327, 87%, 82%);
  --lookbook-color-pink-400: hsl(329, 86%, 70%);
  --lookbook-color-pink-500: hsl(330, 81%, 60%);
  --lookbook-color-pink-600: hsl(333, 71%, 51%);
  --lookbook-color-pink-700: hsl(335, 78%, 42%);
  --lookbook-color-pink-800: hsl(336, 74%, 35%);
  --lookbook-color-pink-900: hsl(336, 69%, 30%);
  --lookbook-color-pink-950: hsl(336, 65%, 16%);

  --lookbook-color-rose-50: hsl(356, 100%, 97%);
  --lookbook-color-rose-100: hsl(356, 100%, 95%);
  --lookbook-color-rose-200: hsl(353, 96%, 90%);
  --lookbook-color-rose-300: hsl(353, 96%, 82%);
  --lookbook-color-rose-400: hsl(351, 95%, 71%);
  --lookbook-color-rose-500: hsl(350, 89%, 60%);
  --lookbook-color-rose-600: hsl(347, 77%, 50%);
  --lookbook-color-rose-700: hsl(345, 83%, 41%);
  --lookbook-color-rose-800: hsl(343, 80%, 35%);
  --lookbook-color-rose-900: hsl(342, 76%, 30%);
  --lookbook-color-rose-950: hsl(341, 70%, 17%);
}

:root,
:host,
.lookbook-theme-light {
  --csstools-color-scheme--light: initial;
  --csstools-color-scheme--dark:  ;
  color-scheme: light;

  --lookbook-color-accent-50: var(--lookbook-color-indigo-50);
  --lookbook-color-accent-100: var(--lookbook-color-indigo-100);
  --lookbook-color-accent-200: var(--lookbook-color-indigo-200);
  --lookbook-color-accent-300: var(--lookbook-color-indigo-300);
  --lookbook-color-accent-400: var(--lookbook-color-indigo-400);
  --lookbook-color-accent-500: var(--lookbook-color-indigo-500);
  --lookbook-color-accent-600: var(--lookbook-color-indigo-600);
  --lookbook-color-accent-700: var(--lookbook-color-indigo-700);
  --lookbook-color-accent-800: var(--lookbook-color-indigo-800);
  --lookbook-color-accent-900: var(--lookbook-color-indigo-900);
  --lookbook-color-accent-950: var(--lookbook-color-indigo-950);

  --lookbook-color-base-0: #fff;
  --lookbook-color-base-50: var(--lookbook-color-gray-50);
  --lookbook-color-base-100: var(--lookbook-color-gray-100);
  --lookbook-color-base-200: var(--lookbook-color-gray-200);
  --lookbook-color-base-300: var(--lookbook-color-gray-300);
  --lookbook-color-base-400: var(--lookbook-color-gray-400);
  --lookbook-color-base-500: var(--lookbook-color-gray-500);
  --lookbook-color-base-600: var(--lookbook-color-gray-600);
  --lookbook-color-base-700: var(--lookbook-color-gray-700);
  --lookbook-color-base-800: var(--lookbook-color-gray-800);
  --lookbook-color-base-900: var(--lookbook-color-gray-900);
  --lookbook-color-base-950: var(--lookbook-color-gray-950);

  /* Success */
  --lookbook-color-success-50: var(--lookbook-color-green-50);
  --lookbook-color-success-100: var(--lookbook-color-green-100);
  --lookbook-color-success-200: var(--lookbook-color-green-200);
  --lookbook-color-success-300: var(--lookbook-color-green-300);
  --lookbook-color-success-400: var(--lookbook-color-green-400);
  --lookbook-color-success-500: var(--lookbook-color-green-500);
  --lookbook-color-success-600: var(--lookbook-color-green-600);
  --lookbook-color-success-700: var(--lookbook-color-green-700);
  --lookbook-color-success-800: var(--lookbook-color-green-800);
  --lookbook-color-success-900: var(--lookbook-color-green-900);
  --lookbook-color-success-950: var(--lookbook-color-green-950);

  /* Warning */
  --lookbook-color-warning-50: var(--lookbook-color-amber-50);
  --lookbook-color-warning-100: var(--lookbook-color-amber-100);
  --lookbook-color-warning-200: var(--lookbook-color-amber-200);
  --lookbook-color-warning-300: var(--lookbook-color-amber-300);
  --lookbook-color-warning-400: var(--lookbook-color-amber-400);
  --lookbook-color-warning-500: var(--lookbook-color-amber-500);
  --lookbook-color-warning-600: var(--lookbook-color-amber-600);
  --lookbook-color-warning-700: var(--lookbook-color-amber-700);
  --lookbook-color-warning-800: var(--lookbook-color-amber-800);
  --lookbook-color-warning-900: var(--lookbook-color-amber-900);
  --lookbook-color-warning-950: var(--lookbook-color-amber-950);

  /* Danger */
  --lookbook-color-danger-50: var(--lookbook-color-red-50);
  --lookbook-color-danger-100: var(--lookbook-color-red-100);
  --lookbook-color-danger-200: var(--lookbook-color-red-200);
  --lookbook-color-danger-300: var(--lookbook-color-red-300);
  --lookbook-color-danger-400: var(--lookbook-color-red-400);
  --lookbook-color-danger-500: var(--lookbook-color-red-500);
  --lookbook-color-danger-600: var(--lookbook-color-red-600);
  --lookbook-color-danger-700: var(--lookbook-color-red-700);
  --lookbook-color-danger-800: var(--lookbook-color-red-800);
  --lookbook-color-danger-900: var(--lookbook-color-red-900);
  --lookbook-color-danger-950: var(--lookbook-color-red-950);

  --lookbook-divider-color: var(--lookbook-color-base-300);

  /*
   * Spacings
   */

  --lookbook-spacing-3x-small: 0.125rem; /* 2px */
  --lookbook-spacing-2x-small: 0.25rem; /* 4px */
  --lookbook-spacing-x-small: 0.5rem; /* 8px */
  --lookbook-spacing-small: 0.75rem; /* 12px */
  --lookbook-spacing-medium: 1rem; /* 16px */
  --lookbook-spacing-large: 1.25rem; /* 20px */
  --lookbook-spacing-x-large: 1.75rem; /* 28px */
  --lookbook-spacing-2x-large: 2.25rem; /* 36px */
  --lookbook-spacing-3x-large: 3rem; /* 48px */
  --lookbook-spacing-4x-large: 4.5rem; /* 72px */

  --lookbook-size-3x-small: 0.125rem; /* 2px */
  --lookbook-size-2x-small: 0.25rem; /* 4px */
  --lookbook-size-x-small: 0.5rem; /* 8px */
  --lookbook-size-small: 0.75rem; /* 12px */
  --lookbook-size-medium: 1rem; /* 16px */
  --lookbook-size-large: 1.25rem; /* 20px */
  --lookbook-size-x-large: 1.75rem; /* 28px */
  --lookbook-size-2x-large: 2.25rem; /* 36px */
  --lookbook-size-3x-large: 3rem; /* 48px */
  --lookbook-size-4x-large: 4.5rem; /* 72px */

  /*
   * Typography
   */

  /* Fonts */
  --lookbook-font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  --lookbook-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  /* Font sizes */
  --lookbook-font-size-2x-small: 0.625rem; /* 10px */
  --lookbook-font-size-x-small: 0.75rem; /* 12px */
  --lookbook-font-size-small: 0.875rem; /* 14px */
  --lookbook-font-size-medium: 1rem; /* 16px */
  --lookbook-font-size-large: 1.25rem; /* 20px */
  --lookbook-font-size-x-large: 1.5rem; /* 24px */
  --lookbook-font-size-2x-large: 2.25rem; /* 36px */
  --lookbook-font-size-3x-large: 3rem; /* 48px */
  --lookbook-font-size-4x-large: 4.5rem; /* 72px */

  /* Font weights */
  --lookbook-font-weight-light: 300;
  --lookbook-font-weight-normal: 400;
  --lookbook-font-weight-semibold: 500;
  --lookbook-font-weight-bold: 700;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-family: var(--lookbook-font-sans);
  font-size: 1rem;
  font-size: var(--lookbook-font-size-medium);
  color: var(--lookbook-color-neutral-900);
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-size: var(--lookbook-font-size-medium);
}

code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-family: var(--lookbook-font-mono);
}

router {
  display: contents;
}

[x-cloak] {
  display: none !important;
}

table {
  background: #fff;
  background: var(--lookbook-color-base-0);
  border: 1px solid hsl(240, 5%, 84%);
  border: 1px solid var(--lookbook-color-base-300);
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-left: var(--lookbook-spacing-medium);
  padding-right: var(--lookbook-spacing-medium);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-top: var(--lookbook-spacing-small);
  padding-bottom: var(--lookbook-spacing-small);
  width: 1%;
}

thead tr,
tr:not(:last-child) {
  border-bottom: 1px solid hsl(240, 5%, 84%);
  border-bottom: 1px solid var(--lookbook-color-base-300);
}

.tippy-box[data-animation=fade][data-state=hidden]{opacity:0}

[data-tippy-root]{max-width:calc(100vw - 10px)}

.tippy-box{position:relative;background-color:#333;color:#fff;border-radius:4px;font-size:14px;line-height:1.4;white-space:normal;outline:0;transition-property:transform,visibility,opacity}

.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}

.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:currentcolor;border-top-color:initial;transform-origin:center top}

.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:currentcolor;border-bottom-color:initial;transform-origin:center bottom}

.tippy-box[data-placement^=left]>.tippy-arrow{right:0}

.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:currentcolor;border-left-color:initial;right:-7px;transform-origin:center left}

.tippy-box[data-placement^=right]>.tippy-arrow{left:0}

.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:currentcolor;border-right-color:initial;transform-origin:center right}

.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}

.tippy-arrow{width:16px;height:16px;color:#333}

.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}

.tippy-content{position:relative;padding:5px 9px;z-index:1}

[data-component="code"] {
  display: block;

  height: 100%;
  width: 100%;
  overflow: hidden;
}

[data-component="code"] .code-raw {
    display: none;
  }

[data-component="code"] .code-highlighted {
    height: 100%;
  }

[data-component="code"] .code-highlighted code,
    [data-component="code"] .code-highlighted pre {
      display: block;
      height: 100%;
      width: 100%;
    }

[data-component="code"] .code-highlighted code:focus-visible, [data-component="code"] .code-highlighted pre:focus-visible {
        outline: 0;
      }

[data-component="code"] .code-highlighted pre > code {
      font-size: 0.875rem;
      font-size: var(--lookbook-font-size-small);
      line-height: 1.5;
      padding-left: 0.75rem !important;
      padding-right: 0.75rem !important;
      padding-left: var(--lookbook-spacing-small) !important;
      padding-right: var(--lookbook-spacing-small) !important;
      padding-top: 0.75rem !important;
      padding-bottom: 0.75rem !important;
      padding-top: var(--lookbook-spacing-small) !important;
      padding-bottom: var(--lookbook-spacing-small) !important;
      overflow: auto;
    }

.wrap-lines[data-component="code"] .code-highlighted code {
    white-space: pre-wrap;
  }

[data-component="prose"] {
  color: hsl(240, 6%, 10%);
  color: var(--lookbook-color-base-900);
  font-size: 1rem;
  line-height: 1.75;
}

[data-component="prose"] [class~="lead"] {
    color: hsl(240, 6%, 10%);
    color: var(--lookbook-color-base-900);
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

[data-component="prose"] a {
    position: relative;
  }

[data-component="prose"] strong {
    font-weight: 600;
  }

[data-component="prose"] ol {
    counter-reset: list-counter;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

[data-component="prose"] ol > li {
    position: relative;
    counter-increment: list-counter;
    padding-left: 1.75em;
  }

[data-component="prose"] ol > li::before {
    content: counter(list-counter) ".";
    position: absolute;
    font-weight: 400;
    color: hsl(240, 5%, 34%);
    color: var(--lookbook-color-base-600);
  }

[data-component="prose"] ul > li {
    position: relative;
    padding-left: 1.75em;
  }

[data-component="prose"] ul > li::before {
    content: "";
    position: absolute;
    background-color: hsl(240, 5%, 65%);
    background-color: var(--lookbook-color-base-400);
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: 0.25em;
  }

[data-component="prose"] hr {
    border-color: hsl(240, 5%, 84%);
    border-color: var(--lookbook-divider-color);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }

[data-component="prose"] blockquote {
    font-weight: 500;
    font-style: italic;
    color: #1a202c;
    border-left-width: 0.25rem;
    border-left-color: hsl(240, 5%, 84%);
    border-left-color: var(--lookbook-divider-color);
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
  }

[data-component="prose"] blockquote p:first-of-type::before {
    content: open-quote;
  }

[data-component="prose"] blockquote p:last-of-type::after {
    content: close-quote;
  }

[data-component="prose"] h1,
  [data-component="prose"] h2,
  [data-component="prose"] h3,
  [data-component="prose"] h4 {
    line-height: var(--lookbook-line-height-dense);
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

[data-component="prose"] h1 {
    font-weight: 700;
    font-weight: var(--lookbook-font-weight-bold);
    font-size: 2.25rem;
    font-size: var(--lookbook-font-size-2x-large);
  }

[data-component="prose"] h2 {
    font-weight: 700;
    font-weight: var(--lookbook-font-weight-bold);
    font-size: 1.5rem;
    font-size: var(--lookbook-font-size-x-large);
  }

[data-component="prose"] h3 {
    font-weight: 700;
    font-weight: var(--lookbook-font-weight-bold);
    font-size: 1.25rem;
    font-size: var(--lookbook-font-size-large);
  }

[data-component="prose"] h4 {
    font-weight: 700;
    font-weight: var(--lookbook-font-weight-bold);
    font-size: 1rem;
    font-size: var(--lookbook-font-size-medium);
  }

[data-component="prose"] figure figcaption {
    color: hsl(240, 5%, 34%);
    color: var(--lookbook-color-base-600);
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
  }

[data-component="prose"] code:not(pre code) {
    font-size: 0.8em;
    display: inline-block;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
    font-family: var(--lookbook-font-mono);
    background-color: hsl(240, 5%, 96%);
    background-color: var(--lookbook-color-base-100);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-left: var(--lookbook-spacing-2x-small);
    padding-right: var(--lookbook-spacing-2x-small);
    border-radius: var(--lookbook-border-radius-small);
    color: var(--lookbook-color-primary-900);
  }

/* 

  code::before {
    content: "`";
  }

  code::after {
    content: "`";
  }

  pre {
    color: var(--lookbook-color-base-300);
    background-color: var(--lookbook-color-base-800);
    overflow-x: auto;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding-top: 0.8571429em;
    padding-right: 1.1428571em;
    padding-bottom: 0.8571429em;
    padding-left: 1.1428571em;
  }

  pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 400;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  pre code::before {
    content: "";
  }

  pre code::after {
    content: "";
  } */

[data-component="prose"] table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
  }

[data-component="prose"] thead {
    color: #1a202c;
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-color: hsl(240, 5%, 84%);
    border-bottom-color: var(--lookbook-divider-color);
  }

[data-component="prose"] thead th {
    vertical-align: bottom;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

[data-component="prose"] tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: hsl(240, 5%, 84%);
    border-bottom-color: var(--lookbook-divider-color);
  }

[data-component="prose"] tbody tr:last-child {
    border-bottom-width: 0;
  }

[data-component="prose"] tbody td {
    vertical-align: top;
    padding-top: 0.5714286em;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

[data-component="prose"] p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

[data-component="prose"] img {
    margin-top: 2em;
    margin-bottom: 2em;
  }

[data-component="prose"] video {
    margin-top: 2em;
    margin-bottom: 2em;
  }

[data-component="prose"] figure {
    margin-top: 2em;
    margin-bottom: 2em;
  }

[data-component="prose"] figure > * {
    margin-top: 0;
    margin-bottom: 0;
  }

[data-component="prose"] lookbook-embed {
    margin-top: 2em;
    margin-bottom: 2em;
  }

[data-component="prose"] h2 code {
    font-size: 0.875em;
  }

[data-component="prose"] h3 code {
    font-size: 0.9em;
  }

[data-component="prose"] ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

[data-component="prose"] li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

[data-component="prose"] ol > li:before {
    left: 0;
  }

[data-component="prose"] > ul > li p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

[data-component="prose"] > ul > li > *:first-child {
    margin-top: 1.25em;
  }

[data-component="prose"] > ul > li > *:last-child {
    margin-bottom: 1.25em;
  }

[data-component="prose"] > ol > li > *:first-child {
    margin-top: 1.25em;
  }

[data-component="prose"] > ol > li > *:last-child {
    margin-bottom: 1.25em;
  }

[data-component="prose"] ul ul,
  [data-component="prose"] ul ol,
  [data-component="prose"] ol ul,
  [data-component="prose"] ol ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

[data-component="prose"] hr + * {
    margin-top: 0;
  }

[data-component="prose"] h2 + * {
    margin-top: 0;
  }

[data-component="prose"] h3 + * {
    margin-top: 0;
  }

[data-component="prose"] h4 + * {
    margin-top: 0;
  }

[data-component="prose"] thead th:first-child {
    padding-left: 0;
  }

[data-component="prose"] thead th:last-child {
    padding-right: 0;
  }

[data-component="prose"] tbody td:first-child {
    padding-left: 0;
  }

[data-component="prose"] tbody td:last-child {
    padding-right: 0;
  }

[data-component="prose"] > :first-child {
    margin-top: 0;
  }

[data-component="prose"] > :last-child {
    margin-bottom: 0;
  }

[data-component="prose"] [data-component="code"] {
    background-color: hsl(0, 0%, 98%);
    background-color: var(--lookbook-color-base-50);
    border: 1px solid hsl(240, 5%, 84%);
    border: 1px solid var(--lookbook-color-base-300);
    border-radius: var(--lookbook-border-radius-small);
  }

[data-component="page"] .page-slat {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-left: var(--lookbook-spacing-x-large);
    padding-right: var(--lookbook-spacing-x-large);
  }

[data-component="page"] .page-header {
    border-bottom: 1px solid hsl(240, 5%, 84%);
    border-bottom: 1px solid var(--lookbook-color-base-300);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-top: var(--lookbook-spacing-x-large);
    padding-bottom: var(--lookbook-spacing-x-large);
  }

[data-component="page"] .page-title {
    font-weight: 700;
    font-weight: var(--lookbook-font-weight-bold);
    font-size: 2.25rem;
    font-size: var(--lookbook-font-size-2x-large);
  }

[data-component="page"] .page-body {
    padding-top: 2.25rem;
    padding-top: var(--lookbook-spacing-2x-large);
    padding-bottom: 3rem;
    padding-bottom: var(--lookbook-spacing-3x-large);
  }

[data-component="page"] .page-footer {
    border-top: 1px solid hsl(240, 5%, 84%);
    border-top: 1px solid var(--lookbook-color-base-300);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-top: var(--lookbook-spacing-x-large);
    padding-bottom: var(--lookbook-spacing-x-large);
  }
