:root,
:root[data-theme="light"] {
  --csstools-color-scheme--light: initial;
  --csstools-color-scheme--dark:  ;
  color-scheme: light;

  /*
   * Colour scheme
   */

  --lb-color-accent-50: var(--lb-color-indigo-50);
  --lb-color-accent-100: var(--lb-color-indigo-100);
  --lb-color-accent-200: var(--lb-color-indigo-200);
  --lb-color-accent-300: var(--lb-color-indigo-300);
  --lb-color-accent-400: var(--lb-color-indigo-400);
  --lb-color-accent-500: var(--lb-color-indigo-500);
  --lb-color-accent-600: var(--lb-color-indigo-600);
  --lb-color-accent-700: var(--lb-color-indigo-700);
  --lb-color-accent-800: var(--lb-color-indigo-800);
  --lb-color-accent-900: var(--lb-color-indigo-900);
  --lb-color-accent-950: var(--lb-color-indigo-950);

  --lb-color-base-50: var(--lb-color-gray-50);
  --lb-color-base-100: var(--lb-color-gray-100);
  --lb-color-base-200: var(--lb-color-gray-200);
  --lb-color-base-300: var(--lb-color-gray-300);
  --lb-color-base-400: var(--lb-color-gray-400);
  --lb-color-base-500: var(--lb-color-gray-500);
  --lb-color-base-600: var(--lb-color-gray-600);
  --lb-color-base-700: var(--lb-color-gray-700);
  --lb-color-base-800: var(--lb-color-gray-800);
  --lb-color-base-900: var(--lb-color-gray-900);
  --lb-color-base-950: var(--lb-color-gray-950);

  /*
   * App
   */

  --lb-app-color: var(--lb-color-base-900);
  --lb-app-divider-color: var(--lb-color-base-300);
  --lb-app-outline-color-focus: var(--lb-color-accent-200);

  /*
   * Dropdowns
   */

  --lb-dropdown-color: var(--lb-app-color);
  --lb-dropdown-background-color: var(--lb-color-white);
  --lb-dropdown-border-color: var(--lb-app-divider-color);

  /*
   * Inputs
   */

  --lb-input-color: var(--lb-app-color);
  --lb-input-background-color: var(--lb-color-white);
  --lb-input-border-color: var(--lb-color-base-300);
  --lb-input-outline-color-focus: var(--lb-color-accent-500);
  --lb-input-placeholder-color: var(--lb-color-base-400);

  --lb-checkbox-color: var(--lb-color-accent-700);
  --lb-checkbox-background-color: var(--lb-color-white);
  --lb-checkbox-border-color: var(--lb-color-base-400);
  --lb-checkbox-outline-color-focus: var(--lb-color-accent-500);

  /*
   * Header
   */

  --lb-header-color: var(--lb-color-white);
  --lb-header-background-color: var(--lb-color-accent-600);

  /*
   * Tables
   */

  --lb-table-color: var(--lb-color-base-900);
  --lb-table-border-color: var(--lb-app-divider-color);
  --lb-table-background-color: var(--lb-color-white);

  /*
   * Panes
   */

  --lb-pane-background-color: var(--lb-color-base-50);

  /*
   * Status bar
   */

  --lb-status-bar-color: var(--lb-base-600);
  --lb-status-bar-background-color: var(--lb-color-white);
  --lb-status-bar-action-color: var(--lb-color-accent-700);
  --lb-status-bar-item-color-positive: var(--lb-color-positive-700);
  --lb-status-bar-item-color-error: var(--lb-color-negative-600);
  --lb-status-bar-item-color-warning: var(--lb-color-warning-600);
  --lb-status-bar-item-color-info: var(--lb-color-info-600);
  --lb-status-bar-notifications-color: var(--lb-dropdown-color);
  --lb-status-bar-notifications-background-color: var(
    --lb-dropdown-background-color
  );

  /*
   * System message
   */

  --lb-system-message-color: var(--lb-color-base-500);
  --lb-system-message-background-color: var(--lb-color-white);
  --lb-system-message-border-color: var(--lb-app-divider-color);
  --lb-system-message-title-color: var(--lb-color-base-900);
  --lb-system-message-icon-color: var(--lb-color-base-300);

  --lb-system-message-title-color-error: var(--lb-color-negative-600);
  --lb-system-message-border-color-error: var(--lb-color-negative-200);
  --lb-system-message-icon-color-error: var(--lb-color-negative-300);

  /*
   * Breadcrumbs
   */

  --lb-breadrumbs-color: var(--lb-color-base-400);
  --lb-breadrumbs-color-current: var(--lb-color-base-600);
  --lb-breadrumbs-link-color: var(--lb-color-base-400);
  --lb-breadrumbs-link-color-hover: var(--lb-color-accent-600);

  /*
   * Buttons
   */

  --lb-button-color: var(--lb-color-base-500);
  --lb-button-color-hover: var(--lb-color-base-700);
  --lb-button-color-active: var(--lb-color-accent-700);

  /*
   * Button groups
   */

  --lb-button-group-divider-color: var(--lb-app-divider-color);

  /*
   * Nav
   */

  --lb-nav-item-background-color: transparent;
  --lb-nav-item-border-color: transparent;
  --lb-nav-item-label-color: var(--lb-app-color);
  --lb-nav-item-icon-color: var(--lb-color-accent-700);
  --lb-nav-item-toggle-color: var(--lb-color-base-600);

  --lb-nav-item-background-color-selected: var(--lb-color-base-100);
  --lb-nav-item-border-color-selected: var(--lb-color-accent-500);
  --lb-nav-item-label-color-selected: var(--lb-app-color);

  --lb-nav-placeholder-color: var(--lb-color-base-500);
  --lb-nav-placeholder-border-color: var(--lb-app-divider-color);
  --lb-nav-placeholder-background-color: var(--lb-color-white);

  /*
   * Tabs
   */

  --lb-tab-color: var(--lb-color-base-800);
  --lb-tab-color-disabled: var(--lb-color-base-300);
  --lb-tab-color-selected: var(--lb-color-accent-500);
  --lb-tab-border-color-selected: var(--lb-color-accent-500);
  --lb-tab-panel-color: var(--lb-app-color);
  --lb-tab-panel-background-color: var(--lb-color-base-50);

  /*
   * Prose
   */

  --lb-prose-color: var(--lb-app-color);
  --lb-prose-list-counter-color: var(--lb-color-base-600);
  --lb-prose-list-marker-color: var(--lb-color-base-400);
  --lb-prose-hr-color: var(--lb-color-base-600);
  --lb-prose-blockquote-color: var(--lb-color-base-700);
  --lb-prose-blockquote-border-color: var(--lb-color-base-300);
  --lb-prose-figcaption-color: var(--lb-color-base-600);
  --lb-prose-inline-code-color: var(--lb-color-accent-900);
  --lb-prose-inline-code-background-color: var(--lb-color-base-100);
  --lb-prose-code-background-color: var(--lb-color---lb-color-base-800);
  --lb-prose-code-background-color: var(--lb-color-white);
  --lb-prose-code-border-color: var(--lb-color-base-300);

  /*
   * Toolbars
   */

  --lb-toolbar-color: var(--lb-app-color);
  --lb-toolbar-background-color: var(--lb-color-white);

  /*
   * Viewport
   */

  --lb-viewport-background-color: var(--lb-color-white);
  --lb-viewport-dimensions-background-color: var(--lb-color-base-200);
  --lb-viewport-handle-background-color: var(--lb-color-white);
  --lb-viewport-handle-icon-color: var(--lb-color-base-500);

  /*
   * Page
   */

  --lb-page-color: var(--lb-app-color);
  --lb-page-background-color: var(--lb-color-white);
  --lb-page-divider-color: var(--lb-app-divider-color);
  --lb-page-title-color: var(--lb-app-color);

  /*
   * Display options dropdown
   */

  --lb-display-options-color: var(--lb-dropdown-color);
  --lb-display-options-background-color: var(--lb-dropdown-background-color);
}
