<%
previews = Lookbook::Previews
pages = Lookbook::Pages
%>

<h1>Lookbook debug info</h1>

<section>
  <h2>Previews</h2>
  <table>
    <tbody>
      <tr>
        <td>Preview paths</td>
        <td><%= previews.preview_paths.join(", ") %></td>
      </tr>
    </tbody>
  </table>
</section>


<section>
  <h2>Pages</h2>
  <table>
    <tbody>
      <tr>
        <td>Page paths</td>
        <td><%= pages.page_paths.join(", ") %></td>
      </tr>
    </tbody>
  </table>
</section>
