[data-component="nav"] {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;

  &.with-filter {
    grid-template-rows: min-content 1fr;
  }

  .nav-filter {
    padding-block: var(--lb-spacing-x-small);
    padding-inline: var(--lb-spacing-small);
  }

  .nav-tree-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .nav-tree {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: var(--lb-spacing-medium);
  }

  &:not(.with-filter) .nav-tree {
    padding-top: var(--lb-spacing-x-small);
  }

  .nav-placeholder {
    font-size: var(--lb-font-size-small);
    background-color: var(--lb-nav-placeholder-background-color);
    color: var(--lb-nav-placeholder-color);
    padding: var(--lb-spacing-medium);
    border: 1px dashed var(--lb-nav-placeholder-border-color);
    margin: var(--lb-spacing-small);
  }
}
