[data-component="nav"] {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;

  &.with-filter {
    grid-template-rows: min-content 1fr;
  }

  .nav-filter {
    padding-block: var(--lookbook-spacing-x-small);
    padding-inline: var(--lookbook-spacing-small);
  }

  .nav-tree-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .nav-tree {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: var(--lookbook-spacing-medium);
  }

  &:not(.with-filter) .nav-tree {
    padding-top: var(--lookbook-spacing-x-small);
  }
}
