[data-component="prose"] {
  font-family: var(--lb-font-prose);
  color: var(--lb-prose-color);
  font-size: 1rem;
  line-height: 1.75;

  [class~="lead"] {
    color: var(--lb-prose-color);
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  a:not([data-component="prose"] [data-component] a) {
    position: relative;
    text-decoration: underline;
  }

  strong:not([data-component="prose"] [data-component] strong) {
    font-weight: 600;
  }

  ol:not([data-component="prose"] [data-component] ol) {
    counter-reset: list-counter;
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    > li {
      position: relative;
      counter-increment: list-counter;
      padding-left: 1.75em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    > li::before {
      left: 0;
      content: counter(list-counter) ".";
      position: absolute;
      font-weight: 400;
      color: var(--lb-prose-list-counter-color);
    }

    ol,
    ul {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }
  }

  ul:not([data-component="prose"] [data-component] ul) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    > li {
      position: relative;
      padding-left: 1.75em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    > li::before {
      content: "";
      position: absolute;
      background-color: var(--lb-prose-list-marker-color);
      border-radius: 50%;
      width: 0.375em;
      height: 0.375em;
      top: calc(0.875em - 0.1875em);
      left: 0.25em;
    }

    ol,
    ul {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }
  }

  hr:not([data-component="prose"] [data-component] hr) {
    border-color: var(--lb-prose-hr-color);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;

    & + * {
      margin-top: 0;
    }
  }

  blockquote:not([data-component="prose"] [data-component] blockquote) {
    font-weight: 500;
    font-style: italic;
    color: var(--lb-prose-blockquote-color);
    border-left-width: 0.25rem;
    border-left-color: var(--lb-prose-blockquote-border-color);
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;

    p:first-of-type::before {
      content: open-quote;
    }

    p:last-of-type::after {
      content: close-quote;
    }
  }

  h1:not([data-component="prose"] [data-component] h1),
  h2:not([data-component="prose"] [data-component] h2),
  h3:not([data-component="prose"] [data-component] h3),
  h4:not([data-component="prose"] [data-component] h4) {
    line-height: var(--lb-line-height-dense);
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  h1:not([data-component="prose"] [data-component] h1) {
    font-weight: 600;
    font-size: var(--lb-font-size-2xl);

    & + * {
      margin-top: 0;
    }
  }

  h2:not([data-component="prose"] [data-component] h2) {
    font-weight: 600;
    font-size: var(--lb-font-size-xl);

    code {
      font-size: 0.875em;
    }
  }

  h3:not([data-component="prose"] [data-component] h3) {
    font-weight: 600;
    font-size: var(--lb-font-size-lg);

    & + * {
      margin-top: 0;
    }

    code {
      font-size: 0.9em;
    }
  }

  h4:not([data-component="prose"] [data-component] h4) {
    font-weight: 600;
    font-size: 1.1em;

    & + * {
      margin-top: 0;
    }
  }

  figure:not([data-component="prose"] [data-component] figure) {
    figcaption {
      color: var(--lb-prose-figcaption-color);
      font-size: 0.875em;
      line-height: 1.4285714;
      margin-top: 0.8571429em;
    }
  }

  code:not([data-component="prose"] [data-component] code):not(pre code) {
    font-size: 0.9em;
    display: inline-block;
    font-family: var(--lb-font-mono);
    background-color: var(--lb-prose-inline-code-background-color);
    padding-inline: var(--lb-spacing-2xs);
    border-radius: var(--lb-border-radius-sm);
    color: var(--lb-prose-inline-code-color);
  }

  p:not([data-component="prose"] [data-component] p) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  img:not([data-component="prose"] [data-component] img) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  video:not([data-component="prose"] [data-component] video) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  figure:not([data-component="prose"] [data-component] figure) {
    margin-top: 2em;
    margin-bottom: 2em;

    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  table:not([data-component="prose"] [data-component] table) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  lookbook-embed {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  &:not([data-component="prose"] [data-component] &) > :first-child {
    margin-top: 0;
  }

  &:not([data-component="prose"] [data-component] &) > :last-child {
    margin-bottom: 0;
  }

  > [data-component] {
    margin-block: var(--lb-spacing-2xl);
  }

  [data-component="code"] {
    color: var(--lb-prose-code-color);
    background-color: var(--lb-prose-code-background-color);
    border: 1px solid var(--lb-prose-code-border-color);
    border-radius: var(--lb-border-radius-sm);
    margin-block: var(--lb-spacing-xl);
  }

  &[data-size="sm"],
  &[data-size="md"] {
    ol:not([data-component="prose"] [data-component] ol),
    ul:not([data-component="prose"] [data-component] ul) {
      margin-top: 1em;
      margin-bottom: 1em;

      li {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
      }
    }

    &:not([data-component="prose"] [data-component] &) > :first-child {
      margin-top: 0;
    }

    &:not([data-component="prose"] [data-component] &) > :last-child {
      margin-bottom: 0;
    }
  }
}
