[data-component="prose"] {
  font-family: var(--lb-font-prose);
  color: var(--lb-prose-color);
  font-size: 1rem;
  line-height: 1.75;

  [class~="lead"] {
    color: var(--lb-prose-color);
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  a {
    position: relative;
    text-decoration: underline;
  }

  strong {
    font-weight: 600;
  }

  ol {
    counter-reset: list-counter;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  ol > li {
    position: relative;
    counter-increment: list-counter;
    padding-left: 1.75em;
  }

  ol > li::before {
    content: counter(list-counter) ".";
    position: absolute;
    font-weight: 400;
    color: var(--lb-prose-list-counter-color);
  }

  ul > li {
    position: relative;
    padding-left: 1.75em;
  }

  ul > li::before {
    content: "";
    position: absolute;
    background-color: var(--lb-prose-list-marker-color);
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: 0.25em;
  }

  hr {
    border-color: var(--lb-prose-hr-color);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  blockquote {
    font-weight: 500;
    font-style: italic;
    color: var(--lb-prose-blockquote-color);
    border-left-width: 0.25rem;
    border-left-color: var(--lb-prose-blockquote-border-color);
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
  }

  blockquote p:first-of-type::before {
    content: open-quote;
  }

  blockquote p:last-of-type::after {
    content: close-quote;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: var(--lb-line-height-dense);
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  h1 {
    font-weight: 600;
    font-size: var(--lb-font-size-2x-large);
  }

  h2 {
    font-weight: 600;
    font-size: var(--lb-font-size-x-large);
  }

  h3 {
    font-weight: 600;
    font-size: var(--lb-font-size-large);
  }

  h4 {
    font-weight: 600;
    font-size: var(--lb-font-size-medium);
  }

  figure figcaption {
    color: var(--lb-prose-figcaption-color);
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
  }

  code:not(pre code) {
    font-size: 0.8em;
    display: inline-block;
    font-family: var(--lb-font-mono);
    background-color: var(--lb-prose-inline-code-background-color);
    padding-inline: var(--lb-spacing-2x-small);
    border-radius: var(--lb-border-radius-small);
    color: var(--lb-prose-inline-code-color);
  }

  table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
  }

  thead th {
    vertical-align: bottom;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

  tbody tr:last-child {
    border-bottom-width: 0;
  }

  tbody td {
    vertical-align: top;
    padding-top: 0.5714286em;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  img {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  video {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  figure {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  figure > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  lookbook-embed {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  h2 code {
    font-size: 0.875em;
  }

  h3 code {
    font-size: 0.9em;
  }

  ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ol > li:before {
    left: 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  hr + * {
    margin-top: 0;
  }

  h2 + * {
    margin-top: 0;
  }

  h3 + * {
    margin-top: 0;
  }

  h4 + * {
    margin-top: 0;
  }

  thead th:first-child {
    padding-left: 0;
  }

  thead th:last-child {
    padding-right: 0;
  }

  tbody td:first-child {
    padding-left: 0;
  }

  tbody td:last-child {
    padding-right: 0;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  [data-component="code"] {
    color: var(--lb-prose-code-color);
    background-color: var(--lb-prose-code-background-color);
    border: 1px solid var(--lb-prose-code-border-color);
    border-radius: var(--lb-border-radius-small);
    margin-block: var(--lb-spacing-x-large);
  }
}
