<%= render_component :button,
  name: "menu-button",
  **@button_attrs,
  x_data: alpine_component,
  "@keydown.esc.stop": "hideMenu" do %>
  <div class="hidden" x-ref="menu">
    <div class="bg-white divide-y divide-lookbook-divider text-left">
      <%== safe_join(sections) %>
    </div>
  </div>
<% end %>
