<%= render component_tag(button_tag,
  x: {
    data: "button",
    "@click": (click if click.present?),
    "show": (show if show.present?),
  },
  data: {
    size: size,
    tooltip: tooltip
  }
) do %>
  <div class="button-content" x-ref="content">
    <%= render Lookbook::UI::Icon.new(name: icon, class: "button-icon") %>
  </div>
<% end %>
