*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  text-size-adjust: none;
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  margin-bottom: 0.8em;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
