[data-component="nav-item"] {
  width: 100%;
  overflow: hidden;

  .nav-item-item {
    width: 100%;
    display: flex;
    align-items: center;
    border-left: 3px solid var(--lb-nav-item-border-color);
    cursor: pointer;
    bacground-color: var(--lb-nav-item-background-color);
  }

  .nav-item-indentation {
    width: var(--lb-spacing-medium);
    height: 100%;
    flex: none;
  }

  .nav-item-toggle {
    width: var(--lb-nav-item-height);
    flex: none;

    button {
      flex: none;
      width: var(--lb-nav-item-height);
      color: var(--lb-nav-item-toggle-color);
    }
  }

  .nav-item-label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--lb-nav-item-height);
    min-width: 0;
    font-size: var(--lb-font-size-small);
    color: var(--lb-nav-item-label-color);

    .icon {
      flex: none;
      margin-right: var(--lb-spacing-x-small);
      height: var(--lb-spacing-medium);
      color: var(--lb-nav-item-icon-color);
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      width: 100%;
      text-align: left;
      letter-spacing: 0.3px;
    }
  }

  &[aria-selected="true"] {
    > .nav-item-item {
      background-color: var(--lb-nav-item-background-color-selected);
      border-left-color: var(--lb-nav-item-border-color-selected);

      .nav-item-label {
        color: var(--lb-nav-item-label-color-selected);
      }

      .nav-item-label {
        font-weight: var(--lb-font-weight-semibold);
      }
    }
  }
}
