[data-component="nav-item"] {
  width: 100%;
  overflow: hidden;
  font-size: var(--lb-font-size-sm);

  .nav-item-item {
    width: 100%;
    display: flex;
    align-items: center;
    border-left: 3px solid var(--lb-nav-item-border-color);
    cursor: pointer;
    background-color: var(--lb-nav-item-background-color);
    padding-block: var(--lb-spacing-3xs);
  }

  .nav-item-indentation {
    width: var(--lb-spacing-md);
    height: 1.5rem;
    flex: none;
  }

  .nav-item-toggle {
    width: 1.5rem;
    flex: none;

    button {
      display: block;
      line-height: 0;
      padding: var(--lb-spacing-2xs);
      flex: none;
      color: var(--lb-nav-item-toggle-color);
    }
  }

  .nav-item-label {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0;
    font-size: var(--lb-font-size-sm);
    color: var(--lb-nav-item-label-color);

    .icon {
      flex: none;
      margin-right: var(--lb-spacing-xs);
      height: var(--lb-spacing-md);
      color: var(--lb-nav-item-icon-color);
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  .nav-item-item:hover {
    .nav-item-label {
      color: var(--lb-nav-item-label-color-hover);
    }
  }

  &[aria-selected="true"] {
    > .nav-item-item {
      background-color: var(--lb-nav-item-background-color-selected);
      border-left-color: var(--lb-nav-item-border-color-selected);

      .nav-item-label {
        color: var(--lb-nav-item-label-color-selected);
      }

      .nav-item-label {
        font-weight: var(--lb-font-weight-semibold);
      }
    }
  }
}
