[data-component="header"] {
  height: var(--lookbook-header-height);
  color: var(--lookbook-header-color);
  background-color: var(--lookbook-header-background-color);
  padding-inline: var(--lookbook-spacing-medium);
  padding-bottom: 4px;
  display: flex;
  align-items: center;

  .header-branding {
    display: flex;
    align-items: center;
    column-gap: var(--lookbook-spacing-small);
  }

  .header-project-logo {
    height: 18px;
    svg {
      height: 100%;
    }
  }

  .header-project-branding {
  }
}
