<%= render component_tag(x: {"data": "toolbar"}) do %>
  <% if title? %>
    <h3 class="toolbar-title">
      <%= title %>
    </h3>
  <% end %>

    <% if tabs? %>
    <nav role="tablist" class="toolbar-tabs" x-ref="tabs">
      <%= safe_join(tabs) %>
    </nav>
  <% end %>
  
  <% if actions? %>
    <sl-button-group>
      <%= safe_join(actions.reverse) %>
    </sl-button-group>  
  <% end %>
<% end %>
