[data-component="toolbar"] {
  background-color: white;
  height: var(--lookbook-toolbar-height);
  display: flex;
  align-items: center;
  padding-right: var(--sl-spacing-2x-small);
  padding-left: var(--sl-spacing-medium);
  border-bottom: 1px solid var(--lookbook-divider-color);

  .toolbar-title {
    display: flex;
    align-items: center;
    font-size: var(--sl-font-size-small);
    font-weight: 600;
  }

  .toolbar-tabs {
    display: flex;
    gap: var(--sl-spacing-small);
    height: var(--lookbook-toolbar-height);
  }

  .toolbar-title + .toolbar-tabs {
    margin-left: var(--sl-spacing-medium);
  }

  .toolbar-actions {
    margin-left: auto;

    [data-component="button"] {
      padding: 0.5rem;
      height: 2rem;
      width: 2rem;
    }
  }
}
