[data-component="app"] {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;

  &[data-status-bar="true"] {
    grid-template-rows: min-content 1fr min-content;
  }

  #app-header {
    height: var(--lookbook-toolbar-height);
    border-bottom: 1px solid var(--lookbook-divider-color);
    display: flex;
    align-items: center;
    padding-inline: var(--sl-spacing-large);

    a {
      text-decoration: none;
    }
  }

  #app-body {
    height: 100%;
  }

  #app-sidebar {
    background-color: var(--sl-color-neutral-50);
  }

  #app-status-bar {
    border-top: 1px solid var(--lookbook-divider-color);
  }
}
