<%= render Lookbook::DimensionsDisplay::Component.new target: "#box" %>

<div id="box" style="padding: 20px; border: 1px dashed #ccc; margin-top: 20px; resize: both; overflow: auto;">
  Displaying dimensions of this box. Try resizing it!
</div>