[data-component="panel"][data-panel="params"] {
  height: 100%;

  th,
  td {
    width: 1%;

    &.param-description {
      width: auto;
    }

    &.param-editor {
      width: 25%;
      max-width: 400px;
    }
  }

  code {
    font-size: var(--lookbook-font-size-small);
  }
}
