[data-component="panel"][data-panel="code"] {
  .code-panel-code {
    height: 100%;
    overflow: auto;
    [data-component="code"] {
      height: 100%;
    }
  }

  .code-panel-raw {
    display: none;
  }
}
