[data-component="panel"] {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--lookbook-color-base-50);

  .panel-content {
    z-index: 1;
    height: 100%;
    overflow: hidden;
  }

  &[data-padded="true"] {
    .panel-content {
      padding: var(--lookbook-spacing-medium);
    }
  }

  &[data-scrollable="true"] {
    .panel-content {
      overflow: auto;
    }
  }
}
