<%= render component_tag(:nav,
  key: id,
  class: {"with-filter": filter?},
  x: {
    "data": "navTree('#{id}')",
    "@lookbook:page-update.document": "selectCurrentPageItem(false)",
    "@lookbook:page-load.document": "selectCurrentPageItem(true)",
    "effect": "filter()"
  }) do %>
  
  <% if filter? %>
    <div class="nav-filter">
      <sl-input
        size="small"
        placeholder="Filter by name..."
        x-ref="filter"
        x-model="filterText"
        @sl-clear="clearFilter"
        @keydown.esc.stop="clearFilter"
        @keydown.stop
        clearable>
        <sl-icon slot="clear-icon" name="x"></sl-icon>
      </sl-input>
    </div>
  <% end %>
  
  <div class="nav-tree">
    <sl-tree x-ref="nav" selection="single" @sl-expand="itemExpanded" @sl-collapse="itemCollapsed">
      <% children.each do |node| %>
        <%= lookbook_nav_tree_item(node) %>
      <% end %>
    </sl-tree>
  </div>
<% end %>
