:host {
  --viewport-resize-handle-size: var(--lookbook-size-md);

  height: 100%;
  width: 100%;
  overflow: hidden;

  border: 1px solid var(--lookbook-divider-color);
  background-color: var(--lookbook-surface-1);
  border-radius: var(--lookbook-size-3xs);
}

#viewer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

:host([toolbar]) {
  #viewer {
    grid-template-rows: min-content 1fr;
  }
}

#window {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  background-color: var(--lookbook-surface-2);
  user-select: none;
  touch-action: none;
  position: relative;
}

#resizer {
  background-color: var(--lookbook-surface-1);
  outline: var(--lookbook-divider-width) solid var(--lookbook-divider-quiet);
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 24px -10px rgba(0, 0, 0, 0.2);
  border-end-end-radius: var(--lookbook-size-3xs);
  border-end-start-radius: var(--lookbook-size-3xs);
  overflow: hidden;

  &:hover {
    outline-style: solid;
  }
}

:host([active-mode="responsive"]) {
  #resizer {
    display: grid;
    grid-template-columns: 1fr var(--viewport-resize-handle-size);
    grid-template-rows: 1fr var(--viewport-resize-handle-size);
  }
}

#iframe {
  border: 0;
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.handle {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: var(--lookbook-surface-1);
  color: var(--lookbook-neutral-text-on-soft);
  overflow: hidden;

  transition: all 150ms ease-out;

  lb-icon {
    color: var(--lookbook-text-quiet);
  }
}

#x-handle {
  border-inline-start: var(--lookbook-divider-width) solid var(--lookbook-divider-quiet);
  width: var(--viewport-resize-handle-size);
  height: 100%;
  cursor: ew-resize;
  top: 0;
  bottom: 0;
  right: 0;

  lb-icon {
    width: var(--viewport-resize-handle-size);
  }

  #resizer:hover & {
    border-inline-start-style: solid;
  }
}

#y-handle {
  border-top: var(--lookbook-divider-width) solid var(--lookbook-divider-quiet);
  height: var(--viewport-resize-handle-size);
  width: 100%;
  cursor: ns-resize;
  bottom: 0;
  left: 0;
  right: 0;

  lb-icon {
    height: var(--viewport-resize-handle-size);
    position: relative;
    top: -1px;
  }

  #resizer:hover & {
    border-block-start-style: solid;
  }
}

#xy-handle {
  width: var(--viewport-resize-handle-size);
  height: var(--viewport-resize-handle-size);
  cursor: nwse-resize;
  bottom: 0;
  right: 0;

  lb-icon {
    width: calc(var(--viewport-resize-handle-size) * 0.9);
    position: relative;
    left: -1.5px;
    top: -1.5px;
    transform: rotate(-45deg);
  }
}

/* Viewport dimensions display */

#viewport-dimensions {
  display: flex;
  align-items: end;
  padding-block: var(--lookbook-size-xs);
  margin-inline-start: var(--lookbook-size-3xs);
  column-gap: var(--lookbook-size-3xs);
  font-family: var(--lookbook-font-family-code);
  font-size: var(--lookbook-font-size-sm);
  border-radius: var(--lookbook-size-3xs);
  position: relative;

  .dimension {
    display: flex;
    align-items: baseline;
    font-weight: var(--lookbook-font-weight-normal);
  }

  .times {
    font-size: var(--lookbook-font-size-md);
    line-height: 1;
    opacity: 0.6;
    font-weight: var(--lookbook-font-weight-normal);
  }

  abbr {
    font-size: 0.9em;
  }
}

#preview-width,
#preview-height {
  width: 5ch;
  font-family: var(--lookbook-font-family-code);
}

#preview-width {
  &::part(text-box) {
    text-align: end;
  }
}
