[data-component="badge"] {
  display: inline-flex;
  align-items: center;
  border-radius: var(--lb-border-radius-lg);
  font-size: 12px;

  .badge-label {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  &[data-style="full"] {
    padding-inline: var(--lb-spacing-sm);
    padding-block: var(--lb-spacing-2xs);
  }

  &[data-style="indicator"] {
    height: 12px;
    width: 12px;
    .badge-label {
      display: none;
    }
  }
}
