[data-component="code"] {
  display: block;

  height: 100%;
  width: 100%;
  overflow: hidden;

  .code-raw {
    display: none;
  }

  .code-highlighted {
    height: 100%;

    code,
    pre {
      display: block;
      height: 100%;
      width: 100%;

      &:focus-visible {
        outline: 0;
      }
    }

    pre > code {
      font-size: var(--lb-font-size-sm);
      line-height: 1.5;
      padding-inline: var(--lb-spacing-sm) !important;
      padding-block: var(--lb-spacing-sm) !important;
      overflow: auto;
    }
  }

  &.wrap-lines .code-highlighted code {
    white-space: pre-wrap;
  }
}
