:root {
  --lookbook-white: #fff;
  --lookbook-accent-50: #eef2ff;
  --lookbook-accent-100: #e0e7ff;
  --lookbook-accent-200: #c7d2fe;
  --lookbook-accent-300: #a5b4fc;
  --lookbook-accent-400: #818cf8;
  --lookbook-accent-500: #6366f1;
  --lookbook-accent-600: #4f46e5;
  --lookbook-accent-700: #4338ca;
  --lookbook-accent-800: #3730a3;
  --lookbook-accent-900: #312e81;
  --lookbook-base-50: #fafafa;
  --lookbook-base-100: #f4f4f5;
  --lookbook-base-200: #e4e4e7;
  --lookbook-base-300: #d4d4d8;
  --lookbook-base-400: #a1a1aa;
  --lookbook-base-500: #71717a;
  --lookbook-base-600: #52525b;
  --lookbook-base-700: #3f3f46;
  --lookbook-base-800: #27272a;
  --lookbook-base-900: #18181b;
  --lookbook-text: var(--lookbook-base-800);
  --lookbook-divider: var(--lookbook-base-300);
  --lookbook-draggable-hint: #e0e7ff33;
  --lookbook-icon-button-stroke: var(--lookbook-base-400);
  --lookbook-icon-button-stroke-hover: var(--lookbook-accent-600);
  --lookbook-button-bg: var(--lookbook-accent-500);
  --lookbook-button-bg-hover: var(--lookbook-accent-600);
  --lookbook-button-text: var(--lookbook-white);
  --lookbook-tooltip-bg: var(--lookbook-accent-500);
  --lookbook-tooltip-text: var(--lookbook-white);
  --lookbook-dropdown-bg: var(--lookbook-toolbar-bg);
  --lookbook-dropdown-text: var(--lookbook-text);
  --lookbook-dropdown-divider: var(--lookbook-divider);
  --lookbook-scrollbar: var(--lookbook-base-200);
  --lookbook-scrollbar-hover: var(--lookbook-base-300);
  --lookbook-toolbar-bg: var(--lookbook-white);
  --lookbook-toolbar-divider: var(--lookbook-divider);
  --lookbook-nav-text: var(--lookbook-text);
  --lookbook-nav-toggle: var(--lookbook-base-500);
  --lookbook-nav-icon-stroke: var(--lookbook-accent-500);
  --lookbook-nav-item-hover: var(--lookbook-base-100);
  --lookbook-nav-item-active: var(--lookbook-accent-50);
  --lookbook-input-bg: var(--lookbook-white);
  --lookbook-input-border: var(--lookbook-base-300);
  --lookbook-input-border-focus: var(--lookbook-accent-200);
  --lookbook-input-text: var(--lookbook-base-600);
  --lookbook-input-text-placeholder: var(--lookbook-base-400);
  --lookbook-input-toggle: var(--lookbook-base-300);
  --lookbook-input-toggle-active: var(--lookbook-accent-500);
  --lookbook-prose-bg: var(--lookbook-white);
  --lookbook-prose-text: var(--lookbook-base-600);
  --lookbook-prose-link: var(--lookbook-accent-900);
  --lookbook-tabs-text: var(--lookbook-base-500);
  --lookbook-tabs-text-hover: var(--lookbook-base-700);
  --lookbook-tabs-text-disabled: var(--lookbook-base-300);
  --lookbook-tabs-border-active: var(--lookbook-accent-400);
  --lookbook-viewport-handle: var(--lookbook-white);
  --lookbook-viewport-handle-hover: var(--lookbook-draggable-hint);
  --lookbook-viewport-handle-icon-stroke: var(--lookbook-base-300);
  --lookbook-viewport-handle-icon-stroke-hover: var(--lookbook-base-700);
  --lookbook-sidebar-bg: var(--lookbook-base-50);
  --lookbook-page-bg: var(--lookbook-white);
  --lookbook-drawer-bg: var(--lookbook-base-50);
  --lookbook-params-editor-bg: var(--lookbook-white);
  --lookbook-header-bg: var(--lookbook-accent-600);
  --lookbook-header-text: var(--lookbook-white);
  --lookbook-header-border: var(--lookbook-accent-700);
  --lookbook-message-bg: var(--lookbook-white);
  --lookbook-message-border: var(--lookbook-divider);
  --lookbook-message-title: var(--lookbook-base-600);
  --lookbook-message-text: var(--lookbook-text);
  --lookbook-page-header-bg: var(--lookbook-base-50);
  --lookbook-page-header-text: var(--lookbook-text);
  --lookbook-page-header-border: var(--lookbook-divider);
  --lookbook-embed-title: var(--lookbook-text);
  --lookbook-branding-text: var(--lookbook-header-text);
}

/*# sourceMappingURL=indigo.css.map */
