<%= render_component_tag id: id,
  class: "w-full drop-shadow" do %>
  <div>
    <iframe
      id="<%= id %>-iframe"
      src="<%= embed_path %>"
      frameborder="0"
      class="w-full transition-all"
      :style="`height: ${cssHeight}`"
      data-lookbook-embed></iframe> 
  </div>
<% end %>