<%= render_component_tag id: id,
  class: "w-full drop-shadow" do %>
  <div>
    <iframe
      id="<%= id %>-iframe"
      src="<%= embed_path %>"
      frameborder="0"
      x-ref="inspector"
      class="w-full transition-[height] duration-150"
      :style="`height: ${cssHeight}`"></iframe> 
  </div>
<% end %>