<%= render_component_tag class: "w-full drop-shadow", "@navigation:start.window": "cleanup" do %>
  <div @dom:update-complete.window="morphComplete">
    <iframe
      src="<%= embed_path %>"
      frameborder="0"
      style="width: 100%",
      x-ref="iframe"
      @load="loadResizer"></iframe> 
  </div>
<% end %>