<%= render_component_tag id: id,
  class: "w-full" do %>
  <div>
    <iframe
      id="<%= id %>-frame"
      src="<%= embed_path %>"
      frameborder="0"
      x-ref="inspector"
      class="w-full transition-[height] duration-150"
      @dom:update-complete.window="resizeIframe"
      :style="`height: ${cssHeight}`"
      @load="loadResizer"></iframe> 
  </div>
<% end %>