:host {
  box-sizing: border-box;
  height: 44px;
  color: var(--lookbook-neutral-text-on-mid);
  background-color: var(--lookbook-accent-fill-mid);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD0AAAA9CAYAAAAeYmHpAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAPaADAAQAAAABAAAAPQAAAAAxGQuvAAANN0lEQVRoBe1aC4xdRRmeM+d5zz37aLdd2kJhDVSRbSultGQL1Q0goQaQgmuxQrLGBhq0aiJgowleiIYYApGNTdiGKCIGslUwkZCAaAtGgooSa1oMj6DQSIFCt9tt9+59nPH7Zs69u9v72O0j7K3sbGbPPXNm5sz3v+efI8RMmaHADAVmKDBDgRkKzFBghgIzFDjJKdDfnwnb0q4CDEsIhfoRKCtWrFhoCxEnUP//QT/11ENpgM0D9L6PDJcvuaDzHNf1VcqV+08q0IEQf7lyeX9YXxMrdfXJhx9uxticlI4Cp1VHx9Wt9edooKfNjsxHjvhhV9e9KSEy8sil9YgBYJpYVpxzTuecMDjoA6xtu8q3pWpv+dRlE3s18F2z5yhPiGyzZz/yrd5ecGuMq11dA6lVK5d0OULsRX0L6F+NPHkQvwuoqsn3YbUNp0M7fKezM4OpToKS9j0VBb4WUQB5JbDtB8DumwFwu2OJbTDHh+iLUn5AaugaeOhvSSWFpRw7UA6uKUvku86796yTALIQqRS5JXSlfpJzQrgq8Jtw5bOUcpxIt7HdPJcKXtlU9PekTWmJz1/ScdNybR/GpKUhibCgLfo6RZVc1IAsTwOUwgb3AQ5ALSeNa0pX6ZIAEtwVCoYMwEkAEEpXMdzSEq3LZLqdnp5KW9AwBOhdf+2itCdj13aUtMFZDdoBEaQWec8jEQAyAHAAsyANElwGZ5UxZBbacQ8V4RXEy4Igz6aluK27OwO6NGD5bX9/iEUeNJwmZwnM06Cpq+So7ySSAFAEzLbvfXujevqxh9SGG9YpV5rnLuwDgacCR/cBYX516qkXnFbNA0w7KQAiJhhh2Rq046bKnF59/iK15Z6Muv66KzXnfVuoqy6/SBUOv6dU7l2lRverr1y31hhCh2JOwkFKXAB3tBocbPKdezo7e+dVc4nTBp6c05ZZGzIs2CGn4YNR//X3HUrl96vR4XdU7/VrYbSEWv+FyxXQKpXdq1TxgLrtGxtU4CaGDUbN6HcCPlGTwLEPpJyW2zo7750NoJh+mktbc/g1Ld7kNhZJjtMdEfQHb7+hVJxTuZGDavOt39RtLZGrnnz8EbVvzytq2y/6VVtEG5DotU0RB8dhI4TEHNIHxz3OF4MwMeZ8bfHiH5/S2TkwvT59zcWrznSpt4isDGjorW1Ab1h3lXrpT8+ou+68XUVpui+AAUBKR+jZKgSHSZx0GobOgUsjYF7RZkMqaP09n5Zf94vnzUkVDY+VZdybufvQ/2cyGelAV2mESqA9ly4LwFBppaPEitPQ+YFxW5QGcthF35Lrkh4AYp6SwROSBEAgAwKg7oNeTLto61h79uz3XRv0tyCEQhCqI3L5orBdSxxGyyjqcC6H/9w2F8Rodlj/jkkjATRFKWCzROBLEedHMJGFnhKxqi+8OC88EccL2lq2P/rowALLgoub5gIpFeKDD9ooclyM5oK0sHjcFYuTr499SQz2LRRzAtzEWEi444lCoYBnYjQKvbvfenfw9kYAzAVpTl8xf/4E8mNxWDyAl/Ih7FmjxAr8BkhNMXKYY3BjQSIgAkR95/0PPpxpFMBlGNQzxs6MwnTYCeNj27bWVwNBYyKuisp+pl0qF5abeh4inofIFEG3+2AvovKLGu1HBCtcAk1jBU5PCbRFA6iJ4QA0d2IS+2tt3X+/du0lbY2Gc8J6Fra36gVbgrE2/C4Mjo7SqnDXgEzAwlIz/KQ/dmUKFl+HoIev+OwFi5Rq4E0H0Z+35OMIUIx4l0DTHU0AWO2ersihiGM3hq0okgkqlOJ1pSqzMHxPIxRtyLiQWa3RH3EZ4m8LfzRkUy1xsWjGCLi6Yl4U4K8sKzMFMzjVN5zYfmVks+eduSvw1BASIGBvUbsgKvWkBTxmNzgsjBpB2BXTm2tXOOnYBuhg+a74jxHpsXBU46km1qU2HcVRDTDGgojDFgDx2w2Ap+YSypxmjziJimv2rvKgrAXw0fTv9Nko9jSFm1ORTROccJU9PT0ScQbjS714AphKKXcbpwsYKXfsuAPxbM0ytclrDq98cMMNl7UjG+tWPqnTMjDQY2OVz2A1WlQtJhTKosu26tXG7sw84+7LbC4Qgr+CtjrATrxln9Mk/mBy93VAHvmI4gjQ9x8taIh3ApqADejAFn/t7u7+kIxZRt544zXzEVE+0d29fUrvLOs0DRD2Du/RXbEkunkkbSrujQoj+NTKjSt2aYWiWPr6P56/E53rcFtg9yUKs1Li5RWdW5BKOvbyxK+f3ozRHaOvvXR04s1XOlJsRhIfHiex3sh8oHnSyny5RAjKPLlENhXkLiAN+lOMrQvah/oAeBG1p6NjKpnTjMxklDSJRmNEzjqrD05HPIM58sRwLGVtFEVjoJMMCCaqCZwJQJ1xSfS/tFFBSnlyX4Axlo7k5AEsejFSxlXFk0mOJ/v6/M0bezs+tmDeLRDPLWDRd0Hkm6UMfonfo6BuEer5u2MBfToGadASB3Mms1kbsCYGwSaVKkLQPPJxmCCcpKSRW6NU+UgnYdFDQHzxqqV3t3NYYpQsbNHm4mTxVmRvnsPzLICxrwrDiEdK2Lq6vMauI5l/e3OSV1Y+Pq2t7VRMiNSHyYhqMHW4jBk0lxl7O57ZjrLNg4RwYZBarKN2+cyqZV2CebkS4SCiGLentWn+i6Hr7gL3XwUBh0tpKc45/kyN91Qnrhe/CbrQB4mo/cYqT5YvX+6CYgfwaPxCyLHalQum7vOa9OMBHxfkOKlbkPyraVw2fnXdYhk4I4gW9BwkHk9QIK66UvRNOrnkDnm6Mpae5iED36mJgRgaoAm82Bxagz2XXtpCtcDz+oWdcIo5yEnQUyfzeK1bS1waB5pHRJzDFtZzuOBn9dLXt8lHlD6oQWuO04Di6Ndh9pSGMVQCR8nMrlpoc1zcgxBRmNZJS5yq6qwtt8B8X5hyFdJ6BK7TzaEvD6dt8WDoizU9OEZeufInbcuW9c2dsJrEV2PTMQnQcc9pxPTWEi923bGMiwZtWXUNS7L9HMQidGrZ9Qg04TTFFpVxAOdiTXlNyMwYTjPidZP0s+earGypH67IApkKBvB3EVIxjIOK3c2B90I10CMcPKUEAvqVRRuLoBErZVw4B144VC8G5zNH2IPgjDZ+HEMC+Djs12kozNneKtQZp4Q8/4YrlCqwtdFTX1p/jXr55X+qa9ea4yamsDmexrR05IwDyRjGOEaSA9Vh+upniAtorMeKWYQowkqWqYuneiG1riUuj9dpGp6kDmZ6e+ueXHpCHnCxP+E7CT7wEyMIkEuWnq2G9vxZqaE31NZ77lIRdnEOMzPwDC/+7QUsV6mdO1/SR0ocq5mFNJcxbrQHkBacriA5APBiNzB4xDhB0bXLKZt9KaQDZzFJiRF+lcmS9GU+PKn2vwcH64LOI3+qzS4Uuwi+Z3PwmCitUMQLl50rmtoXCRHNFZdf9TmRU3nhOwUhsR18dddupJjz4tkdz4pRhCW2A9LZAWazkYKOhZ+mEc8Jr4Aax1lAv5YNxMj5J5RWVyzzQGWmjizkvfDweGrh08uXLJnwgiNuUp5804g134el4b1ULXK+vSWlHt/2kHps4Ofqy1+8Wh8hsT2EDvPKdfLoSIu1Xqex8p7Ps3SsG89CcB7wEcygpVY5+4w567Fh0KDNAf1xgY5bpNhY611sv2jlsu8AZF5zQB8VQ2+DwFhnACGgluawDIz3TZG5911j1EgkGlEawZLfxtTK9SyGuYPwSqBRndLd3RmVQdNPYvDxVLz08xhfk8qbNm1CxphfHIK7+BCPnCaA0gGi5hg5inC3HDShT8nKl7a2/LTLAmjPMTFClDbXjtbWiu/bJug0XizmtbTNwikFgZ6QAo3/zcBA7c396tV7C6BIORcBayvyOEcr4JiI2m1Bz1mLeRpi6D2yjn6AY0VtjuCUk5WaRKY5bfEg89lDo6IpbQ29sX+/TnaOB1MBeu7paXxewDOZE1OKQLRt265ozZo+v2p0tg0m1RYpLqSQTzZKGhBaSAoL0FlR4Mb0dTSbhVyYNn1BtzzGOmB7zPM02CrMKe74wffPgNqYjnpkjX9IG9mIG7NjOfDjE28ak7a5oTr3k/fBDFcWRoEwNPyoVouvPtrlwb4WYYg6jkOBqezHjfhib8CPftiHOXe9BeYmhy5Nb1fJfwyrXio4zW4ksDmNrD7oaFrtQIr33z+8N3Zz/602DqAZMWkh1d6EL+cpILjtIOSKmUTHQOz19bVYGMWVbaYduWode8H4iSJcmec4wochQdFz6l+T/aPznhV5OkpCHGtM/3Fc8X6Fj+C319orX/iJHzWFkZ8vGSxeJfNuR/FO2zU7NX2uhnHppkD146upMazKMp9wZjSTK0z5+YvvWDgynHseD9aQVjW3SMmMYxZo7BXjfzFEGDmUhxJWL4P8GjHXvMez3utQiON4rk3mCauoAykartpMg1RAIizEkK50Bbfw+TgrRg9mxdatN+WXLr07vXPnrYfQSe3ahUglKf8DzHsPmyh668wAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: var(--lookbook-size-md) 2px;
  background-size: 42px;
}

#container {
  display: flex;
  align-items: stretch;
  height: 100%;
  padding-inline: var(--lookbook-size-md) var(--lookbook-size-2xs);
}

#logo {
  display: flex;
  align-items: center;
}

#logo ::slotted(*) {
  display: block;
  /*height: var(--lookbook-size-lg);*/
  /*transform: scale(97%) rotate(-3deg);*/
}

#logo,
#links,
#actions {
  position: relative;
  top: -1px;
}

#links {
  margin-left: auto;
  margin-right: var(--lookbook-size-xs);
  display: flex;
  align-items: center;
  column-gap: var(--lookbook-size-2xs);

  ::slotted(lb-button) {
    padding-block: var(--lookbook-size-2xs);
    opacity: 0.9;
  }

  ::slotted(lb-button:hover) {
    opacity: 1;
    /*text-decoration: underline;
    text-underline-offset: 2px;*/
    background-color: color-mix(in oklab, var(--lookbook-accent-fill-mid), black 10%);
  }

  ::slotted(lb-button[active]) {
    pointer-events: none;
    cursor: default;
    opacity: 1;
    /*text-decoration: none;*/
    background-color: color-mix(in oklab, var(--lookbook-accent-fill-mid), black 20%);
  }
}

#actions {
  display: flex;
  align-items: center;
  border-color: color-mix(in oklab, var(--lookbook-accent-fill-mid), white 20%);

  ::slotted(lb-button) {
    color: var(--lookbook-neutral-text-on-mid);
  }

  ::slotted(lb-button:hover) {
    background-color: color-mix(in oklab, var(--lookbook-accent-fill-mid), black 8%);
  }

  ::slotted(lb-button:active) {
    background-color: color-mix(in oklab, var(--lookbook-accent-fill-mid), black 14%);
  }
}
