name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rails_version: ["5.2.6", "6.0.4.4", "6.1.4.4", "7.0.2.3", "main"]
        ruby_version: ["2.5", "2.6", "2.7", "3.0", "3.1"]
        exclude:
          - rails_version: "5.2.6"
            ruby_version: "3.0"
          - rails_version: "5.2.6"
            ruby_version: "3.1"
          - rails_version: "6.0.4.4"
            ruby_version: "3.0"
          - rails_version: "6.0.4.4"
            ruby_version: "3.1"
          - rails_version: "7.0.2.3"
            ruby_version: "2.5"
          - rails_version: "7.0.2.3"
            ruby_version: "2.6"
          - rails_version: "main"
            ruby_version: "2.5"
          - rails_version: "main"
            ruby_version: "2.6"
    steps:
      - uses: actions/checkout@master
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: gems-build-rails-${{ matrix.rails_version }}-ruby-${{ matrix.ruby_version }}-${{ hashFiles('**/Gemfile.lock') }}
      - name: Run specs
        run: |
          bundle config path vendor/bundle
          bundle update
          bundle exec rspec
        env:
          RAISE_ON_WARNING: 1
          MEASURE_COVERAGE: false
          RAILS_VERSION: ${{ matrix.rails_version }}
