[data-component="preview-embed"] {
  border: 1px solid var(--lookbook-app-divider-color);
  border-radius: 4px;
  overflow: hidden;

  .embed-preview {
  }

  .embed-drawer {
    border-top: 1px solid var(--lookbook-app-divider-color);
  }
}
