<%= render_component_tag tag_name,
  href: @href,
  class: [
    "bg-white text-lookbook-button-text #{padding}",
    {
      "hover:text-lookbook-button-text-hover": !@disabled,
      "cursor-[not-allowed] opacity-50": @disabled
    }
  ],
  disabled: @disabled do %>
  <span x-ref="icon">
    <%= icon || render_component(:icon, @icon, size: icon_size, ":class": "{'animate-spin': _spinning}") %>
  </span>
  <% if @tooltip %>
    <label class="hidden" x-ref="tooltip"><%= @tooltip %></label>
  <% end %>
  <div><%== content if content %></div>
<% end %>