[data-component="system-message"] {
  font-family: var(--lb-font-prose);
  color: var(--lb-system-message-color);
  background: var(--lb-system-message-background-color);
  border: 1px solid var(--lb-system-message-border-color);
  padding: var(--lb-spacing-xl);
  max-width: 680px;
  margin-top: var(--lb-spacing-lg);
  margin-inline: auto;
  border-radius: var(--lb-border-radius-md);

  &.with-icon {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: var(--lb-spacing-md);
    padding-left: var(--lb-spacing-lg);
  }

  .message-title {
    font-weight: var(--lb-font-weight-bold);
    font-size: var(--lb-font-size-md);
    color: var(--lb-system-message-title-color);
    margin-bottom: var(--lb-spacing-xs);
  }

  .message-text {
    font-size: var(--lb-font-size-sm);
  }

  .message-icon svg,
  .message-icon .icon {
    width: 40px;
    color: var(--lb-system-message-icon-color);
  }

  .message-icon > svg {
    margin-right: var(--lb-spacing-2xs);
  }

  &[data-theme="error"] {
    .message-title {
      color: var(--lb-system-message-title-color-error);
    }

    .message-icon svg {
      opacity: 0.6;
      color: var(--lb-system-message-icon-color-error);
    }
  }
}
